<ul class='kind_links'>
  <% Organization.available_suborganization_kinds.each do |kind| %>
    <li>
      <%= link_to t("organization.kind.#{kind}"), [:manage, kind.pluralize] %>
    </li>
  <% end %>
</ul>
