<div class='row-fluid'>
  <%= f.simple_fields_for :schedules do %>
    <div class="span2">
      <%= f.input :day, :as => :select, :collection => Schedule.days_for_select, :input_html => { :class => 'span12' } %>
    </div>
    <div class="span2">
      <%= f.input :from, :as => :string, :input_html => { :class => 'span12', :value => f.object.from ? l(f.object.from, :format => '%H:%M') : '' } %>
    </div>
    <div class="span2">
      <%= f.input :to,   :as => :string, :input_html => { :class => 'span12', :value => f.object.to ? l(f.object.to, :format => '%H:%M') : '' } %>
    </div>
  <% end %>
</div>

