<div class="virtual_tour_image">
  <%= image_tag_for(f.object.attachment_url, 334, 164, true, 'n') if f.object.attachment_url? %>
</div>
<%= f.input :link %>
<%= f.input :attachment %>
<%= f.link_to_remove t('remove_virtual_tour'), :class => 'remove_virtual_tour' %>
