<div class='form_view'>
  <h2><%= parent.title if respond_to?(:parent) && parent %></h2>
  <h1><%= t "manage.edit_#{resource.class.model_name.underscore}" %></h1>

  <% if resource_class == Organization %>
    <%= render :partial => 'form_wrapper' %>
  <% end %>
</div>
