<%= simple_nested_form_for resource,
                           :url => resource_path,
                           :defaults => { :input_html => { :class => 'span8', :rows => 4 } },
                           :html => { :novalidate => true, :class => "form-horizontal #{resource.class.name.singularize.underscore} #{resource.class.superclass.name.underscore}" } do |f| %>

  <%= render :partial => 'fields', :locals => { :f => f } %>

  <div class="form-actions btn-group">
    <%= link_to "&larr; Назад".html_safe, :back, :class => 'btn' %>
    <%= button_tag 'Сохранить'.html_safe, :class => 'btn' %>
  </div>
<% end %>
