<div class="show">
  <h1>
    <%= resource.title %>
    <%= link_to t("edit_#{resource.class.model_name.underscore}"), [:edit, :manage, resource], :class => 'edit_link' %>
  </h1>

  <% if resource_class == Organization %>
    <%= link_to t("посмотреть в публичном виде"), organization_path(resource), :class => 'edit_link' %>
    <%= render 'manage/organizations/organization' %>
  <% end %>
</div>
