<% collection.each do |item| %>
  <%= render :partial => 'item', :locals => { :item => item } %>
<% end %>

<% unless @presenter.collection.last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @presenter.collection, "Еще вопросы (#{@presenter.current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
  </li>
<% end %>
<script type="text/javascript">
  google_ad_client = "ca-pub-4981169986614180";
  google_ad_slot = "6687067759";
  google_ad_width = 728;
  google_ad_height = 90;
</script>
<!-- Тест -->
<script type="text/javascript" src="//"></script>
