<div class="suborganization_info entertainment">
  <table>
    <tr>
      <td class='border'>
        <%= entertainment.htmlise_title_on_show %>
      </td>
      <td>
        <%= entertainment.iconize_info %>
        <div class="details">
          <%= entertainment.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if entertainment.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render entertainment.gallery_images, :rel => "entertainment_gallery_#{entertainment.id}" %>
      </ul>
    </div>
  <% end %>
</div>
