#orange-border
  width: 480px !important

#orange_border_row
  height: 20px !important

#orange-border td
  border-bottom: solid 1px #ff9933

#orange-button
  td
    display: block
  a
    padding: 0px 100px 10px 0px !important

.middle
  background: #cdcdcd

h3
  font-size: 18px !important

#main
  margin-bottom: 20px !important

table.columns
  .text-pad
    padding-left: 10px !important
    padding-right: 10px !important
  .right-text-pad
    padding-right: 10px !important

.content_row
  width: 480px !important

.line_height
  height: 19px !important
  padding-bottom: 0px !important

#title
  padding-top: 15px !important
  height: 5px !important
  h3
    height: 19px !important

#right_content, #right_content_stat
  font-size: 12px !important
  padding-left: 10px !important
  a
    font-size: 12px !important

#left_content, #right_content_stat
  padding-top: 10px !important

#time
  color: #9a9a9a
  font-size: 12px !important

#middle
  background: #fff
  margin: 20px 30px 10px 30px !important

.custom_column_width
  width: 520px !important

span
  font-size: 12px !important
  color: #000

#title
  margin-bottom: 15px !important

#whitespace
  height: 100px

#header
  background-color: #fff !important

.border_grey
  border: 1px solid #ccc
  border-bottom: none
  padding: 5px 20px 0 0 !important

.body
  margin-top: 10px !important

.dashed_border
  border-bottom-style: dashed
  border-bottom-width: 1px
  border-bottom-color: #ccc

.another_custom_column
  width: 100% !important
  padding-left: 20px !important

.eight_half
  width: 400px !important

#answer_button_reply
  padding-left: 15px !important
