<div class="suborganization_info travel">
  <table>
    <tr>
      <td class='border'>
        <%= travel.htmlise_title_on_show %>
      </td>
      <td>
        <%= travel.iconize_info %>
        <div class="details">
          <%= travel.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if travel.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% travel.images.each do |image| %>
          <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :travel_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

