<div class='suborganization_info travel'>

  <div class='title'><%= travel.title.text_gilensize %></div>

  <%= travel.htmlise_offers_and_features_on_show %>

  <%= content_tag :div, travel.description.as_html, :class => :description if travel.description.present? %>

  <% if travel.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render travel.gallery_images, :rel => "travel_gallery_#{travel.id}" %>
      </ul>
    </div>
  <% end %>

</div>
