<div class="suborganization_info travel">
  <table>
    <tr>
      <td class='border'>
        <%= travel.htmlise_title_on_show %>
      </td>
      <td>
        <%= travel.iconize_info %>
        <div class="details">
          <%= travel.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if travel.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render travel.gallery_images, :rel => "travel_gallery_#{travel.id}" %>
      </ul>
    </div>
  <% end %>
</div>

