.map_projects_list
  list-style-type: disc

.map_project_wrapper
  .left
    border: 1px solid black
    float: left
    width: 200px
    height: 300px

    ul
      list-style-type: disc

  .right
    border: 1px solid black
    float: left
    width: 800px
    height: 300px
