.sections_wrapper
  .sections
    ul
      list-style: none

      li
        background-color: #cdcdcd
        padding: 5px
        margin: 10px 0

        .sortable_handle
          +inline-block
          cursor: move

        a
          text-decoration: none

