.sections_wrapper
  .sections
    ul
      list-style: none

      li
        background-color: #cdcdcd
        padding: 5px
        margin: 10px 0

        .sortable_handle
          +inline-block
          cursor: move

        a
          text-decoration: none

.section_show
  h3
    +clearfix

  .edit_section
    div.section_title
      float: left

    input[type='submit']
      margin: 0 0 0 10px

  .new_section_page
    clear: both
