.sections_wrapper
  .sections
    ul
      list-style: none

      li
        background-color: #cdcdcd
        padding: 5px
        margin: 10px 0

        .sortable_handle
          +inline-block
          cursor: move

        a
          text-decoration: none

.section_show
  form
    +inline-block
    margin: 0 0 20px 0

    .section_title
      +inline-block

      input
        border: 0

        &:focus, &:hover
          border: 1px solid #000
          outline: none
