@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/css3'

@import 'jquery-ui/jquery-ui'

@import 'jwysiwyg'

div.container
  margin: 0 20px

div.navbar
  height: 30px

  div.check_boxes
    margin: 15px 0

    .checkbox
      +clearfix
      display: block

      input
        float: none

      label
        float: left
        width: 96px

#party_description
  height: 250px

