.form_view.discount
  position: relative

  textarea#coupon_origin_url, textarea#certificate_origin_url
    height: 21px

  .clear_autosuggest_link
    position: absolute
    right: 240px
    top: 92px

.show.discount
  .column
    width: 550px

