.form_view.discount
  position: relative

  .place_fields
    +clearfix

    .fields
      margin: 0 0 0 60px
      padding: 0 25px 5px
      position: relative
      width: 685px

      div.string
        clear: both

        label
          display: block
          float: none
          margin: 0
          text-align: left

        input
          width: 450px

      .autosuggest
        width: 300px

      .choose_coordinates
        left: 500px
        padding: 0 0 0 20px
        position: absolute
        top: 25px

      .remove_nested_fields
        left: 695px
        position: absolute
        top: 25px

    .add_nested_fields
      margin: 0 0 0 82px


  .input
    .text
      div
        margin: 0 0 0 190px

  .markItUpContainer
    margin: 0 0 0 185px

    .markItUpHeader
      width: 800px

    textarea
      height: 400px
      width: 790px

  textarea#coupon_origin_url, textarea#certificate_origin_url
    height: 21px

.show.discount
  .column
    width: 550px

    table, tr, td
      border: 1px solid #000

    td
      padding: 0 5px

.without_organization,
.with_organization
  margin-bottom: 15px

  ul
    margin-left: 10px

  .discount_info
    +clearfix
    margin-top: 20px
    padding: 5px

    &:hover
      background: #EDEDED

    .poster,
    .details
      float: left

    .poster
      margin-top: 7px

    .details
      margin: 0 0 0 15px

      .title
        margin-bottom: 10px

      .label
        font-weight: bold

      table, tr, td
        border: 1px solid #000

        td
          padding: 0 3px

          &.code
            width: 40px
          &.phone
            width: 140px
          &.state
            width: 100px

.without_organization
  .empty
    font-style: italic
    color: #A9A9A9
