.main_page_reviews_autocomplete
  width: 500px

.main_page_reviews
  margin-bottom: 30px

  padding: 20px 0

  li
    border: 1px solid #ccc
    clear: both
    margin: 0 0 10px 0
    overflow: hidden
    background-color: #fff
    padding: 5px

  .sortable_handle
    float: left
    cursor: move
    height: 100px
    line-height: 100px
    padding: 0 10px
    background-color: #efefef
    margin-right: 5px

  .image
    float: left

  .inactive
    font-style: italic

  img
    display: block
    margin: 0 10px 0 0
