<% review.gallery_images.each do |image| %>
  <li>
    <div class='image_wrapper'>
      <%= image_tag resized_image_url(image.file.url, 130, 100), :size => '130x100', :alt => image.description  %>
    </div>
    <%= link_to "Удалить", my_review_gallery_image_path(review, image), :method => :delete, :remote => true, :class => 'ajax_delete' %>
  </li>
<% end %>
