<li>
  <strong>Заголовок и описание</strong> можно <%= link_to 'отредактировать', edit_my_review_path(@review.id) %>.
</li>
<li>
  В качестве <strong>постера</strong> для фотообзора используется галерея из первых шести фоторафий.
  Вы можете <%= link_to 'отсортировать фотографии', images_add_my_review_path(@review.id) %>.
</li>
<li>
  К обзору можно <%= link_to 'добавить фотографии', images_add_my_review_path(@review.id) %>.
  Чтобы изменить описание фотографии, просто нажмите на него.
</li>
