<li>
  <strong>Заголовок и описание</strong> можно <%= link_to 'отредактировать', edit_my_review_path(@review) %>.
</li>
<li>
  Вы можете <%= link_to 'отсортировать фотографиями', images_add_my_review_path(@review) %>.
</li>
<li>
  К обзору можно <%= link_to 'добавить фотографии', images_add_my_review_path(@review) %>.
</li>
