<%= f.input :content, :as => :text, :input_html => { :id => 'html', :class => 'markitup with-preview' }  %>

<%= content_for :review_preview do %>
  <div class="preview_wrapper">
    <div class="gallery_images_help">
      <div class="orange cell">
        Помощь
      </div>

      <div class="arrow_box cell">
        <ul>
          <li>Заполните основные поля на форме слева</li>
          <li>На следущем шаге можно будет добавить фотографии загрузив из с вашего компьютера, из альбома <strong>ВКонтакте</strong> или <strong>Яндекс.Фото</strong></li>
          <li>Минимальное количество фотографий <strong>6 шт.</strong></li>
        </ul>
      </div>
    </div>

    <%= link_to 'Продолжить', '#', :class => 'btn btn-orange btn-block btn-lg js-submit' %>

    <h1>Предварительный просмотр</h1>
    <div class="reviews_show">
      <%= render :partial => 'my/reviews/review', :locals => { :review => ReviewDecorator.new(@review) } %>
    </div>
  </div>

  <div class="loader"></div>
<% end %>
