<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_reviews_wrapper review_form">
    <h1>Добавление обзора</h1>

    <% Review.descendant_names_without_prefix.each do |name| %>
      <ul>
        <li><%= link_to "new #{name}", ["new_#{name}", :my, :reviews] %></li>
      </ul>
    <% end %>
  </div>
</div>
