<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_reviews_wrapper review_form">
    <% Review.descendant_names_without_prefix.each do |name| %>
      <div class="info_wrapper">
        <h4><%= t("review.title.#{name}") %></h4>
        <p><%= t("review.about.#{name}") %></p>

        <%= link_to 'Добавить', ["new_#{name}", :my, :reviews], :class => 'button' %>
      </div>
    <% end %>
  </div>
</div>
