<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_reviews_wrapper review_form">
    <h1>Редактировать <%= t("#{@review.class.model_name.human}") %></h1>

    <%= render 'form' %>
  </div>
</div>
