<div class='vote'>
  <div class='time'><%= time_ago_in_words(feed_vote.created_at) %> назад</div>
  <%= render partial: "feeds/feed_vote_#{feed_vote.feedable.voteable.class.name.underscore}", :object => feed_vote.feedable unless feed_vote.feedable.voteable.class.name.underscore == "nil_class" %>
</div>
