<div class='poster'>
<% unless feed_visit_organization.feedable.visitable.logotype_url == "" %>
    <%= link_to image_tag(resized_image_url(feed_visit_organization.feedable.visitable.logotype_url, 65 , 65 ), :size => '65x65'), feed_visit_organization.feedable.visitable %>
<% else %>
  <%= link_to content_tag( :span, "",:class => "stub_poster " + feed_visit_organization.feedable.visitable.priority_suborganization_kind.first) %>
<% end %>
</div>
<p>
<%= link_to(feed_visit_organization.feedable.visitable.title, feed_visit_organization.feedable.visitable) %>
</p>
<p>
Хочет посетить/посетил
</p>
<div class='time'><%= time_ago_in_words(feed_visit_organization.created_at) %> назад</div>
