<div>
  <div class='poster'>
    <%= link_to image_tag(resized_image_url(feed_vote_work.voteable.image_url, 87 , 65 ), :size => '87x65'), [feed_vote_work.voteable.contest, feed_vote_work.voteable] %>
  </div>
  <%= link_to("Работа " + feed_vote_work.voteable.to_feed_title, [feed_vote_work.voteable.contest, feed_vote_work.voteable])  %>
</div>
<p>
Нравится работа
</p>
