<li>
  <div class="feed_wrapper">
    <% if feed.feedable.is_a?(Discount)  %>
      <%= render :partial => 'feeds/feed_discount', :object => feed %>
    <% else %>
      <%= render :partial => "feeds/feed_#{feed.feedable.class.name.underscore}", :object => feed %>
    <% end %>
  </div>
</li>
