<div class='new_session'>
  <% if flash[:notice] %>
    <div class='flash_message'>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= render :partial => 'commons/social_auth', :locals => { :no_js => true } %>
</div>
