<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_posts_wrapper post_form">
    <h1>Редактирование поста</h1>

    <%= render 'form' %>
  </div>
</div>

