.content

  .organization_list
    border: 1px solid #bfbfbf
    margin-bottom: 10px

    li
      +clearfix
      border-bottom: 1px solid #bfbfbf
      padding: 10px
      &:last-child
        border-bottom: none

      abbr
        float: left
        display: block
        +clearfix
        cursor: help
        width: 10px
        height: 10px
        +border-radius(10px)
        text-indent: -9999em
        margin: 7px 10px 0 0
        &.fresh
          background-color: #059404
        &.talks
          background-color: #01499d
        &.waiting_for_payment
          background-color: #ff7e00
        &.client
          background-color: #d00000
        &.non_cooperation
          background-color: #000

      .info
        float: left
        width: 588px
        .title
          font-size: 16px
        .address
          color: #707070
          font-size: 12px

      .details
        float: left
        width: 570px
        text-align: right
        .categories
          color: #707070
          font-size: 12px
          text-transform: lowercase

  .organization_show
    +clearfix

    .left
      float: left
      width: 830px
      margin-right: 20px

      .info
        +clearfix
        margin-bottom: 20px
        .image
          float: left
          width: 150px
          height: 150px
        .details
          margin-left: 160px

          .manager
            +clearfix
            .label
              float: left
              margin-right: 5px
            .view
              float: left
              .empty
                color: #d00000
              .edit
                margin-left: 10px

            .input
              float: left
            .actions
              float: left

      .activities
        h2 a
          font-size: 14px
          margin-left: 10px
        table
          width: 100%
          font-size: 12px
          margin-bottom: 15px
          thead
            .activity_at
              width: 125px
            .title
              width: 269px
            .status
              width: 130px
            .manager
              width: 130px
            .contacts
              width: 130px
            .edit
              width: 16px
          th
            color: #707070
          th, td
            padding: 3px
            &:first-child
              padding-left: 0
            &:last-child
              padding-right: 0
          td
            vertical-align: top
            &.edit a
              display: block
              +clearfix
              width: 16px
              height: 16px
              text-indent: -9999em
              background: transparent image_url('crm/icon_edit.png') no-repeat center center
          tr:hover
            td
              background-color: #efefef

    .right
      float: left
      width: 348px
      background-color: #ededed
      border: 1px solid #bfbfbf
      h2
        font-size: 24px
        padding: 10px
        margin-bottom: 0
        a
          font-size: 14px
          margin-left: 10px
      .contacts
        border-top: 1px solid #bfbfbf
        li
          border-bottom: 1px solid #bfbfbf
          padding: 10px
          &:last-child
            border-bottom: none
          p
            margin-bottom: 0
          .name
            a.opened:after
              content: ' \2013'
            a.closed:after
              content: ' \002B'
          .post
            color: #707070
          .details
            display: none
            font-size: 12px
            span.empty
              color: #707070
            .edit a
              color: #222
