<%= link_to 'Добавить баннер', new_manage_banner_path, :class => 'button floatr' %>

<h3>Баннеры</h3>

<ul class='collection'>
  <% if collection.any? %>
    <%= render collection %>
  <% else %>
    <div class='empty'>Нет ни одного баннера</div>
  <% end %>
</ul>
