.account_show

  .left
    float: left
    width: 208px
    border: 1px solid #ccc

    .image
      position: relative
      width: 200px
      margin: 4px

    h1
      font-size: 16px
      line-height: 24px
      text-align: center

    .social_actions
      +clearfix
      +background(linear-gradient(top, #fff, #e8e8e8))
      border-top: 1px solid #ccc

    .change_friendship
      font-size: 12px
      border-bottom: 1px solid #ccc
      padding: 5px
      margin-bottom: 5px

      li
        +toggable-links(4px, 5px)
        width: 130px
        text-align: center
        margin: 0 auto

    .friends_counter
      font-size: 12px
      +clearfix
      margin: 5px

    .avatars
      +avatar-list-style


  .right
    margin: 0 0 0 220px

    .votes_header, .events_header, .comments_header
      background-color: #e8e8e8
      font-size: 14px
      margin-bottom: 20px
      padding: 1px 10px 2px

    .votes_list
      +clearfix

      ul
        li
          float: left
          margin: 0 10px 10px 0
          width: 315px

          .item
            .poster
              float: left
              margin: 0 10px 0 0

            .title
              font-size: 12px

            .kind
              color: #999

    .votes_toggle
      float: right
      height: 17px
      margin: -25px 5px 0 0
      width: 17px

      a.account_votes_toggle
        +inline-block
        white-space: nowrap
        margin: 0 0 1px 0
        background: transparent image_url('public/account_actions_sprite.png') no-repeat center center
        height: 17px
        width: 17px
        &:hover
          text-decoration: none
        &:active
          margin: 1px 0 0 0

        &.closed
          background-position: 0 0
          &:hover
            background-position: 0 -34px
        &.selected
          background-position: 0 -68px
          &:hover
            background-position: 0 -34px

        &.opened
          background-position: -34px 0
          &:hover
            background-position: -34px -34px
        &.selected
          background-position: -34px -68px
          &:hover
            background-position: -34px -34px
