.account_show
  +clearfix

  h1
    font-size: 22px
    line-height: 24px
    margin: 0 0 5px 0

  .properties
    text-align: center
    margin-bottom: 5px

  .list
    min-height: 50px
    position: relative

    ul
      li
        float: left
        margin: 0 10px 10px 0
        width: 315px

        &.empty
          color: #ccc
          font-size: 20px
          margin-top: 20px
          text-align: center
          width: 100%

        .item
          .poster
            float: left
            margin: 0 10px 0 0

          .title
            font-size: 12px

          .kind
            color: #999

          .actions
            font-size: 11px
            width: 165px

    .pagination
      position: absolute
      bottom: 0
      right: 5px
      height: 50px
      width: 25px

      a
        +button-style
        display: block
        width: 23px
        padding: 1px 0 2px
        text-align: center
        +text-shadow(none)

        &:active
          +text-shadow(none)
          padding: 2px 0 1px

        &.disabled
          +background(linear-gradient(top, #efefef, #fff))
          +text-shadow(none)
          background-color: #efefef
          border: 1px solid #ccc
          color: #777
          &:hover
            +text-shadow(none)

  .left
    float: left
    width: 208px
    border: 1px solid #ccc

    .show_feeds,.show_friends
      +background(linear-gradient(top, #fff, #e8e8e8))
      height: 24px
      border-top: 1px solid #ccc
      padding-top: 5px
      font-size: 12px
      a
        margin-left: 10px
      .counter
        float: right
        color: #000
        margin-right: 5px

    .image
      margin: 4px
      position: relative
      text-align: center
      width: 200px

    h1
      text-align: center

    .user_actions
      font-size: 12px
      padding: 0 5px 0.1px

      li
        +toggable-links(4px, 5px)
        width: 160px
        text-align: center
        margin: 0 auto 5px


    .friends_counter
      +clearfix
      border-top: 1px solid #ccc
      font-size: 12px
      padding: 5px

    .avatars
      +avatar-list-style

  .right
    +clearfix
    float: left
    margin: 0 0 0 10px
    width: 980px

    .last_visit
      float: right
      font-size: 12px
      color: #999

    .link_to_social
      +clearfix
      font-size: 12px
      margin-bottom: 10px

    .account_info
      font-size: 12px
      .row
        margin-bottom: 5px

    .invitations_wrapper
      +clearfix

    .header
      background-color: #e8e8e8
      font-size: 14px
      margin-bottom: 20px
      padding: 1px 10px 2px

      h3
        width: 160px

        a
          color: #fff
          float: left

    .votes.header
      margin-top: 10px

    .messages.header, .events.header, .properties.header
      margin-bottom: 10px

    .visits.list
      height: 93px

      ul
        +clearfix

      .item
        .item_info
          margin: 0 0 0 65px

        .wanted
          margin: 4px 0 0 0

          .sended
            color: #ff6600

          a.invite
            +grey-button-style

    .votes.list
      +clearfix

    .comments.list
      +clearfix

      ul
        li

          margin: 0 0 5px 0
          width: 945px

          .item
            font-size: 12px

            .date
              color: #999
              float: left
              width: 145px

            .title
              float: left
              margin: 0 5px 0 0

            .body
              margin: 0 0 0 145px

    .events.list
      +clearfix
      margin: 10px 0 0 0

    #messages_filter, #events_filter
      +border-radius(0)
      +box-shadow(none)
      padding: 0
      margin: 0 0 10px 0

      ul
        padding: 0

      .ui-widget-header
        background: #fff

      .ui-tabs-panel
        +border-radius(0)
        padding: 0

      .ui-tabs-hide
        display: none

      .ui-tabs-nav
        height: 30px

        a
          position: relative

        .with_close
          margin: 0 15px 0 0

        .close
          margin: 4px 5px 0 0
          position: absolute
          right: 0

        .ui-state-active
          .close
            background-color: #fff

    #dialogs, #notifications, #invites
      +clearfix
      margin: 10px 0 0 0

      ul.account_messages
        li
          border-top: 1px solid #ccc
          margin: 0
          padding: 10px
          width: 960px

          &.unread
            background: #e8e8e8
          &.read
            background: #fff

          a.change_message_status
            display: none

          .item
            font-size: 12px

            img
              float: left
              margin: 0 10px 0 0

            span
              color: #999

            .avatar
              +avatar-style

            .body, .codes
              margin: 0 0 0 45px

            .date
              color: #999

            .bet_actions
              margin: 10px 0 0 0

              .bet
                +background(linear-gradient(#fdfefd, #ccc))
                +inline-block
                border: 1px solid #ccc
                color: #000
                margin: 0 5px 0 0
                padding: 1px 8px
                text-decoration: none

                &:hover
                  border: 1px solid #aaa

                &:active
                  +background(linear-gradient(#ccc, #fdfefd))

      ul.dialogs
        li
          +clearfix
          cursor: pointer
          border-top: 1px solid #ccc
          margin: 0
          padding: 10px
          width: 960px

          &.unread
            background-color: #e8e8e8

          &.read
            background-color: #fff

          &:hover
            background-color: #eee

          .item
            font-size: 12px

            img
              float: left
              margin: 0 10px 0 0

            span
              color: #999

            .avatar
              +avatar-style

            .info
              float: left

              .date
                color: #999

                .to_dialog
                  margin: 0 0 0 8px

            .body
              margin: 0 0 0 300px

              .name
                font-weight: bold

              .message
                +clearfix

    ul.dialog
      border: 1px solid #ccc
      margin: 5px 0 0 0
      max-height: 300px
      overflow-x: hidden

      li
        +clearfix
        margin: 0
        padding: 0 10px 10px 10px

        &:first-child
          padding-top: 10px

        a.change_message_status
          display: none

        .item
          font-size: 12px

          img
            float: left
            margin: 0 10px 0 0

          span
            color: #999

          .avatar
            +avatar-style

          .name
            font-weight: bold

          .info
            float: left

            .date
              color: #999

          .body
            margin: 0 20px 0 210px

    .private_message
      background: #e8e8e8
      border-left: 1px solid #ccc
      border-bottom: 1px solid #ccc
      border-right: 1px solid #ccc
      padding: 10px

      .avatar
        +avatar-style

      form
        margin: 0 0 0 45px

        textarea
          border: 1px solid #ccc
          height: 70px
          outline: none
          width: 905px

        input
          font-family: 'Verdana', 'Tahoma', sans-serif
          font-size: 12px
          cursor: pointer
          +inline-block
          font-size: 12px
          margin: 0 10px 0 0
          border: 1px solid #ccc
          background-color: #e8e8e8
          +background(linear-gradient(top, #ffffff, #cfcfcf))
          padding: 5px 15px
          &:hover
            +background(linear-gradient(top, #fff, #ddd))
            &:active
            +background(linear-gradient(top, #ddd, #fff))
            padding: 6px 15px 4px

    .properties_form
      border: 1px solid #ccc

      .properties_place, .button_place
        padding: 12px 0 12px 10px

        .line
          margin-bottom: 5px
          +clearfix

          > span,
          > div
            +inline-block

          span
            font-size: 12px

          input
            margin-left: 20px

          select
            margin-left: 91px

          &:last-child
            margin-bottom: 0

      .button_place
        border-top: 1px solid #ccc
        background-color: #e6e6e6

        .properties_submit
          +button-style

.message_form_wrapper
  form
    textarea
      border: 1px solid #ccc
      height: 200px
      outline: none
      width: 488px

    input
      font-family: 'Verdana', 'Tahoma', sans-serif
      font-size: 12px
      cursor: pointer
      +inline-block
      font-size: 12px
      margin: 0 10px 0 0
      border: 1px solid #ccc
      background-color: #e8e8e8
      +background(linear-gradient(top, #ffffff, #cfcfcf))
      padding: 5px 15px
      &:hover
        +background(linear-gradient(top, #fff, #ddd))
        &:active
        +background(linear-gradient(top, #ddd, #fff))
        padding: 6px 15px 4px

.account_show
  #messages_filter
    #invites
      .account_messages
        li
          .item
            +clearfix
            padding-left: 45px

            &.inbox
              background: image_url('public/invite_message_type.png') no-repeat left 0

            &.sended
              background: image_url('public/invite_message_type.png') no-repeat left -100px

            .agreement
              font-size: 11px
              +grey-button-style
              +inline-block
              margin-right: 5px

            .invite_message_actions
              margin: 10px 0 0 0
              span
                color: #ff6501

            .right_wrapper
              +clearfix
