.feeds
  .filters_feed
    border-bottom: solid 1px #ccc
    margin-top: 10px
    padding-bottom: 10px
    ul
      +clearfix
      li
        +toggable-links
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0

  .feed_wrapper
    border-bottom: solid 1px #ccc
    font-size: 12px
    margin-top: 10px
    overflow: hidden
    padding-bottom: 5px
    position: relative

    .sms_claims
      .sms_claim_link
        +button-style
        margin-bottom: 3px
        margin-top: 3px

    .wrapper
      background-color: #099bdb
      clear: left
      color: white
      float: left
      margin-bottom: 3px
      margin-top: 3px
      padding: 2px 2px 2px 2px

    .buy_ticket
      float: left
      margin-bottom: 3px
      margin-top: 3px
      text-align: center
      a
        +inline-block
        +button-style
        margin: 0px 0px 0px 8px
        padding: 1px 10px 1px 10px
        &:active
          padding: 1px 10px 1px 10px

    .details
      float: left
      span
        color: #999

    .avatar
      float: left

    .text
      float: left
      width: 870px

    .address
      background: transparent url(/assets/public/icon_address.png) no-repeat 2px 2px
      padding-left: 13px

    .main
      +clearfix
      overflow: hidden

      .type
        background-color: #e8e8e8
        float: left
        padding: 3px 5px 2px 5px

      .title,.body
        clear: left
        float: left

      .title
        padding-top: 2px

      .avatar
        float: left


    .text
      width: 870px
      float: left

    .time,.kind
      color: #999

    .time
      float: right

    .kind
      font-size: 11px

    .poster
      float: left
      margin-right: 10px
      position: relative
      .stub_poster
        background: #ccc image_url('public/organization_stub_poster_kind_medium.png') no-repeat top left
        display: block
        height: 100px
        width: 100px

        &.billiard
          background-position: -109px -3px

        &.car_sales_center
          background-position: -3px -109px

        &.car_wash
          background-position: -3px -109px

        &.creation
          background-position: -428px -3px

        &.culture
          background-position: -215px -3px

        &.entertainment
          background-position: -109px -3px

        &.meal
          background-position: -3px -3px

        &.salon_center
          background-position: -109px -109px

        &.sauna
          background-position: -215px -109px

        &.sport
          background-position: -321px -3px

  .line
    background-color: #e8e8e8
    font-size: 14px
    h3
      color: black
      height: 24px
      line-height: 24px
      padding: 0 0 0 10px
