.accounts_index
  .presentation_filters
    float: right

.accounts_list, .accounts_main_page_list
  float: left
  margin: 20px 0 0 0
  width: 100%

  .posters
    +clearfix

    li
      float: left
      margin: 0 10px 20px 10px
      width: 180px

      .item
        background-color: #fff
        margin: 0 auto
        width: 178px

        .title
          margin: 3px 0
          text-align: center

        .image
          height: 178px
          position: relative
          width: 178px

          .last_visit
            position: absolute
            top: 3px
            color: #999
            display: none
            text-align: center
            margin: 0px 5px 0px 5px
            width: 169px

          .first_line
            bottom: 35px

          .second_line
            bottom: 10px

          .first_line,
          .second_line
            color: #999
            display: none
            font-size: 12px
            left: 0
            position: absolute
            width: 100%

            span
              cursor: help
              display: inline-block
              text-align: center
              width: 56px

          .inviter_button,
          .invited_button
            +button-style
            display: none
            position: absolute
            font-size: 12px
            padding: 2px 15.5px 3px
            &:active
              padding: 3px 15.5px 2px

          .inviter_button
            top: 35px
            left: 39px

          .invited_button
            top: 70px
            left: 27px

          &:hover
            img
              +opacity(0.15)
            .first_line,
            .second_line,
            .inviter_button,
            .invited_button,
            .last_visit
              display: block

        .badges
          height: 20px

.accounts_main_page_list
  .posters
    li
      background-color: #fff

      .item
        border: 0
