.feeds
  .filters_feed
    margin-top: 10px
    padding-bottom: 10px
    border-bottom: solid 1px #ccc
    ul
      +clearfix
      li
        +toggable-links
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0

  .comment,.friend,.afisha,.vote,.visit,.invitation
    border-bottom: solid 1px #ccc
    margin-top: 10px
    overflow: hidden
    position: relative
    padding-bottom: 5px
    font-size: 12px

    .text
      width: 870px
      float: left

    .address
      background: transparent url(/assets/public/icon_address.png) no-repeat 2px 2px
      padding-left: 13px

    .main
      float: left

      .type
        background-color: #e8e8e8
        float: left
        padding: 3px 5px 2px 5px

      .title,.body
        float: left
        clear: left

      .title
        padding-top: 2px

      .avatar
        float: left


    .time,.kind
      color: #999

    .time
      float: right

    .kind
      font-size: 11px

    .poster
      float: left
      position: relative
      margin-right: 10px
      .stub_poster
        display: block
        width: 100px
        height: 100px
        background: #ccc image_url('public/organization_stub_poster_kind_medium.png') no-repeat top left

        &.billiard
          background-position: -109px -3px

        &.car_sales_center
          background-position: -3px -109px

        &.car_wash
          background-position: -3px -109px

        &.creation
          background-position: -428px -3px

        &.culture
          background-position: -215px -3px

        &.entertainment
          background-position: -109px -3px

        &.meal
          background-position: -3px -3px

        &.salon_center
          background-position: -109px -109px

        &.sauna
          background-position: -215px -109px

        &.sport
          background-position: -321px -3px

  .friend
    .avatar
      float: left
    .details
      float: left
      span
        color: #999

  .line
    background-color: #e8e8e8
    font-size: 14px
    h3
      color: black
      height: 24px
      line-height: 24px
      padding: 0 0 0 10px
