.content_wrapper
  .affiches_list
    $container_width: 760px
    $count: 4
    $count_margin: $count * 2 + 2
    $item_width: $container_width / $count
    $width: 170px
    $height: round($width * 268 / 200)
    $padding: 3px
    $margin: ($container_width - $width * $count - $count * $padding * 2) / $count_margin
    .posters
      +clearfix
      background-color: #efeaf1
      padding: ($margin * 2) 0 0
      li
        float: left
        margin: 0 $margin ($margin * 2)
        padding: $padding
        &.first
          clear: left
          margin-left: $margin * 2
        &.fourth
          margin-right: $margin * 2
        &.ajax_loading_items_indicator
          float: none
          padding: 10px
      .item
        +clearfix
        width: $width
        background-color: #fff
        +box-shadow(#777 0 0 2px)
        +has_ribbon
        .ribbon_wrapper
          margin-top: 25px
        .title
          +clearfix
          height: 20px
          font-size: 11px
          line-height: 1.4
          margin: 5px
          text-align: center
        .image
          float: none
          width: $width
          height: $height
          border-bottom: 1px dotted #d5d7d6
          border-top: 1px dotted #d5d7d6
          img
            width: $width
            height: $height
        .place
          color: #626262
          font-size: 11px
          height: 15px
          line-height: 1.4
          margin: 5px
          text-align: center
          a
            color: #626262
        .closest
          color: #626262
          font-size: 10px
          height: 32px
          line-height: 1.4
          margin: 5px 3px
          text-align: center
