.afishas_index
  margin: -20px 0 0 0

.content

  .afisha_left
    border-right: 1px solid #e5e5e5
    float: left
    padding: 0 40px 25px 5px
    width: 880px

    .title
      border-bottom: 1px solid #e5e5e5
      font-size: 22px
      line-height: 40px
      margin: 30px 0 0 0

  .afisha_right
    border-left: 1px solid #e5e5e5
    float: left
    margin: 0 0 0 -1px
    padding: 10px 0
    width: 262px

.content .afisha_list, .content .afisha_main_page_list

.afisha-paginator
  clear: both

  .posters
    position: relative

    .item
      border: 1px solid #ccc
      float: left
      height: 352px
      width: 198px
      margin: 0 0 25px 0

      .title
        border-bottom: 1px dashed #ccc
        display: table-cell
        font-size: 11px
        height: 44px
        line-height: 18px
        margin: 0
        min-height: 45px
        text-align: center
        vertical-align: middle
        width: 200px

      .image
        height: 260px
        margin: 2px 0 0 2px
        position: relative
        width: 194

        .has_items_for_sale
          +as_green_ribbon
          left: -9px
          position: absolute
          top: -3px
          width: 212px

        .ribbon
          position: absolute
          left: 0
          bottom: 0
          color: #fff
          background-color: #f60
          padding: 2px 8px 3px

        .for_sale
          +button-style
          display: none
          font-size: 12px
          left: 40px
          padding: 2px 15.5px 3px
          position: absolute
          top: 50px

          &:active
            padding: 3px 15.5px 2px

          &.ponominalu
            background: none
            border: none
            left: 0

        .details
          color: #999
          font-size: 12px

        .first_line
          bottom: 35px

        .second_line
          bottom: 10px

        .first_line,
        .second_line
          display: none
          left: 0
          position: absolute
          width: 100%

          span
            cursor: help
            display: inline-block
            text-align: center
            width: 56px

        &:hover
          .ribbon
            display: none
          img:not(.link)
            +opacity(0.15)
          .for_sale,
          .first_line,
          .second_line
            display: block

      .place
        margin: 5px 10px 0 10px

      .human_when
        margin: 2px 10px 3px 10px
