.afisha_list
  .posters
    +clearfix
    li
      float: left
      width: percentage(1/7)
      margin-bottom: 15px
      .item
        width: 178px
        border: 1px solid #ccc
        margin: 0 auto
