$min_width: 1000px
$max_width: 1440px

=max-width($width)
  max-width: $width

=fluid_settings($min: $min_width, $max: $max_width)
  +min-width($min)
  +max-width($max)
  margin: 0 auto

body
  font-size: 11px
  font-family: 'Verdana', 'Tahoma', sans-serif
  background-color: #fff
  line-height: 1.5
  +min-width(1000px)

a
  color: #06c
  text-decoration: none
  &:hover
    text-decoration: underline

strong, b
  font-weight: bold

em, i
  font-style: italic
