=has_ribbon
  .ribbon_wrapper
    width: 120px
    height: 24px
    font-size: 10px
    line-height: 1.4
    position: absolute
    background: transparent image_url('public/premiere_ribbon_bg.png') no-repeat right top
    +box-shadow(#777 0 4px 2px -2px)
    +border-left-radius(2px)
    border-left: 2px solid #c4102b
    padding-right: 15px
    margin: 45px 0 0 -7px
    z-index: 777
    .ribbon
      height: 14px
      color: #fff
      +text-shadow(#c4102b 1px 1px 1px)
      background-color: #e3223f
      padding: 5px 0 5px 10px
    &:after
      content: ' '
      position: absolute
      width: 0
      height: 0
      left: -1px
      top: 100%
      border-width: 3px 3px
      border-style: solid
      border-color: #75010e #75010e transparent transparent

=has_items_for_sale
  .has_items_for_sale
    +clearfix
    width: 48px
    height: 48px
    color: #fff
    font-size: 11px
    font-weight: bold
    position: absolute
    text-align: center
    background: transparent image_url('public/ticket_star.png') no-repeat
    margin: 18px 0 0 -11px
    padding-top: 15px

=has_age($size: 30px, $font_size: 11px)
  +border-radius($size / 2)
  +text-shadow(#c4102b 1px 1px 1px)
  background-color: #e3223f
  color: #fff
  font-size: $font_size
  height: $size
  line-height: $size
  position: absolute
  text-align: center
  width: $size
