.content_wrapper
  .contest
    line-height: 1.4
    font-size: 14px
    margin: 0 10px 20px 10px

    .description
      .annotation
        +clearfix
        .image
          float: left
          margin-right: 30px
          img
            width: 400px
            border: 4px solid #fff
            +border-radius
            +box-shadow(#aaa 0 0 3px)
            margin: 3px
        ul
          float: left
          width: 536px
          margin-top: 7px
          li
            font-size: 16px
            background-color: #ccf2ff
            +border-radius
            padding: 15px 20px
            margin-bottom: 15px
            &:last-child
              font-size: 17px
              background-color: #f1ecf3
              margin-bottom: 0
            .important
              color: #a922c7
      .details
        +clearfix
        background-color: #f8f8f8
        padding: 10px 15px 0
        +border-radius
        position: relative
        margin-top: 15px
        .toggler
          font-size: 17px
          margin-bottom: 10px
        .toggable
          display: none
          text-align: justify
          p
            margin-bottom: 10px

    .works
      margin: 20px 0
      h2
        font-size: 20px
        margin-bottom: 15px
      ul
        +clearfix
        li
          float: left
          margin-bottom: 20px
          &.first
            clear: left
            margin-right: 19px
          &.second
            margin-right: 19px

          .image
            img
              border: 4px solid #fff
              +border-radius
              +box-shadow(#aaa 0 0 3px)
              margin: 3px
          .title
            font-size: 14px
            margin-bottom: 3px
          .author
            font-size: 12px

    .work
      margin: 20px 0
      .link_to_contest
        float: right
        display: block
        font-size: 17px
        margin: 2px 0 0 20px
      h2
        font-size: 20px
        margin-bottom: 15px
      .image
        text-align: center
        margin-bottom: 10px
        img
          border: 4px solid #fff
          +border-radius
          +box-shadow(#aaa 0 0 3px)
          margin: 3px
      .author
        +clearfix
        font-size: 16px
        .contest_work_vk_like
          float: right
          margin: 0 0 0 20px
      .description
        text-align: justify
        margin-top: 15px
        p
          margin-bottom: 10px
