=contest_work_like
  +border-radius(3px)
  +background-image(linear-gradient(#fff, #cfcfcf))
  width: 125px

  &:hover
    cursor: pointer

  .votes_wrapper
    float: none !important

    .like_box
      width: 200px
      height: 46px
      text-align: center
      margin-top: -68px
      margin-right: -50px

    a
      border: none
      color: #333
      height: 18px
      line-height: 18px
      padding: 3px 0 3px 5px

    .votes_counter
      color: #fff
      +background-image(linear-gradient(#ff9832, #fe6500))
      +border-right-radius(2px)
      border: 1px solid #fe6500
      float: right
      margin: 0
      padding: 0
      position: relative
      text-align: center
      width: 30px
      height: 18px
      line-height: 18px

      a
        color: #fff
        padding: 0
        margin: 0

    .votes_counter:after, .votes_counter:before
      right: 100%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none

    .votes_counter:after
      border-color: rgba(247, 17, 11, 0)
      border-right-color: #ff811b
      border-width: 5px
      top: 50%
      margin-top: -5px

    .votes_counter:before
      border-color: rgba(230, 80, 0, 0)
      border-right-color: #fe6500
      border-width: 6px
      top: 50%
      margin-top: -6px

    .user_like
      white-space: nowrap
      float: left
      height: 18px
      width: 92px

      &.liked
        +background-image(linear-gradient(#fff, #ff9933))
        +border-left-radius(2px)
        border: 1px solid #ff9933
        border-right: none
        color: #fff

      &.dont_liked
        +background-image(linear-gradient(#fff, #cfcfcf))
        +border-left-radius(2px)
        border: 1px solid #ccc
        border-right: none

      &.liked, &.dont_liked
        &:hover
          +background-image(linear-gradient(#ccc, #fff))
          border: 1px solid #ccc
          border-right: none
          cursor: pointer

          a
            text-decoration: none
            &:hover
              text-decoration: none

      span
        display: none

.content
  .contest, .photogallery
    font-size: 12px
    margin: 0 10px

    .share_and_likes
      border-bottom: 1px solid #ccc
      min-height: 30px
      margin: 10px 0 15px 0

      .share
        float: left
        width: 40%

        .title
          +inline-block

        .yashare-auto-init
          +inline-block

      +likes

    .contests_list
      font-size: 14px

    h1
      font-size: 22px
      margin-bottom: 10px

    h2
      font-size: 14px
      background-color: #e8e8e8
      padding: 1px 10px 2px
      margin-bottom: 10px

    .description
      .annotation
        +clearfix
        .image
          float: left
          position: relative
          img
            width: 350px
            border: 1px solid #ccc
          a
            display: block
            position: absolute
            width: 88px
            height: 29px
            left: 207px
            +clearfix
            text-indent: -9999em
            &.top_grill_link
              width: 150px
              height: 68px
              left: 37px
              bottom: 14px
            &.znaigorod
              bottom: 72px
            &.typical_tomsk
              bottom: 37px
            &.sixhandshakes
              bottom: 7px
            &.igromania
              width: 166px
              height: 79px
              top: 180px
              left: 8px
        > p
          font-size: 14px
          margin-left: 370px
          margin-bottom: 10px

        > ul
          +clearfix
          margin-left: 370px

          li
            font-size: 14px
            background: image_url('public/bullet.png') no-repeat left 7px
            padding-left: 20px
            margin-bottom: 10px

            &.indicate
              font-weight: bold

            .important
              color: #f60

        .details
          +clearfix
          margin-left: 370px

          p
            margin-bottom: 10px

    .winners

      h2
        margin: 5px 0 15px 0

      ul
        +clearfix
        width: 880px
        margin: 0 auto

        li
          +clearfix
          border: 1px solid #ccc
          float: left
          margin: 0 20px 20px 0
          padding-bottom: 10px

          &.third
            margin-right: 0

          .image
            img
              display: block
              width: 278px

          .title
            +clearfix
            font-size: 18px
            font-weight: bold
            text-align: center
            margin: 7px 0 8px

            &.gold
              color: #c98910

            &.silver
              color: #a8a8a8

            &.bronze
              color: #965a38

          .contest_work_vk_like_on_list
            text-align: center
            margin-top: 7px

    .new_work_wrapper
      margin: 15px 0

      .add_work_link
        +button-style
        display: block
        margin: 0 auto
        text-align: center
        width: 180px

      a.add_work_link
        font-size: 15px
        line-height: 30px

    .upload_work_wrapper
      margin: 20px 30px 10px 30px
      position: relative

      .work_image
        margin: 0 0 5px 0

      label.file
        display: block
        font-size: 14px
        margin: 0 0 5px 0

      label.checkbox
        float: left

      .error
        display: block
        color: red

      .submit
        +button-style
        font-size: 12px
        padding: 2px 10px 3px

        &:active
          padding: 2px 10px 2px

        &:focus
          outline: none

        &.disabled
          +gray_button_style
          color: #999
          font-size: 12px
          padding: 2px 10px 3px

          &:hover
            color: #999
            text-shadow: none

      .agreement_wrapper
        margin: 0 0 10px 0

        .work_agree
          display: inline-block

        .agreement_link
          border-bottom: 1px dashed #000
          color: #000
          left: 185px
          position: absolute

          &:hover
            text-decoration: none
            border: none

        .agreement_text
          display: none
          margin: 10px 0

          h4
            font-weight: bold
            margin: 0 0 5px 0

          h5
            font-weight: bold
            margin: 5px 0

          ul
            margin: 5px 0 5px 15px

    .works
      h2
        margin: 5px 0 15px 0
      ul
        +clearfix
        li
          +clearfix
          border: 1px solid #ccc
          float: left
          margin: 0 19px 20px 0
          padding-bottom: 10px
          max-height: 365px

          &.first
            clear: left

          &.fourth
            margin-right: 0

          .image
            position: relative
            &:hover
              img
                +opacity(0.15)
              .details
                display: block

            .details
              bottom: 10px
              color: #999
              cursor: help
              display: none
              left: 20px
              position: absolute
              z-index: 999
            img
              display: block
              width: 278px

          .title
            +clearfix
            font-size: 14px
            height: 36px
            margin: 0 auto
            padding-top: 15px
            text-align: center
            width: 278px

          .contest_work_vk_like_on_list
            text-align: center
            margin-top: 7px

          .author
            font-size: 12px

          .contest_work_like
            +contest_work_like
            float: none
            margin: 10px auto

            .votes_wrapper .like_box
              margin-right: 0

    .video_works
      ul
        li
          width: 350px
          height: 280px
          margin: 0 20px 20px 20px

          .title
            width: 300px
            padding-top: 10px

          .sms_vote, .sms_votes_counter, .sms_title
            margin: 0 auto
            text-align: center
            width: 340px

          .sms_vote
            font-size: 14px

            .colored
              color: #ff4800
              font-weight: bold

          .image
            &:hover
              &:after
                opacity: 1

            &:after
              background: image_url('public/youtube.png')
              content: ''
              display: block
              height: 32px
              left: 50%
              margin-left: -16px
              margin-top: -4px
              opacity: 0.5
              position: absolute
              top: 50%
              width: 32px
              z-index: -1
            img
              width: 350px !important

    .work
      margin: 20px 0

      .link_to_contest
        float: right
        display: block
        font-size: 14px
        margin: 1px 10px 0 0

      h2
        margin-bottom: 15px

      .image
        text-align: center
        clear: both
        margin-bottom: 10px

        img
          border: 1px solid #ccc
          display: block
          margin: 0 auto

      .share
        float: left

        .title
          +inline-block

        .yashare-auto-init
          +inline-block
          .b-share__handle
            padding-top: 0 !important
            padding-bottom: 0 !important

      .contest_work_like
        +contest_work_like
        margin: 0 auto 10px
        padding-bottom: 10px

      .contest_work_vk_like
        width: 125px
        text-align: center
        margin: 0 auto 10px

      .author
        +clearfix
        font-size: 16px
        text-align: right
        .contest_work_vk_like
          float: left
          margin: 0 20px 0 0
      .description
        text-align: justify
        padding-top: 15px
        p
          margin-bottom: 10px

  &.works_show
    .description
      clear: both

.ui-dialog .ui-dialog-content.liked_box
  +clearfix
  max-height: 415px !important
  padding: 10px
  width: 510px !important

  .liked
    +clearfix

    li
      float: left
      margin: 10px
      width: 65px

      .user_item
        img
          display: block
          width: 50px
          margin: 0 auto

      .name
        display: block
        font-size: 11px
        line-height: 16px
        margin: 10px 0 0 0
        text-align: center
        width: 50px

.vyigray-novogodnyuyu-noch-s-chempionami-vysshey-ligi-kvn-1998-goda-deti-leytenanta-shmidta
  background: transparent image_url('public/new_year/contest_bg.jpg') no-repeat center top

  > h1
    display: none

  .description
    +clearfix

    .left
      float: left
      width: 460px
      position: relative
      margin-right: 20px

      h2
        font-size: 17px
        font-weight: bold
        background: none
        padding: 0
        margin: 45px 10px 20px 35px

      iframe
        margin-left: 35px

      .topgearbar
        display: block
        width: 328px
        height: 145px
        +clearfix
        background: transparent image_url('public/new_year/topgearbar.png') no-repeat center center
        text-indent: -9999em
        margin: 10px 0 20px 80px

    .right
      float: left
      width: 700px

      h1
        +clearfix
        text-indent: -9999em
        line-height: 60px
        background: transparent image_url('public/new_year/contest_headline.png') no-repeat left center
        margin-top: 10px

      p, ul
        margin-bottom: 15px

      ul li
        margin-bottom: 3px

        &:before
          content: "\2013"
          padding-right: 5px

      span.important
        color: #fff
        background-color: #019cde
        padding: 1px 5px 2px

      .awards li
        margin-bottom: 5px
        &:before
          float: left
          content: ''
          width: 13px
          height: 13px
          background: transparent image_url('public/new_year/snowflake.png') no-repeat center center
          margin: 3px 5px 0 0

.megavalentinka

  > h1
    display: none

  .description
    +clearfix

    .left
      float: left
      margin-right: 20px
      position: relative
      width: 370px

      h4
        font-weight: bold
        margin: 0 0 8px 0

      .poster
        background: transparent image_url('public/mega_valentinka/poster.jpg') no-repeat center center
        height: 280px
        margin: 10px 0 0 0
        width: 350px

      .sponsors, .main_sponsor
        height: 155px
        position: relative

        a
          text-indent: -9999em

        .mendelson
          background: transparent image_url('public/mega_valentinka/mendelson.png') no-repeat center center
          height: 133px
          position: absolute
          width: 198px

        .ohota
          background: transparent image_url('public/mega_valentinka/ohota.png') no-repeat center center
          height: 122px
          left: 108px
          position: absolute
          top: -25px
          width: 160px

        .zondreklama
          background: transparent image_url('public/mega_valentinka/zr.png') no-repeat center center
          height: 100px
          left: 265px
          position: absolute
          width: 111px

      .main_sponsor
        height: 225px

        .market_vtomske
          background: transparent image_url('public/mega_valentinka/market_vtomske.png') no-repeat center center
          display: block
          height: 220px
          margin: 0 auto
          width: 136px

    .right
      float: left
      width: 790px

      h1
        +clearfix
        color: #fb1c56
        margin-top: 10px

      p, ul
        margin-bottom: 15px

      ul li
        margin-bottom: 3px

      span.important
        background-color: #f9dae5
        padding: 1px 5px 2px

      .awards
        margin: 10px 0

        li
          margin-bottom: 5px

      .sponsors
        margin: 10px 0 0 0

        a
          text-indent: -9999em
          margin: 0 7px 0 0

        .teleweek
          background: transparent image_url('public/mega_valentinka/teleweek.png') no-repeat center center
          display: inline-block
          height: 72px
          width: 71px

        .loveradio
          background: transparent image_url('public/mega_valentinka/loveradio.png') no-repeat center center
          display: inline-block
          height: 70px
          width: 53px

        .znaigorod
          background: transparent image_url('public/mega_valentinka/znaigorod.png') no-repeat center center
          display: inline-block
          height: 70px
          width: 93px

        .kvadra
          background: transparent image_url('public/mega_valentinka/kvadra.png') no-repeat center center
          display: inline-block
          height: 70px
          width: 124px

        .pravda
          background: transparent image_url('public/mega_valentinka/pravda.png') no-repeat center center
          display: inline-block
          height: 70px
          width: 192px

        .naumoff
          background: transparent image_url('public/mega_valentinka/naumoff.png') no-repeat center center
          display: inline-block
          height: 70px
          width: 159px

.etalonnaya-svadba
  > h1
    display: none

  .description
    +clearfix
    font-size: 14px

    h1, h2
      background: none
      color: #179497
      font-size: 22px
      line-height: 32px
      margin: 0
      padding: 0

    h3
      font-size: 16px
      line-height: 24px

    p, ul
      margin-bottom: 15px

    ul li
      margin-bottom: 3px

    .left
      float: left
      width: 405px

      .contest_logo
        background: transparent image_url('public/svadbavsibiri_contest/main.png') no-repeat center center
        height: 465px
        width: 405px

    .right
      float: left
      width: 755px
      margin: 0 0 0 20px

    .main
      clear: both
      margin: 0 0 20px 0

      h2
        color: #222
        margin: 0 0 10px 0

      .green_list, .yellow_list
        +border-radius(10px)
        padding: 10px 15px

      .green_list
        background: #179497
        color: #fff

        li
          margin: 0 0 15px 0

        li:last-child
          margin: 0

      .yellow_list
        background: #fedb32
        color: #222

        a
          color: #222

      .join
        +border-radius(3px)
        background: #4f76a1 image_url('public/svadbavsibiri_contest/vk.png') no-repeat left center
        background-size: 135px
        color: #fff
        display: block
        height: 35px
        line-height: 35px
        margin: 25px 20% 15px 20%
        padding: 0px 10px
        text-align: center


      .sponsors
        float: left
        width: 610px

        a.svadbavsibiri
          background: transparent image_url('public/svadbavsibiri_contest/svadbavsibiri.png') no-repeat left center
          display: inline-block
          height: 86px
          text-indent: -9999em
          width: 590px

      .partners
        float: left
        width: 570px

        ul
          overflow: hidden

          li
            float: left

            a
              display: inline-block
              margin: 0 30px 0 0
              text-indent: -9999em

              &.znaigorod
                background: transparent image_url('public/mega_valentinka/znaigorod.png') no-repeat center center
                height: 70px
                width: 93px

              &.derevo
                background: transparent image_url('public/svadbavsibiri_contest/derevo.jpg') no-repeat center center
                height: 70px
                width: 130px

              &.europa_plus
                background: transparent image_url('public/svadbavsibiri_contest/europa.jpg') no-repeat center center
                height: 70px
                width: 120px

              &.life_cinema
                background: transparent image_url('public/svadbavsibiri_contest/life_cinema.jpg') no-repeat center center
                height: 70px
                width: 320px

      .info
        +border-radius(5px)
        clear: both
        background: #179497
        color: #fff
        font-size: 17px
        line-height: 24px
        padding: 10px 20px

        span
          color: #fedb32

  .reviews_index
    margin: 0
    padding: 0

    .posters
      padding: 0 !important

.dance_wrapper
  background: transparent image_url('public/dance-go-go-background.jpg') no-repeat center top
  background-color: black

  div.links
    width: 1200px
    height: 129px
    margin: 0 auto
    position: relative

    .one, .two
      position: absolute
      text-indent: -9999px

    .one
      width: 831px
      height: 129px
      left: 0px

    .two
      width: 369px
      height: 129px
      right: 0

  .dance_content_wrapper
    width: 1250px
    margin: 0 auto
    background-color: #fff
    padding-top: 10px

.parad-nashestvie-nevest-2014
  > h1
    display: none

  .description
    +clearfix
    font-size: 16px

    h1, h2
      background: none
      color: #db1d1c
      font-size: 22px
      line-height: 32px
      margin-bottom: 20px
      padding: 0

    p
      margin-bottom: 15px

    .left
      float: left
      width: 405px

      .contest_logo
        background: transparent image_url('public/parad-nashestvie-nevest-2014/poster.jpg') no-repeat center center
        height: 293px
        width: 405px

      .organizator
        background: transparent image_url('public/parad-nashestvie-nevest-2014/logo.jpg') no-repeat center center
        height: 120px
        margin-top: 0px
        margin-bottom: 10px
        position: relative

        .link_to_organizator
          position: absolute
          width: 405px
          height: 120px
          text-indent: -9999px

    .right
      float: left
      width: 755px
      margin: 0 0 0 20px

    .center

      .center-link
        text-align: center
        margin-top: 10px

      .left
        background: transparent image_url('public/parad-nashestvie-nevest-2014/exclamationmark.png') no-repeat top center
        float: ledt
        width: 70px
        height: 210px

      .right
        float: left
        width: 91%

        .more_info
          display: none
          border: 1px solid #db1d1c
          padding: 5px
          margin-bottom: 10px

        .hightlight
          color: #db1d1c
          font-weight: bold

      table
        width: 100%

        .time
          width: 150px

        td
          vertical-align: top
          padding: 9px

          .plan_title
            color: #db1d1c
            margin: 0

          .plan_text
            margin: 0
            font-size: 12px

        .odd
          background-color: #f2f2f2

.samyy-dolgiy-potseluy
  > h1
    display: none

  .description
    +clearfix
    font-size: 14px

    h1, h2
      background: none
      color: #179497
      font-size: 22px
      line-height: 32px
      margin: 0
      padding: 0

    h3
      font-size: 16px
      line-height: 24px

    p, ul
      margin-bottom: 15px

    ul li
      margin-bottom: 3px

    .left
      float: left
      width: 405px

      .contest_logo
        background: transparent image_url('public/samyy-dolgiy-potseluy/main.jpg') no-repeat center center
        height: 293px
        width: 405px

      .organizator
        background: transparent image_url('public/samyy-dolgiy-potseluy/organizator.jpg') no-repeat center center
        height: 43px
        margin-top: 0px
        margin-bottom: 10px

      .partners
        background: transparent image_url('public/samyy-dolgiy-potseluy/partners.jpg') no-repeat center center
        height: 100px
        margin-left: -11px

    .right
      float: left
      width: 755px
      margin: 0 0 0 20px

      h1
        color: #ef008c
        margin-bottom: 10px

      .info_with_background
        background-color: #e3f3fa
        margin-bottom: 10px
        padding: 10px

      .pink_color
        color: #ef008c

      .div_with_background
        background-color: #01a6ea
        padding: 5px
        width: 76px
        margin: 20px 0

  .share_and_likes
    border-bottom: 2px solid #ffd9ee !important

  .add_work_link
    background-color: #f261b6 !important

    &:hover
      border: 1px solid #ef008c !important

  .works
    h2
      background-color: #ffe8f5

    .contest_work_like
      float: right !important
      margin: 10px !important


  .reviews_index
    margin: 0
    padding: 0

    .posters
      padding: 0 !important

.dance-2-go-go-ladies-go
  > h1
    display: none

  .description
    +clearfix
    font-size: 14px
    margin-top: 10px

    h1, h2
      background: none
      color: #179497
      font-size: 22px
      line-height: 32px
      margin: 0
      padding: 0

    h3
      font-size: 16px
      line-height: 24px

    p, ul
      margin-bottom: 15px

    ul li
      margin-bottom: 3px

    .left
      float: left
      width: 375px

      .contest_logo
        background: transparent image_url('public/dance-2-go-go-ladies-go/poster.jpg') no-repeat left center
        height: 293px
        width: 405px

      .organizator
        background: transparent image_url('public/dance-2-go-go-ladies-go/kapital.png') no-repeat left center
        height: 120px
        margin-top: 0px
        margin-bottom: 10px

    .partners
      width: 100%
      height: 130px
      clear: both

      p
        clear: both
        margin: 0

      .partner_neon, .partner_bizumania, .partner_pineaqua, .partner_elena, .partner_sebastian, .partner_zg
        float: left
        height: 85px

      .partner_neon
        background: transparent image_url('public/dance-2-go-go-ladies-go/neon.png') no-repeat center center
        width: 180px

      .partner_bizumania
        background: transparent image_url('public/dance-2-go-go-ladies-go/bizumania.png') no-repeat center center
        width: 230px

      .partner_pineaqua
        background: transparent image_url('public/dance-2-go-go-ladies-go/pineaqua.png') no-repeat center center
        width: 100px

      .partner_elena
        background: transparent image_url('public/dance-2-go-go-ladies-go/elena.png') no-repeat center center
        width: 150px

      .partner_sebastian
        background: transparent image_url('public/dance-2-go-go-ladies-go/sebastian.png') no-repeat center center
        width: 200px

      .partner_zg
        background: transparent image_url('http://storage.znaigorod.ru/files/169630/200-100/zg_logo.png') no-repeat center center
        width: 200px

    .sms_info
      clear: both
      background-color: #fefbd7
      padding: 20px

      h1
        color: #dc0000
        margin-bottom: 20px
        float: none !important

    .sms_info_for_mts, .mvote
      color: #959789
      font-size: 12px

    .mvote
      p
        margin: 0

    .right
      float: left
      width: 755px

      h1
        color: #dc0000
        margin-bottom: 20px
        float: none !important

  .video_works
    .sms_vote, .sms_votes_counter, .sms_title
      margin: 0 auto 7px
      text-align: center
      width: 840px

    .sms_vote, .sms_title
      font-size: 14px

      .colored
        color: #ff4800
        font-weight: bold

  .photogallery
    .jcarousel-container-horizontal
      .jcarousel-clip-horizontal
        .jcarousel-item
          position: relative

          &:after
            background: image_url('public/youtube.png')
            content: ''
            display: block
            height: 32px
            left: 54%
            margin-left: -16px
            margin-top: -4px
            position: absolute
            top: 15%
            width: 32px


.contests_show
  .item, .pagination
    border: 0px !important
    width: 1180px
