.content_wrapper
  +clearfix
  .ajax_loading_items_indicator
    border: none !important
    background: transparent image_url('public/ajax_loader.gif') no-repeat center center !important
    margin-bottom: 10px !important
    height: 30px !important

  h1
    font-size: 24px
    margin: 0 0 20px 10px
    .strong
      font-size: 26px

  .empty_items_list
    font-size: 22px
    color: #777
    margin: 40px 0 20px 10px
    text-align: center

  .affiches_list
    width: 1170px
    margin: 0 auto

    .adv
      margin-bottom: 15px

    ul
      li
        background-color: #efeaf1
        padding: 10px
        margin-bottom: 20px
        +clearfix
        +has_ribbon
        .ribbon_wrapper
          margin-top: -5px
        .image
          float: left
          width: 180px
          height: 242px
          img
            width: 180px
            height: 242px
        .info
          margin-left: 200px

          .kind
            float: right
            font-size: 11px
            background-color: #70398a
            +border-radius(3px)
            padding: 2px 3px 4px
            margin: 0 0 0 10px
            a
              color: #fff

          h2
            font-size: 22px
            line-height: 1.4
            margin-bottom: 15px

          .closest
            margin-bottom: 15px
            p
              +inline-block
              color: #fff
              font-size: 17px
              background-color: #6b4381
              +border-radius(3px)
              padding: 2px 4px 4px
              .price
                font-size: 14px

          .will_be
            margin-bottom: 15px
            line-height: 1.4

          .seances
            margin-bottom: 5px
            line-height: 1.4
            li
              margin: 0
              padding: 0
            .title
              +clearfix
              margin-bottom: 10px
              li
                float: left
              .text
                font-size: 16px
                margin-right: 20px
              .link_all
                font-size: 11px
                margin-top: 5px
            .theaters
              +clearfix
              li
                float: left
                margin-bottom: 10px
              .theater
                clear: left
                width: 170px
                margin: 2px 10px 10px 0
                .name
                  font-size: 14px
                .address
                  font-size: 11px
                  background: transparent image_url("public/address.png") no-repeat -3px 0
                  padding-left: 13px
              .seance
                width: 50px
                text-align: center
                +border-radius(3px)
                background-color: #ddd2e2
                padding: 2px 4px
                margin-right: 17px
                &.last
                  margin-right: 0
                .time
                  font-size: 14px
                .price
                  font-size: 11px

          .place
            margin-bottom: 15px
            font-weight: bold
            p
              line-height: 1.4
            .address
              font-size: 11px
              font-weight: normal
              a
                +inline-block
                height: 16px
                padding-left: 13px
                background: transparent image_url('public/address.png') no-repeat -3px 0

          .description
            +clearfix
            border-top: 1px dotted #938e95
            border-bottom: 1px dotted #938e95
            padding: 10px 0 12px
            margin-bottom: 15px
            .text
              line-height: 1.4
              text-align: justify
            .more
              font-size: 11px
              float: right
              margin-top: 8px

          .tags
            +clearfix
            margin-bottom: 5px
            li
              float: left
              font-size: 11px
              background-color: #87bfd8
              +border-radius(3px)
              padding: 2px 3px 4px
              margin: 0 10px 5px 0
              a
                color: #fff

  .affiches_filter
    float: left
    width: 215px
    margin: 0 10px 20px 15px
    .categories
      margin-left: 15px
      +border-radius(3px)
      li
        text-align: center
        background: #787b85 image_url('public/today_in_city_menu_bg.png') repeat left top
        a
          display: block
          font-size: 16px
          color: #fff
          border-bottom: 1px dotted #d5d7d6
          padding: 15px 0
          margin: 0 5px
        &:first-child
          +border-top-radius(3px)
        &:last-child
          +border-bottom-radius(3px)
          a
            border-bottom: none
        &.before_current a
          border-bottom: none
        &.current
          margin: 5px 0
          +border-radius(0)
          .title
            color: #fff
            font-size: 20px
            background: #784391 image_url('public/affiches_filter_current_arrow.png') no-repeat left center
            margin-left: -10px
            padding: 15px 0 15px 10px

          .periods
            +clearfix
            background-color: #e9e9e9
            li
              background: none
              text-align: left
              line-height: 1.4
              margin: 0 3px
              padding: 8px 7px
              border-bottom: 1px dotted #ccc
              &:last-child
                border-bottom: none
              &.daily
                a,
                span
                  cursor: pointer
                  padding-right: 21px
                  background: transparent image_url('public/calendar.png') no-repeat right center
                  text-decoration: underline
                  &:hover
                    text-decoration: none
              a
                display: inline
                font-size: 12px
                color: #0f91bc
                border: none
                padding: 0
                margin: 0
              &.before_current
                border-bottom: 1px solid #e9e9e9
              &.current
                background-color: #87bfd8
                border-bottom: 1px solid #87bfd8
                margin: 0
                padding: 10px
                color: #fff

          .tags
            +clearfix
            background-color: #e9e9e9
            border-top: 1px dotted #ccc
            padding: 15px 10px 10px
            li
              float: left
              color: inherit
              text-align: left
              background: none
              padding: 2px 3px 4px
              +border-radius(3px)
              margin: 0 4px 4px 0
              a
                font-size: 11px
                display: inline
                color: inherit
                margin: 0
                padding: 0
                border: none
              &.title
                float: none
                font-size: 12px
                font-weight: bold
                padding: 0
                margin: 0 0 5px 0
              &.selected
                background-color: #87bed8
                a
                  color: #fff
                  text-decoration: none
                &.disabled
                  background-color: #bbb
              &.disabled span
                cursor: default
                font-size: 11px
                color: lighten(#353535, 30%)
                text-decoration: none

    .adv
      margin: 20px 0 0 15px

    .vk_group_wrapper
      width: 200px
      margin: 20px 0 0 15px

    .vk_recommended_wrapper
      width: 200px
      margin: 20px 0 0 15px

  .breadcrumbs
    +clearfix
    line-height: 1.4
    font-size: 11px
    margin: 0 0 15px 10px
    li
      float: left
      &.separator
        overflow: hidden
        width: 6px
        height: 8px
        text-indent: -9999em
        background: transparent image_url('public/breadcrumbs_separator.png') no-repeat center center
        margin: 5px 10px 0

  .content
    float: left
    line-height: 1.4
    margin: 0 0 0 10px
    position: relative
    width: 950px
    .kind
      float: right
      font-size: 11px
      background-color: #70398a
      +border-radius(3px)
      padding: 2px 3px 4px
      margin: 10px 0 0 10px
      a
        color: #fff

    .age
      +has_age
      right: -5px
      top: 215px

    .head
      margin-bottom: 15px
    h1
      font-size: 26px
      margin: 0
    h2
      font-style: italic

    .affiche
      +clearfix
      position: relative
      background-color: #efeaf1
      border-top: 4px solid #e0d2e9
      padding: 5px 10px 0
      margin-bottom: 15px
      .info
        +clearfix
        +has_ribbon
        .ribbon_wrapper
          margin-top: -10px

        .left_part
          float: left
          margin-right: 10px
          width: 180px

          .image
            position: relative
            margin: 0 0 15px 0

            a
              display: block

              img
                display: block

            .rating
              margin: 221px 0 0 0
              width: 170px

        .description
          +clearfix
          line-height: 1.4
          h1, h2, h3, h4, h5, p, table, ol, ul
            margin-bottom: 10px
            line-height: 1.5
          h2
            font-size: 18px
          h3
            font-size: 16px
          table
            width: 740px
            &.full
              width: 100%
            tr:nth-child(odd) td
              background-color: #e8e0eb
            tr td:first-child
              width: 5%
              white-space: nowrap
              font-weight: bold
              &:first-letter
                text-transform: uppercase
            td
              padding: 2px 4px
          ul li
            &:before
              content: "\2013"
              padding-right: 5px
            ul, ol
              margin-left: 15px
          ol
            counter-reset: li
            li
              ul, ol
                margin-left: 15px
              &:before
                content: counter(li)"."
                counter-increment: li
                padding-right: 5px
          .closest
            p
              +inline-block
              color: #fff
              font-size: 17px
              background-color: #6b4381
              +border-radius(3px)
              padding: 2px 4px 4px
              .price
                font-size: 14px

      .tags_and_share
        +clearfix
        border-top: 1px dotted #c6c1c6
        .tags
          +clearfix
          width: 520px
          float: left
          padding: 10px 0 0
          li
            float: left
            font-size: 11px
            background-color: #e1d2e9
            +border-radius(3px)
            padding: 2px 3px 4px
            margin: 0 10px 10px 0
            a
              color: #707072

        .share
          +clearfix
          font-size: 13px
          float: left
          padding: 7px 0 8px 10px
          .yashare-auto-init
            float: left
          .b-share
            padding-right: 0 !important
            .b-share__handle:last-child
              padding-right: 0 !important
          #vk_like,
          #vk_like_fake
            float: left
            margin-top: 4px
          #vk_like_fake
            width: 100px

      .photogallery_header
        font-size: 18px
        line-height: 1.7
        background: #e1d2e9 image_url('public/affiche_photogallery_header_bg.png') no-repeat left center
        margin: 0 -10px 5px -10px
        padding-left: 40px

      .photogallery
        clear: left
        +clearfix
        margin-bottom: 15px

        .jcarousel-container-horizontal,
        .jcarousel-clip-horizontal
          width: 840px

        li
          text-align: center

          a
            width: 124px
            height: 94px
            display: block
            +clearfix
            border: 4px solid #fff
            +border-radius
            +box-shadow(#aaa 0 0 3px)
            background-color: #fff
            margin: 3px auto
            &:hover
              border-color: #e2d2e2

      .trailer_header
        font-size: 20px
        line-height: 1.5
        background: #e1d2e9 image_url('public/affiche_trailer_header_bg.png') no-repeat left center
        margin: 0 -10px 5px -10px
        padding-left: 40px

      .trailer
        +clearfix
        text-align: center
        margin: 15px 0 0 0
        padding-bottom: 10px

    .place
      font-weight: bold
      p
        line-height: 1.4
      .address
        font-size: 11px
        font-weight: normal
        a
          +inline-block
          height: 16px
          padding-left: 13px
          background: transparent image_url('public/address.png') no-repeat -3px 0
      p.address
        font-size: 14px
        a
          background-position: -3px 3px

    .distribution
      .dates
        position: relative
        height: 41px
        background-color: #e1d2e9
        border-bottom: 1px solid #784391
        margin: 0 -10px
        li
          float: left
          color: #333
          height: 29px
          border-left: 1px solid #e1d2e9
          border-right: 1px solid #e1d2e9
        .first
          font-size: 22px
          h3
            height: 29px
            padding: 2px 15px 7px 10px
            margin: 1px 10px 1px 0
        .text
          cursor: pointer
          text-align: center
          padding: 6px 15px
          .day_of_week
            color: #707070
            font-size: 10px
            text-transform: lowercase
        .selected
          cursor: default
          height: 29px
          position: relative
          background-color: #efeaf1
          border-left: 1px solid #784391
          border-right: 1px solid #784391
          border-top: 1px solid #784391
          border-bottom: none
          padding-top: 5px
          padding-bottom: 7px
      .theaters
        +clearfix
        display: none
        &:first-child
          display: block
        ul
          +clearfix
          border-bottom: 1px dotted #919191
          padding: 10px 0 0
          &:last-child
            border-bottom: none
          li
            float: left
            margin-bottom: 10px
          .theater
            clear: left
            width: 180px
            .name
              font-size: 16px
              padding-top: 3px
            .address
              font-size: 11px
              background: transparent image_url("public/address.png") no-repeat -3px 0
              padding-left: 13px
          .seance
            width: 70px
            text-align: center
            background-color: #ded1e3
            +border-radius(3px)
            padding: 3px 0 5px
            margin-right: 10px
            &.break
              margin-left: 180px
            .time
              font-size: 16px
              font-weight: bold
            .price
              font-size: 11px

    .many_showings
      .head
        font-size: 16px
        line-height: 1.7
        background: #e1d2e9 image_url('public/affiche_schedule_header_bg.png') no-repeat left top
        margin: 0 -10px 5px -10px
        padding-left: 40px
        .address
          font-size: 12px
      ul
        +clearfix
        margin: 10px 0 0 0
        li
          float: left
          width: 124px
          margin: 0 10px 10px 0
          &:nth-child(7n)
            margin-right: 0
          .date
            +clearfix
            background-color: #fff
            +border-radius
            padding: 5px
            margin-bottom: 3px
            .day
              float: left
              display: block
              font-size: 22px
              margin-right: 5px
            .month
              display: block
              font-size: 11px
              font-weight: bold
            .day_of_week
              display: block
              font-size: 10px
          .time,
          .price
            text-align: center

    .sheduled
      .head
        line-height: 1.7
        +clearfix
        background: #e1d2e9 image_url('public/affiche_schedule_header_bg.png') no-repeat left top
        margin: 0 -10px 5px -10px
        padding-left: 40px
        h3
          float: left
          width: 110px
          font-size: 18px
        .places
          float: left
          width: 780px
          margin: 6px 10px 4px
      .shedule
        margin: 10px 0 0 0
        .price
          font-size: 16px
          margin-bottom: 10px
        ul
          +clearfix
          li
            float: left
            width: 124px
            margin: 0 10px 10px 0
            &:nth-child(7n)
              margin-right: 0
            span
              display: block
            .date
              +clearfix
              background-color: #fff
              +border-radius
              padding: 5px
              margin-bottom: 3px
              .day
                float: left
                display: block
                font-size: 22px
                margin-right: 5px
              .month
                display: block
                font-size: 11px
                font-weight: bold
              .day_of_week
                display: block
                font-size: 10px
                text-transform: lowercase
            .work_time_wrapper
              +clearfix
              text-align: center
              padding: 1px 0 4px
              .weekend
                margin: 10px 0 0
            &.current
              color: #fff
              background-color: #784391
              +border-radius
              .date
                background: none
    #vk_comments
      margin-bottom: 20px

  .right_side
    float: left
    width: 200px
    margin: 0 10px 0 30px

    .navigation
      +border-radius(3px)
      margin: 0 0 20px 0
      li
        text-align: center
        background: #787b85 image_url('public/today_in_city_menu_bg.png') repeat left top
        a, span
          display: block
          font-size: 16px
          color: #fff
          border-bottom: 1px dotted #d5d7d6
          padding: 15px 0
          margin: 0 5px
        &:first-child
          +border-top-radius(3px)
        &:last-child
          +border-bottom-radius(3px)
          a, span
            border-bottom: none
        &.current
          +border-radius(0)
          background: #784391 image_url('public/affiches_filter_current_arrow.png') no-repeat left center
          margin-left: -10px
          a
            color: #fff
            font-size: 20px
            border-bottom: none
            margin-left: 15px
        &.before_current
          a, span
            border-bottom: none
        &.disabled span
          color: #ccc

      .periods
        +clearfix
        background-color: #e9e9e9
        li
          background: none
          text-align: left
          line-height: 1.4
          margin: 0 3px
          padding: 8px 7px
          border-bottom: 1px dotted #ccc
          &:last-child
            border-bottom: none
          &.daily
            a,
            span
              cursor: pointer
              padding-right: 21px
              background: transparent image_url('public/calendar.png') no-repeat right center
              text-decoration: underline
              &:hover
                text-decoration: none
          a
            display: inline
            font-size: 12px
            color: #0f91bc
            border: none
            padding: 0
            margin: 0
          &.before_current
            border-bottom: 1px solid #e9e9e9
          &.current
            background-color: #87bfd8
            border-bottom: 1px solid #87bfd8
            margin: 0
            color: #fff
            span
              font-size: 12px
              border-bottom: 0
              padding-top: 0
              padding-bottom: 0

      .tags
        +clearfix
        background-color: #e9e9e9
        border-top: 1px dotted #ccc
        padding: 15px 10px 10px
        li
          float: left
          color: inherit
          text-align: left
          background: none
          padding: 2px 3px 4px
          +border-radius(3px)
          margin: 0 4px 4px 0
          a
            font-size: 11px
            display: inline
            color: inherit
            margin: 0
            padding: 0
            border: none
          &.title
            float: none
            font-size: 12px
            font-weight: bold
            padding: 0
            margin: 0 0 5px 0
          &.selected
            background-color: #87bed8
            a
              color: #fff
              text-decoration: none
            &.disabled
              background: none
          &.disabled a
            cursor: default
            color: lighten(#353535, 30%)
            text-decoration: none
          &.disabled span
            font-size: 11px
            color: #ccc
            border-bottom: 0
            padding: 2px 3px 4px
            margin: 0 4px 4px 0

    .vk_group_wrapper
      margin-bottom: 20px

    .vk_recommended_wrapper
      margin-bottom: 20px

  .yandex_map
    text-align: center
    line-height: 1.4
    margin-bottom: 20px
    h2
      color: #fff
      font-size: 17px
      background-color: #784391
      padding: 7px 10px 10px
    .map
      height: 275px
      border: 1px solid #bfbfbf
      border-top: none
    .magnifier_button
      width: 32px
      height: 32px
      cursor: pointer
      +border-radius(0.5em)
      +box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px)
      border: solid 1px #b7b7b7
      background-color: #fff
      background-repeat: no-repeat
      background-position: 50% 50%
      +background-image(image_url('public/affiche_icon_magnifier.png'), linear-gradient(white, #ededed))
      &:hover
        background-color: #ededed
        +background-image(image_url('public/affiche_icon_magnifier.png'), linear-gradient(white, gainsboro))
      &:active
        +background-image(image_url('public/affiche_icon_magnifier.png'), linear-gradient(gainsboro, white))
        margin-top: 1px
        margin-left: 1px

    .ymaps-copyrights-pane
      display: none

  .more_like_this
    text-align: center
    line-height: 1.4
    margin-bottom: 20px
    h2
      color: #fff
      font-size: 17px
      background-color: #784391
      padding: 7px 10px 10px
    ul
      +clearfix
      border-left: 1px solid #bfbfbf
      border-right: 1px solid #bfbfbf
      padding-top: 15px
    li
      border-bottom: 1px dotted #ccc
      margin-bottom: 15px
      padding-bottom: 15px
      &:last-child
        border-bottom: none
        padding-bottom: 0
      .title
        margin: 0 25px 10px
      .image
        width: 150px
        height: 202px
        margin: 0 25px 5px
        +has_ribbon
        .ribbon_wrapper
          margin-top: -5px
        .age
          +has_age
          margin: 177px 0 0 125px

      .places
        font-size: 11px
        color: #626262
        margin: 0 10px
        a
          color: #626262
    .all_today
      border: 1px solid #bfbfbf
      border-top-style: dotted
      padding: 7px 10px 10px

#modal_affiche_yandex_map
  .ymaps-b-balloon
    line-height: 1.6
  .organization_description
    font-size: 11px
    margin-top: 5px
    h1
      font-size: 12px
    a
      color: #000
    .image
      float: left
      margin-right: 10px
    .clearfix
      +clearfix
      .phone
        background: image_url('public/phone.png') no-repeat left center
        padding-left: 18px
      .schedule_today
        +clearfix
        line-height: 1.8
        padding-left: 18px
        background: image_url('public/icon_clock_green.png') no-repeat left center
        //&.twenty_four
          //background-image: image_url('public/organization_twenty_four.png')
        &.opened
          background-image: image_url('public/icon_clock_green.png')
        &.closed
          background-image: image_url('public/icon_clock_gray.png')
