.background_wrapper
  background: #f5f5f5
  width: 100%

  .content_wrapper
    +liquid-size($desktop_min_width, $desktop_max_width)
    +fixed-size

    .content
      +clearfix
      +min-height(300px)

      .empty_items_list
        font-size: 14px
        margin-left: 10px
