.content_wrapper
  +liquid-size($desktop_min_width, $desktop_max_width)
  +fixed-size
  margin-bottom: 10px

  .content
    +clearfix
    +min-height(300px)

    .empty_items_list
      font-size: 14px
      margin-left: 10px
