.content_wrapper
  .cooperation
    line-height: 1.4
    font-size: 14px
    margin: 0 10px 20px 10px

    h1
      margin-left: 0

    h2
      font-size: 24px
      color: #650990
      margin-bottom: 15px

    h3
      font-size: 18px
      margin-bottom: 15px

    p, ul, ol
      margin-bottom: 15px

    .icon_doc_big,
    .icon_vk_big
      +inline-block
      font-size: 16px
      padding: 5px 0 5px 35px

    .icon_doc_big
      background: transparent image_url('public/icon_doc_big.png') no-repeat left center

    .icon_vk_big
      background: transparent image_url('public/icon_vk_big.png') no-repeat left center

    .icon_pdf_small
      padding-left: 20px
      background: transparent image_url('public/icon_pdf_small.png') no-repeat left center
      margin-left: 5px

    .advantages
      +clearfix
      counter-reset: li
      li
        +clearfix
        +border-radius(10px)
        background-color: #a3d0e5
        margin-bottom: 15px
        padding: 15px
        &:before
          color: #fff
          font-size: 35px
          width: 65px
          display: block
          line-height: 1
          float: left
          content: "+"counter(li)
          counter-increment: li
        p
          width: 535px
          float: left
          margin: 0
          .icon_vk_big
            color: inherit
            margin-top: 5px

    .ankets
      li
        margin-bottom: 15px

    .right_side
      width: 330px
      float: right
      background: transparent image_url('public/logo_medium.png') no-repeat center 20px
      margin: 0 0 20px 20px
      padding-top: 243px
      .new_year_night
        background-color: #efeaf1
        +border-radius
        padding: 15px
        h2
          font-size: 22px
          background: transparent image_url('public/new_year_tree.png') no-repeat -3px center
          padding: 5px 0 5px 64px
        p:last-child
          margin-bottom: 0
      .service_payment_link a
        +inline-block
        color: #fff
        font-size: 18px
        +text-shadow(#aaa 0 0 1px)
        border: 1px solid #6f06a0
        background-color: #7a3d96
        +background-image(linear-gradient(#8e50ab, #63287e))
        +border-radius(3px)
        padding: 5px 15px
        &:hover
          cursor: pointer
          background: #7a3d96
          text-decoration: none
