.content .cooperation
  font-size: 12px
  margin: 0 10px 5px

  h1
    font-size: 22px
    margin-bottom: 10px

  .service_left
    width: 250px
    float: left

    .information
      border: 1px solid #f60
      padding: 15px

    .service_payment_wrapper
      border: 1px solid #ccc
      background-color: #fff
      +background(linear-gradient(top, #fff, #e8e8e8))
      padding: 15px
      margin-bottom: 10px

      h2
        font-weight: bold
        margin-bottom: 10px

      p
        border-bottom: 1px solid #ccc
        margin-bottom: 10px
        padding-bottom: 10px

      form
        label
          display: block

          abbr
            color: #f60

        .input
          input,
          textarea
            width: 206px
            outline: none
            resize: none
            font-size: 12px
            font-family: Verdana, Tahoma, sans-serif
            border: 1px solid #ccc
            background-color: #fff
            padding: 5px

          textarea
            height: 70px

        .submit
          text-align: center
          margin-top: 5px

          input
            cursor: pointer
            font-size: 12px
            font-family: Verdana, Tahoma, sans-serif
            +button_style
            margin: 0
            padding: 3px 10px 4px
            &:active
              padding: 4px 10px 3px

  .service_right
    +clearfix
    margin-left: 260px

    .toggable

      .toggler
        background-color: #e8e8e8
        padding: 1px 10px 2px
        margin-bottom: 10px

        h2
          font-size: 14px

        a
          float: right
          margin-top: 2px

      .info
        display: none
        position: relative

        table
          width: 100%
          margin-bottom: 10px

          th,
          td
            border: 1px solid #ccc
            vertical-align: top
            padding: 5px 10px

          th
            color: #999

          td p
            margin-bottom: 0

          .small
            font-size: 11px

          .center
            text-align: center

          .left
            text-align: left

          .right
            text-align: right

          .black
            color: #000

          .violet
            color: #72006f

          .green
            color: #019233

          .red
            color: #e90000

          .orange
            color: #ff6600

          .blue
            color: #009ad8

        p
          margin-bottom: 10px

        img
          border: 1px solid #ccc
