.clearfix .content .coupon
  +clearfix
  position: relative
  background-color: #efeaf1
  border-top: 4px solid #e0d2e9
  padding: 5px 10px 0
  margin-bottom: 15px
  .info
    +clearfix
    +has_ribbon
    .ribbon_wrapper
      margin-top: -10px

    .left_part
      float: left
      margin-right: 10px
      width: 180px

      .image
        position: relative
        margin: 0 0 15px 0

        a
          display: block

          img
            display: block

    .image
      width: 180px
      float: left
      margin-right: 10px

    .description
      +clearfix
      line-height: 1.4
      .closest
        +inline-block
        color: #fff
        font-size: 17px
        background-color: #6b4381
        +border-radius(3px)
        margin: 0 0 15px
        padding: 2px 4px 4px

      .place
        font-weight: bold
        p
          line-height: 1.4
        .address
          font-size: 11px
          font-weight: normal
          a
            +inline-block
            height: 16px
            padding-left: 13px
            background: transparent image_url('public/address.png') no-repeat -3px 0
        p.address
          font-size: 14px
          a
            background-position: -3px 3px

      .text
        padding-right: 5px

      .stale_at
        +inline-block
        color: #fff
        background-color: #9A83C2
        +border-radius(3px)
        margin: 0 0 15px
        padding: 2px 4px 4px

      h1, h2, h3, h4, h5, p, table, ol, ul
        margin-bottom: 10px
        line-height: 1.5
      h2
        font-size: 18px
      h3
        font-size: 16px
      table
        width: 740px
        &.full
          width: 100%
        tr:nth-child(odd) td
          background-color: #e8e0eb
        tr td:first-child
          width: 5%
          white-space: nowrap
          font-weight: bold
          &:first-letter
            text-transform: uppercase
        td
          padding: 2px 4px
      ul li
        &:before
          content: "\2013"
          padding-right: 5px
        ul, ol
          margin-left: 15px
      ol
        counter-reset: li
        li
          ul, ol
            margin-left: 15px
          &:before
            content: counter(li)"."
            counter-increment: li
            padding-right: 5px

  .tags_and_share
    +clearfix
    border-top: 1px dotted #c6c1c6
    .share
      +clearfix
      font-size: 13px
      float: right
      padding: 7px 0 8px 10px
      .yashare-auto-init
        float: left
      .b-share
        padding-right: 0 !important
        .b-share__handle:last-child
          padding-right: 0 !important
      #vk_like,
      #vk_like_fake
        float: left
        margin-top: 4px
      #vk_like_fake
        width: 100px
    .votes
      float: right
      
.clearfix .right-side
  float: left
  width: 200px
  margin: 0 10px 0 30px

  .organization_card
    border: 1px solid #c6c1c6
    margin: 0 0 20px 0
    .organization_image
      margin: 5px 0 0 38px
    .title
      padding: 12px 0 12px
      color: #FFF
      background-color: #784391 
      text-align: center
      font-size: 14px
      a
        color: #FFF
    .rating
      width: 101px
      margin: 5px 0 0 45px
      position: relative

    .organization_info
      margin: 10px 7px 8px 12px
      .place, .links, .social_links
        text-align: center
  .random_coupons
    border: 1px solid #c6c1c6
    margin: 0 0 20px 0
    text-align: center
    .random_coupons_header
      padding: 12px 0 12px
      color: #FFF
      background-color: #784391 
      text-align: center
      font-size: 14px
      a
        color: #FFF

    .random_coupons_info
      border-bottom: 1px solid #c6c1c6
      &:last-child
        border-bottom: none
      padding: 5px
      .place
        font-size: 11px
        color: #626262
        padding-bottom: 5px
        margin-bottom: 5px
        a
          color: #626262
      .random_coupons_price
        .original_price
          margin-bottom: 5px
          color: #6c726e
          .stroke
            background: transparent image_url('public/ticket_stroke.png') repeat-x center
            padding: 0 3px
        .price
          color: #fff
          +inline-block
          font-size: 18px
          +text-shadow(#891426 0 1px 2px)
          background-color: #e3223f
          padding: 5px 10px
          margin-bottom: 8px
          &.without_discount
            margin-top: 22px
