.discount_show
  +clearfix
  margin: 0 10px

  .left
    float: left
    width: 208px
    border: 1px solid #ccc

    .image
      position: relative
      text-align: center
      font-size: 12px
      width: 200px
      margin: 4px 4px 0 4px

    .info
      background: #009bdb
      color: #fff
      line-height: 30px
      text-align: center
      font-size: 14px
      margin: 0 4px 4px 4px

      .discount, .coupon, .certificate
        strong
          font-weight: normal

        .discount, .price
          font-weight: bold

        .free
          font-weight: normal

      .certificate
        .discount
          display: none

        .origin_price
          position: relative

          &:after
            +rotate(-10deg)
            border-top: 1px solid #fff
            content: ""
            left: 0
            position: absolute
            top: 45%
            width: 90%

    .action
      text-align: center
      margin: 10px 0

      .participate
        +button-style
        font-size: 12px
        padding: 4px 15px 5px

        &:active
          padding: 5px 15px 4px

    .counter
      +background(linear-gradient(top, #fff, #e8e8e8))
      border-top: 1px solid #ccc
      text-align: center

      h2
        font-size: 12px
        line-height: 22px

  .right
    float: right
    width: 208px

    .wrapper
      border: 1px solid #ccc
      margin: 0 0 10px 0
      > div:last-child
        border-bottom: none !important

    .yandex_map
      border-bottom: 1px solid #ccc
      +background(linear-gradient(top, #fff, #e8e8e8))
      padding: 5px

      .map
        height: 275px

        .magnifier_button
          width: 32px
          height: 32px
          cursor: pointer
          +border-radius(0.5em)
          +box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px)
          border: solid 1px #b7b7b7
          background-color: #fff
          background-repeat: no-repeat
          background-position: 50% 50%
          +background-image(image_url('public/afisha_icon_magnifier.png'), linear-gradient(white, #ededed))

          &:hover
            background-color: #ededed
            +background-image(image_url('public/afisha_icon_magnifier.png'), linear-gradient(white, gainsboro))

          &:active
            +background-image(image_url('public/afisha_icon_magnifier.png'), linear-gradient(gainsboro, white))
            margin-top: 1px
            margin-left: 1px

        .ymaps-copyrights-pane
          display: none

    .more_like_this
      +background(linear-gradient(top, #fff, #e8e8e8))
      border-bottom: 1px solid #ccc
      padding: 10px

      > .title
        font-size: 12px
        margin-bottom: 10px
        text-align: center

      ul
        li
          +clearfix
          margin-bottom: 10px

          .image
            float: left
            margin-right: 10px
            position: relative

          &:last-child
            margin-bottom: 0

  .center
    font-size: 12px
    line-height: 1.6
    margin: 0 220px

    h1
      font-size: 22px
      margin-bottom: 5px

    .closest
      margin-bottom: 10px

      p
        +inline-block
        background-color: #019bdb
        color: #fff
        font-size: 14px
        padding: 1px 8px 2px

    .place
      margin-bottom: 10px

      .address a
        background: transparent image_url('public/icon_address.png') no-repeat 2px 2px
        padding-left: 13px

    .share_and_likes
      border-bottom: 1px solid #ccc
      min-height: 30px

      .share
        float: left
        margin-bottom: 5px
        width: 50%

        .title
          +inline-block

        .yashare-auto-init
          +inline-block

      .likes
        float: right
        width: 50%
        margin-bottom: 5px
        margin-top: 4px

        .vk_like
          float: right
          clear: none !important

        .fb_like
          float: right
          margin-right: 20px

        .ok_like
          float: right

    .tags_and_visits
      width: 100%
      +clearfix

      .tags
        float: left
        width: 560px
        +clearfix
        margin: 10px 0 5px

        li
          float: left
          font-size: 11px
          color: #999
          +border-radius(3px)
          background-color: #e8e8e8
          margin: 0 5px 5px 0
          padding: 1px 5px 2px

          &.transparent
            background-color: transparent
            color: #000
            padding-left: 0
            padding-right: 0
