.discount_show
  +clearfix

  .left
    float: left
    width: 208px
    margin: 30px 0

    .image
      font-size: 12px
      padding: 4px
      position: relative
      text-align: center
      width: 200px

    .info
      background: #099
      color: #fff
      line-height: 30px
      text-align: center
      font-size: 14px
      margin-bottom: 10px

    .wrapper
      margin: 10px 0 10px 0

      .copies_count
        background: transparent url(/assets/public/discount_copies.png) no-repeat 5px 0
        color: #555
        display: block
        font-size: 11px
        padding: 0 0 0 18px
        line-height: 20px

      .copies
        +background(linear-gradient(top, #fff, #e8e8e8))
        border-bottom: 1px solid #ccc
        font-size: 12px
        padding: 10px
        position: relative

        h2
          font-size: 14px

  .payment
    border: 1px solid #f60
    margin: 10px 0
    text-align: center

    .wrapper
      border-bottom: none
      border-left: 1px dashed #F60
      border-right: 1px dashed #F60
      border-top: none
      font-size: 12px
      margin: 0 10px

      .discount, .coupon, .certificate, .affiliated_coupon
        padding: 5px 0

        strong
          font-weight: normal

        em
          font-style: normal

        .profit, .price, .free
          font-weight: normal

      .certificate
        .profit
          display: none

        .origin_price
          position: relative

          &:after
            +rotate(-10deg)
            border-top: 1px solid #000
            content: ""
            left: 0
            position: absolute
            top: 45%
            width: 90%

        &.gift
          strong
            font-weight: bold

          .profit
            color: #f60
            display: inline
            font-weight: bold

    .payment_link,
    a
      +inline-block
      +button-style
      padding: 3px 15px 4px
      &:active
        padding: 4px 15px 3px



  .social_actions
    padding: 5px 0 0 0

    .user_actions
      font-size: 12px
      padding: 0 5px 0.1px

      li
        +toggable-links(4px, 5px)
        width: 160px
        text-align: center
        margin: 0 auto 5px

    .counter
      border-top: 1px solid #ccc
      height: 70px
      text-align: center

      h2
        font-size: 12px
        line-height: 30px

      .timer
        font-size: 18px
        line-height: 20px
        position: relative

        .timer_days, .timer_hours, .timer_mins, .label_days, .label_hours, .label_mins
          position: absolute

        .timer_days, .timer_hours, .timer_mins
          background: #fff
          border: 2px solid #999
          letter-spacing: 7px
          padding: 3px 0px 1px 3px
          width: 31px

          &:after
            content: ''
            border-right: 2px solid #999
            bottom: 0
            display: block
            left: 16px
            position: absolute
            top: 0

        .label_days, .label_hours, .label_mins
          font-size: 12px
          top: 8px

        .timer_days
          left: 25px

        .label_days
          left: 66px

        .timer_hours
          left: 85px

        .label_hours
          left: 128px

        .timer_mins
          left: 145px

        .label_mins
          left: 188px

    .members, .copies
      +background(linear-gradient(top, #fff, #e8e8e8))

    .members, .members_counter, .copies, .copies_counter
      font-size: 12px
      position: relative

    .members_counter, .copies_counter
      border-top: 1px solid #ccc

      h2
        line-height: 30px
        margin: 0 5px

      .members_count
        background: transparent url(/assets/public/details_sprite.png) no-repeat 10px 3px
        background-position: 0 4px
        color: #555
        padding-left: 12px
        position: absolute
        right: 5px
        top: 8px

      .copies_count
        background: transparent url(/assets/public/discount_copies.png) no-repeat
        color: #555
        padding-left: 18px
        position: absolute
        right: 5px
        top: 8px

    .list

      li:first-child
        padding-top: 5px

      .avatars
        +avatar-list-style

      .pagination
        position: absolute
        bottom: 0
        right: 5px
        height: 50px
        width: 25px

        a
          +button-style
          display: block
          width: 23px
          padding: 1px 0 2px
          text-align: center
          +text-shadow(none)

          &:active
            +text-shadow(none)
            padding: 2px 0 1px

          &.disabled
            +background(linear-gradient(top, #efefef, #fff))
            +text-shadow(none)
            background-color: #efefef
            border: 1px solid #ccc
            color: #777

            &:hover
              +text-shadow(none)

  .right
    float: right
    width: 230px
    border-left: 1px solid #ccc
    margin: 0 0 10px 0

    > div:last-child
      border-bottom: none !important

    .copies
      padding: 10px

      h2
        font-size: 14px

    .more_like_this
      .header
        background: #ccc
        color: #222
        font-size: 14px
        line-height: 22px
        margin: 0 0 0 -10px
        padding: 4px 4px 4px 10px
        position: relative

        &:before
          content: ""
          width: 0
          height: 0
          position: absolute
          left: 0
          bottom: -10px
          border-width: 5px 5px
          border-style: solid
          border-color: #999 #999 transparent transparent

        > .title
          +inline-block

          a, a:hover
            color: #222
            text-decoration: none

      ul
        li
          +clearfix
          padding: 10px 15px

          .image
            float: left
            margin-right: 10px
            position: relative

            &:hover
              img
                +opacity(.5)

              .hidden_button
                +opacity(1)
                display: block
                z-index: 100

            .hidden_button
              display: none
              left: 10px
              position: absolute
              top: 20px


          &:last-child
            margin-bottom: 0

  .center
    .icon_edit
      background: transparent image_url('public/icon_edit.png') no-repeat left center
      float: right
      margin: 0 0 10px 10px
      padding-left: 20px

    font-size: 12px
    line-height: 1.6
    margin: 30px 280px 0 230px

    .similar_discount
      > .title
        font-size: 14px
        background-color: #e8e8e8
        padding: 1px 10px 2px
        margin-bottom: 10px

      .posters
        li
          margin: 0 45px 20px 0

          &:nth-child(3n)
            margin: 0 0 20px 0

    h1
      font-size: 22px
      margin-bottom: 5px

    .closest
      margin-bottom: 10px

      p
        +inline-block
        background-color: #009999
        color: #fff
        font-size: 14px
        padding: 1px 8px 2px

    .place
      .map_icon
        +inline-block
        background: transparent image_url('public/map_icon.png') no-repeat left -1px
        height: 45px
        width: 35px

        .name
          display: none

        .address
          display: block
          height: 45px

          a
            text-indent: -9999px
            height: 100%
            display: block
            background: none

        .delimiter
          display: none

      p
        +inline-block
        margin-left: 5px

      .address a
        background: transparent image_url('public/icon_address.png') no-repeat 2px 2px
        padding-left: 13px

    .text
      margin-top: 10px

      .buy_button
        margin: 20px

        a
          padding: 7px 70px

      h2, h3, p, ul, ol, table
        margin-bottom: 10px

      h2
        font-size: 20px

      h3
        font-size: 18px

      ul, ol
        margin-left: 30px

        ul, ol
          margin-bottom: 0

      ul > li

        display: list-item
        list-style: disc outside

      ol > li

        display: list-item
        list-style: decimal outside

      table

        tr td
          vertical-align: top
          padding: 0 10px 2px 0

          &:first-child
            @extend .nobr
            font-weight: bold

            &:first-letter
              text-transform: capitalize

    .discount_owner
      span, a
        +inline-block
        line-height: 10px

      a img
        +border-radius(50%)

    .sape
      font-size: 11px
      color: #999

      a
        color: #777

    .share_and_likes
      border-bottom: 1px solid #ccc
      min-height: 30px

      .share
        float: left
        margin-bottom: 5px
        width: 40%

        .title
          +inline-block

        .yashare-auto-init
          +inline-block

      +likes

    .tags_and_visits
      +clearfix
      width: 100%

      .categories
        +clearfix
        float: left
        margin: 10px 0 5px
        width: 555px

        li.title
          margin: 0

        li
          +inline-block
          font-size: 11px
          margin: 0px 0 0 5px

      .details
        float: right
        color: #999
        font-size: 12px
        margin: 5px 0 10px 0

        span
          +inline-block
          cursor: help
          min-width: 30px
          text-align: center
