.discounts_list
  float: left
  margin: 0
  width: 100%

  .posters
    +clearfix
    padding: 0 10px

    li
      float: left
      margin: 0 20px 20px 0
      width: 220px
      &:nth-child(5n)
        margin-right: 0

      .item
        border: 1px solid #ccc
        height: 172px
        margin: 0 auto
        width: 220px

        .title
          margin: 3px 0
          text-align: center

        .image
          +clearfix
          height: 120px
          position: relative
          width: 220px

        .info
          span
            color: #f60
            font-weight: bold
            font-size: 18px
            line-height: 30px
            margin: 0 0 0 7px
            vertical-align: middle

          strong
            font-size: 13px
            margin: 0 5px 0 10px

          .origin_price
            +left-arrow(#ececec, #fff, #000)

          .price
            +left-arrow(#009bdb, #ececec, #fff)

          .coupon
            .price
              +left-arrow(#009bdb, #fff, #fff)

