.discount_help
  .info_wrapper
    +background(linear-gradient(top, #fff, #e8e8e8))
    +border-radius(5px)
    border: 1px solid #ccc
    float: left
    height: 219px
    margin: 0 10px 0 0
    padding: 12px 16px
    width: 359px

    h4
      font-size: 14px
      font-weight: bold
      margin: 0 0 5px 0

    p
      font-size: 12px
      line-height: 20px
      height: 80px

    .button
      +button-style
      display: block
      font-size: 12px
      line-height: 20px
      margin: 0 auto
      text-align: center
      width: 160px

    &.discount
      position: relative

      .help_image
        background: transparent image_url('public/my_discount_help_discount.png') no-repeat
        height: 46px
        margin: 10px auto 30px auto
        width: 220px

      .label_discount
        position: absolute
        right: 108px
        top: 178px

    &.coupon
      position: relative

      .help_image
        background: transparent image_url('public/my_discount_help_coupon.png') no-repeat
        height: 46px
        margin: 10px auto 30px auto
        width: 220px

      .label_discount
        position: absolute
        left: 128px
        top: 178px

      .label_price
        position: absolute
        top: 178px
        right: 92px

    &.certificate
      margin: 0
      position: relative

      .help_image
        background: transparent image_url('public/my_discount_help_certificate.png') no-repeat
        height: 46px
        margin: 10px auto 30px auto
        width: 220px

      .label_discount
        position: absolute
        left: 40px
        top: 178px

      .label_price
        position: absolute
        top: 178px
        right: 152px

      .label_certificate_price
        position: absolute
        top: 178px
        right: 34px

.filters_wrapper
  position: relative
  margin-bottom: 20px

  .filters.discount

    .by_type
      float: left
      margin-left: 10px

      ul
        +clearfix

        li
          float: left
          margin-left: 5px
          +toggable-links

          &:last-child
            margin-right: 0

    .by_kind
      display: table
      margin: 20px auto
      text-align: center
      width: 100%

      ul
        +clearfix

        li
          width: percentage(1/11)
          float: left
          text-align: center

          a
            +inline-block
            white-space: nowrap
            padding-top: 25px
            margin: 0 0 1px 0
            min-width: 40px
            background: transparent image_url('public/discount_kind.png') no-repeat center center

            .name
              color: #000

            .count
              color: #a9a9a9
              font-size: 10px
              vertical-align: super
              margin-left: -2px

            &:hover
              text-decoration: none

              .name
                color: #f60

            &:active
              margin: 1px 0 0 0

          &.selected a .name
            color: #f60

          &.all
            a
              background-position: 12px 0px

              &:hover
                background-position: 12px -70px

            &.selected a
              background-position: 12px -130px

              &:hover
                background-position: 12px -70px

            &.coupon
              a
                background-position: 15px 0px

                &:hover
                  background-position: 15px -70px

              &.selected a
                background-position: 15px -130px

                &:hover
                  background-position: 15px -70px

            &.certificate
              a
                background-position: 32px 0px

                &:hover
                  background-position: 32px -70px

              &.selected a
                background-position: 32px -130px

                &:hover
                  background-position: 32px -70px

          &.auto
            a
              background-position: -87px 0px

              &:hover
                background-position: -87px -70px

            &.selected a
              background-position: -87px -130px

              &:hover
                background-position: -87px -70px

          &.cafe
            a
              background-position: -826px 0px

              &:hover
                background-position: -826px -70px

            &.selected a
              background-position: -826px -130px

              &:hover
                background-position: -826px -70px

          &.entertainment
            a
              background-position: -163px 0px

              &:hover
                background-position: -163px -70px

            &.selected a
              background-position: -163px -130px

              &:hover
                background-position: -163px -70px

          &.technique
            a
              background-position: -240px 0px

              &:hover
                background-position: -240px -70px

            &.selected a
              background-position: -240px -130px

              &:hover
                background-position: -240px -70px

          &.beauty
            a
              background-position: -318px 0px

              &:hover
                background-position: -318px -70px

            &.selected a
              background-position: -318px -130px

              &:hover
                background-position: -318px -70px

          &.wear
            a
              background-position: -445px 0px

              &:hover
                background-position: -445px -70px

            &.selected a
              background-position: -445px -130px

              &:hover
                background-position: -445px -70px

          &.meal
            a
              background-position: -560px 0px

              &:hover
                background-position: -560px -70px

            &.selected a
              background-position: -560px -130px

              &:hover
                background-position: -560px -70px

          &.travel
            a
              background-position: -634px 0px

              &:hover
                background-position: -634px -70px

            &.selected a
              background-position: -634px -130px

              &:hover
                background-position: -634px -70px

          &.home
            a
              background-position: -742px 0px

              &:hover
                background-position: -742px -70px

            &.selected a
              background-position: -742px -130px

              &:hover
                background-position: -742px -70px

          &.children
            a
              background-position: -964px 0px

              &:hover
                background-position: -964px -70px

            &.selected a
              background-position: -964px -130px

              &:hover
                background-position: -964px -70px

          &.other
            a
              background-position: -1055px 0px

              &:hover
                background-position: -1055px -70px

            &.selected a
              background-position: -1055px -130px

              &:hover
                background-position: -1055px -70px

  .discount_more
    +clearfix
    display: none
    margin: 0 0 10px 0

    .info_wrapper
      +box-shadow(1px 1px 0px #D9D9D9, inset)
      background: #ebebeb
      border-right: 1px solid #fff !important
      border-bottom: 1px solid #fff !important
      height: 184px

      h4
        color: #3b7dcb

      p
        height: 80px

      a
        display: none

  .more_wrapper_toggler
    +background(linear-gradient(top, #efefed, #e8e8e8))
    +border-bottom-left-radius
    +border-bottom-right-radius
    +box-shadow(#aaa 0 2px 1px)
    left: 50%
    margin: 0 -75px
    padding: 0 7px 7px 7px
    position: absolute
    width: 180px

    .button
      +inline-block
      font-size: 12px
      line-height: 20px
      text-align: center
      width: 122px

    .info_button
      +inline-block
      background: transparent image_url('public/more_button_sprite.png') no-repeat 0 0
      height: 25px
      margin: 0 0 0 7px
      width: 25px

      &.open
        background-position: 0 0
        &:hover
          background-position: 0 -34px

        &:active
          background-position: 0 -68px

      &.close
        background-position: -82px 0
        &:hover
          background-position: -82px -34px

        &:active
          background-position: -82px -68px
