.discounts_list
  float: left
  margin: 0
  width: 100%

  .posters
    +clearfix
    padding: 0 10px

    li
      float: left
      margin: 0 20px 20px 0
      width: 220px
      &:nth-child(5n)
        margin-right: 0

      .item
        border: 1px solid #ccc
        height: 231px
        margin: 0 auto
        padding: 1px 0 1px 0
        width: 220px

        .title
          display: table-cell
          height: 38px
          padding: 0 3px
          text-align: center
          vertical-align: middle
          width: 220px

        .image
          +clearfix
          height: 164px
          position: relative
          width: 220px

          .origin_url
            position: absolute
            left: 0
            top: 0
            color: #fff
            background-color: #009bdb
            padding: 3px 8px 3px

          .for_sale
            +button-style
            display: none
            font-size: 12px
            left: 58px
            padding: 2px 15.5px 3px
            position: absolute
            text-align: center
            top: 50px
            width: 75px

            &:active
              padding: 3px 15.5px 2px

          .details
            color: #000

          .first_line
            bottom: 7px

          .first_line
            display: none
            left: 0
            position: absolute
            width: 100%

            span
              background: transparent image_url('public/details_sprite.png') no-repeat 10px 3px
              cursor: help
              display: block
              float: left
              padding-left: 25px
              width: 30px

              &.to_go
                background-position: 12px 3px
              &.comments
                background-position: 5px -36px
              &.likes
                background-position: 12px -57px
              &.visits
                background-position: 6px -77px

          &:hover
            .origin_url
              display: none

            img
              +opacity(0.15)

            .first_line,
            .for_sale
              display: block

        .info
          +clearfix
          font-size: 1.2em
          letter-spacing: 0px
          height: 30px

          span
            color: #f60
            font-weight: bold
            line-height: 30px

          strong
            margin: 0 0 0 10px

          .origin_price
            +left-arrow(#ececec, #fff, #000)
            margin: 0 0 0 10px

            &:after
              +rotate(-10deg)
              border-top: 1px solid #000
              content: ""
              left: 18px
              position: absolute
              right: 0
              top: 50%
              width: 70%

            em
              font-style: normal
              padding: 8px 0 8px 8px

          .profit
            font-size: 1.1em

          .price
            +left-arrow(#009bdb, #ececec, #fff)

            em
              font-style: normal
              padding: 8px 0 8px 9px

          .coupon
            .price
              +left-arrow(#009bdb, #fff, #fff)

          .certificate
            float: right

            span
              +inline-block

          .affiliated_coupon
            .price
              +left-arrow(#009bdb, #fff, #fff)

          .sale
            text-align: center

            span
              color: #222

@-moz-document url-prefix()
  .discounts_list
    .info
      letter-spacing: -1px
      font-size: 1em

      .profit
        font-size: 1em !important

      .price
        padding: 0 5px 0 0 !important

      .origin_price
        margin: 0 0 0 5px !important
        padding: 0 5px 0 0 !important
