.filters_wrapper
  background-color: #f9f9f9
  +background(linear-gradient(top, #fff, #e8e8e8))
  +box-shadow(#aaa 0 2px 1px)
  margin-bottom: 15px

  .filters
    +liquid-size($desktop_min_width, $desktop_max_width)
    +fixed-size
    +clearfix

.presentation_filters
  +clearfix
  margin-bottom: 15px
