.icon-trash
  background: image-url('public/user_menu.png') no-repeat no-repeat -9px -8px
  float: right
  height: 11px
  margin: 5px 0px 0px 0
  width: 18px

  &:hover
    background-position: -39px -8px
