.icon-trash
  background: image-url('public/user_menu.png') no-repeat no-repeat -9px -8px
  float: right
  height: 11px
  margin: 5px 0px 0px 0
  width: 18px

  &:hover
    background-position: -39px -8px

.icon-edit
  background: url('edit_buttons.png') no-repeat -10px -9px
  float: right
  height: 11px
  margin: 5px 0px 0px 0
  width: 18px

  &:hover
    background-position: -30px -9px

//новые кнопки с flat-дизайном

.icon-flat
  +inline-block

  &.icon-poster
    background: image_url('public/edit_icons_sprite.png') no-repeat 0 0
    height: 15px
    width: 24px

    &:hover
      background-position: 0 -25px

  &.icon-pencil
    background: image_url('public/edit_icons_sprite.png') no-repeat -41px 0
    height: 15px
    width: 14px

    &:hover
      background-position: -41px -25px

  &.icon-delete
    background: image_url('public/edit_icons_sprite.png') no-repeat -74px 0
    height: 15px
    width: 24px

    &:hover
      background-position: -74px -25px
