.inviter_form_wrapper
  width: 780px

  .left
    background: #e8e8e8
    float: left
    padding: 15px
    height: 480px
    width: 250px

    form

      h2
        font-size: 18px
        text-align: center
        margin: 0 0 15px 0

      .radio_buttons
        text-align: center
        margin-bottom: 15px

        label
          +inline-block
          cursor: pointer
          background: transparent image_url('public/gender_sprite.png') no-repeat center top
          padding-top: 38px

          input
            display: none

          &.visit_inviter_gender_all
            background-position: 12px 0
            margin-right: 40px

            &:hover
              background-position: 12px -107px

            &.checked
              background-position: 12px -215px

          &.visit_inviter_gender_male
            background-position: -162px 0

            &:hover
              background-position: -162px -107px

            &.checked
              background-position: -162px -215px

          &.visit_inviter_gender_female
            background-position: -72px 0
            margin-left: 40px

            &:hover
              background-position: -72px -107px

            &.checked
              background-position: -72px -215px

      textarea
        border: 1px solid #ccc
        height: 140px
        width: 232px
        line-height: 1.5
        outline: none
        resize: none
        padding: 5px 8px

      .submit
        text-align: center
        margin-top: 10px

        input
          +button_style
          cursor: pointer
          padding: 5px 10px 6px

          &:active
            padding: 6px 10px 5px

  .right
    float: left
    margin: 0 0 0 15px
    width: 480px

    .search_form
      margin-bottom: 10px

      #q
        +inline-block
        width: 200px
        font-size: 11px
        border: 1px solid #ccc
        outline: none
        margin: 0
        padding: 4px 8px

      .submit
        +inline-block
        width: 16px
        height: 17px
        cursor: pointer
        outline: none
        overflow: hidden
        border: none
        text-indent: -9999em
        background: #fff image_url('public/search_submit.png') no-repeat center top
        margin: 0 3px 0 0
        padding: 0

        &:hover
          background-position: center -64px

        &:active
          background-position: center -63px

    .filter
      +clearfix
      margin-bottom: 20px

      li
        float: left
        font-size: 11px
        +toggable-links
        margin-right: 10px

        &:last-child
          margin-right: 0

    .accounts_list
      li
        height: 70px
        margin: 0 0 15px 0
        img
          float: left
          margin: 0 10px 0 0

        .avatar
          +avatar-style
          height: 70px
          width: 70px
