.invite_form_wrapper
  width: 780px

  .left
    background: #e8e8e8
    float: left
    padding: 15px
    height: 480px
    width: 250px

    h3
      font-size: 16px
      line-height: 18px
      margin-bottom: 10px
      text-align: center

    form

      h2
        font-size: 18px
        text-align: center
        margin: 0 0 15px 0

      .radio_buttons
        text-align: center
        margin-bottom: 15px

        label
          +inline-block
          cursor: pointer
          background: transparent image_url('public/gender_sprite.png') no-repeat center top
          padding-top: 38px

          input
            display: none

          &.visit_inviter_gender_all
            background-position: 12px 0
            margin-right: 40px

            &:hover
              background-position: 12px -107px

            &.checked
              background-position: 12px -215px

          &.visit_inviter_gender_male
            background-position: -162px 0

            &:hover
              background-position: -162px -107px

            &.checked
              background-position: -162px -215px

          &.visit_inviter_gender_female
            background-position: -72px 0
            margin-left: 40px

            &:hover
              background-position: -72px -107px

            &.checked
              background-position: -72px -215px

          &.visit_invited_gender_all
            background-position: 12px 0
            margin-right: 25px

            &:hover
              background-position: 12px -107px

            &.checked
              background-position: 12px -215px

          &.visit_invited_gender_male
            background-position: -152px 0

            &:hover
              background-position: -152px -107px

            &.checked
              background-position: -152px -215px

          &.visit_invited_gender_female
            background-position: -62px 0
            margin-left: 25px

            &:hover
              background-position: -62px -107px

            &.checked
              background-position: -62px -215px

          &.invitation_gender_all
            background-position: 12px 0
            margin-right: 25px

            &:hover
              background-position: 12px -107px

            &.checked
              background-position: 12px -215px

          &.invitation_gender_male
            background-position: -164px 0

            &:hover
              background-position: -164px -107px

            &.checked
              background-position: -164px -215px

          &.invitation_gender_female
            background-position: -73px 0
            margin-left: 25px

            &:hover
              background-position: -73px -107px

            &.checked
              background-position: -73px -215px

      textarea
        border: 1px solid #ccc
        height: 140px
        width: 232px
        line-height: 1.5
        outline: none
        resize: none
        padding: 5px 8px

      .actions
        text-align: center
        margin-top: 10px

        input
          +button_style
          cursor: pointer
          padding: 5px 10px 6px

          &:active
            padding: 6px 10px 5px

        &.gray
          input
            font-size: 11px
            +grey-button-style
            +inline-block
            padding: 4px 8px 5px

            &:active
              padding: 5px 8px 4px

  .right
    float: left
    +clearfix
    margin: 0 0 0 15px
    width: 480px
    height: 510px

    .search_form
      margin-bottom: 10px

      #q
        +inline-block
        width: 200px
        font-size: 11px
        border: 1px solid #ccc
        outline: none
        margin: 0
        padding: 4px 8px

      .submit
        +inline-block
        width: 16px
        height: 17px
        cursor: pointer
        outline: none
        overflow: hidden
        border: none
        text-indent: -9999em
        background: #fff image_url('public/search_submit.png') no-repeat center top
        margin: 0 3px 0 0
        padding: 0

        &:hover
          background-position: center -64px

        &:active
          background-position: center -63px

    .filter
      +clearfix
      margin-bottom: 20px

      li
        float: left
        font-size: 11px
        +toggable-links
        margin-right: 10px

        &:last-child
          margin-right: 0

    .accounts_list
      height: 436px

      li
        +clearfix
        margin-bottom: 21px

        .avatar
          float: left
          height: 70px
          width: 70px
          margin-right: 10px

        .details
          +clearfix

          .wanted
            .invite
              font-size: 11px
              +inline-block
              +grey-button-style
              margin-top: 10px

          .sended
            color: #f60
            +inline-block
            margin-top: 5px

          .simple_form
            margin-top: 5px

            textarea
              width: 355px
              height: 90px
              line-height: 1.5
              border: 1px solid #ccc
              outline: none
              resize: none
              padding: 5px 8px
              margin: 5px 0

            .close
              +inline-block

            > input
              +button_style
              +inline-block
              cursor: pointer
              padding: 5px 10px 6px
              margin: 0 10px 0 0

              &:active
                padding: 6px 10px 5px

              &.disabled
                cursor: default
                +background(linear-gradient(top, #ccc, #999))
                border-color: #999

                &:hover
                  +text-shadow(none)

                &:active
                  padding: 5px 10px 6px
