.invitations
  font-size: 12px

  &.header
    line-height: 24px
    margin: 0 !important
    overflow: hidden
    padding: 0 !important
    width: 100%

    h3
      background: #009bdb
      color: #fff
      height: 24px
      line-height: 24px
      padding: 0 0 0 10px
      width: 150px

      &:after
        background: #e8e8e8
        float: right
        border: 12px solid transparent
        border-right: 0
        border-left-color: #009bdb
        content: ''
        height: 0
        width: 0

    a
      float: right
      margin: 0 7px 0 0

  &.list
    margin: 10px 0 0 0

    ul
      padding: 0 0 0 10px

      li
        &.empty
          background: none

        background: image_url('public/bullet.png') no-repeat left center
        float: none
        padding: 0 0 0 15px
        width: auto

        .description
          color: #999999

        .delete_invitation
          color: #ff6501
          font-size: 11px

.invitation_form_dialog
  .invite_form_wrapper
    margin: 0 auto
    width: 640px

    .left, .right
      background: #e8e8e8
      float: left
      padding: 7px
      width: 304px

      label
        font-weight: bold
        padding-right: 3px

      .select
        margin: 0 0 7px 0

      .error
        color: #880000
        font-size: 8px
        font-style: italic

      textarea.text
        width: 280px

    .left
      border-right: 1px solid #ccc

  .forml, .formr
    float: left
    min-height: 420px
    padding: 5px
    width: 308px

  .forml
    border-right: 1px solid #ccc

    ul
      li
        +clearfix
        padding: 5px

        &:hover
          background: #e8e8e8

        .item
          .title
            margin: 0 0 0 65px
          .poster
            float: left
            margin: 0 10px 0 0

  .form_footer
    float: left
    background: #e8e8e8
    width: 640px
    padding: 7px 0
    .actions
      text-align: center

    .button
      +button_style
    .cancel
      +grey-button-style
