.invitations
  &.header
    line-height: 24px
    margin: 0 !important
    overflow: hidden
    padding: 0 !important
    width: 100%

    h3
      background: #009bdb
      color: #fff
      height: 24px
      line-height: 24px
      padding: 0 0 0 10px
      width: 150px

      &:after
        background: #e8e8e8
        float: right
        border: 12px solid transparent
        border-right: 0
        border-left-color: #009bdb
        content: ''
        height: 0
        width: 0

    a
      float: right
      margin: 0 7px 0 0

.new_invitation
  background: #e8e8e8
