@import 'organization_layouts/sportlife'
@import 'organization_layouts/tonus'
@import 'organization_layouts/logoped'

.unique_header_wrapper
  .header_wrapper
    margin-bottom: 0
    padding-top: 10px

  .filters_wrapper
    display: none

=unique_content_style
  .content_wrapper
    width: 1210px !important
    margin-bottom: 0

  .content
    +box-shadow(#555 0 0 3px)
    background-color: #fff
    padding: 5px

// uniq_design -->
=uniq_design($main_gradient_top_color, $main_gradient_bottom_color, $content_gradient_top_color, $content_gradient_bottom_color, $sidebar_background, $sidebar_gradient_top_color, $sidebar_gradient_bottom_color, $border_color, $link_color, $text_color, $title_color)
  background: $main_gradient_top_color
  +background(linear-gradient(top, $main_gradient_top_color, $main_gradient_bottom_color))

  .content_wrapper
    margin-bottom: 0

    .content
      +box-shadow(none)
      +border-top-left-radius
      +border-top-right-radius
      background: $content_gradient_top_color
      +background(linear-gradient(top, $content_gradient_top_color, $content_gradient_bottom_color))
      color: $text_color
      margin: 0 auto
      padding: 6px
      width: 1178px

      .organization_show
        margin: 0

        .organization_content
          a
            color: $link_color

        .left
          .image, .social_actions, .offers_wrapper
            border: 1px solid $border_color

            .user_actions
              border-bottom: 1px solid $border_color

            .list
              li:first-child
                border: none

          .image
            background: $sidebar_background

        .social_actions, .offers_wrapper, .virtual_tour, .more_like_this
          background: $sidebar_gradient_top_color
          +background(linear-gradient(top, $sidebar_gradient_top_color, $sidebar_gradient_bottom_color))
          color: $text_color

        .yandex_map
          background: $sidebar_background

        .center

          .suborganization_info
            .title
              background: $title_color

            strong
              color: #fed64f

          .share_and_likes
            border-bottom: 1px solid $border_color

        .comments
          +override_comments

          h3
            background-color: $title_color

          .date
            color: $text_color !important

        .right
          .wrapper
            border: 1px solid $border_color

            .virtual_tour, .yandex_map
              border-bottom: 1px solid $border_color

// <-- uniq_design

=override_comments
  .comment_item
    .comment_wrapper
      &:hover, &.active
        background: none

      p
        color: #222

      .votes_wrapper
        .like_box
          color: #222

.anapa_content_wrapper
  background: #d4fbbc image_url('public/anapa/bg.png') no-repeat center -50px
  +background(image_url('public/anapa/bg.png') no-repeat center -50px, linear-gradient(top, #d4fbbc, #8cddfa))

  .anapa_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/anapa/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.forum_content_wrapper
  background-color: #000
  +background(linear-gradient(top, #000, #603a8d))

  .forum_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/forum/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.geronimo_content_wrapper
  background: #e1b240 image_url('public/geronimo/bg.png') no-repeat center top
  +background(image_url('public/geronimo/bg.png') no-repeat center top, linear-gradient(top, #e1b240, #ffe090))

  .geronimo_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/geronimo/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.globus_content_wrapper
  background-color: #d4e9fe

  .globus_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/globus/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.lazertag_content_wrapper
  background: #000 image_url('public/lazertag/bg.jpg') no-repeat center top

  .lazertag_logo
    width: 1300px
    height: 185px
    background: transparent image_url('public/lazertag/logo.png') no-repeat 0 top
    margin: 0 auto

  +unique_content_style

  .content
    background: transparent image_url('public/lazertag/content_bg.png') repeat left top
    color: #fff
    margin-top: -75px

    a
      color: #3ebcee

    .organization_show
      .left
        border: 1px solid #3fbbee

        .user_actions
          border-bottom: 1px solid #3fbbee

      .center
        .phone_wrapper
          background: transparent image_url('public/lazertag/icon_phone.png') no-repeat 0 4px

        .photogallery
          .jcarousel-item a
            background-color: #1c272b

        .suborganization_info
          > .title
            background-color: #1c272b

          &.afisha_details .posters .item .title
            background-color: transparent

        .comments
          +override_comments

          h3
            background-color: #1c272b
            color: #fff

      .right
        .wrapper
          border: 1px solid #3fbbee

          .yandex_map
            background: transparent
            border-bottom: 1px solid #3fbbee

          .more_like_this
            background: transparent

.gulliver_content_wrapper
  +background(linear-gradient(top, #fff8b2, #ffc69b))
  background-color: #fff8b2

  .gulliver_logo
    background: transparent image_url('public/gulliver/logo.png') no-repeat center center
    height: 110px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    margin-bottom: 0

    .content
      background: #fff9d7
      +background(linear-gradient(top, #fff9d7, #fee2cd))
      +box-shadow(none)
      margin: 0 auto
      padding: 6px
      width: 1178px

      .organization_show
        margin: 0

        .left
          border: 1px solid #ffc59b
          background: #fff9d7
          +background(linear-gradient(top, #fff9d7, #ffe2c2))

          .image
            border: none

          .social_actions
            border: none

            .user_actions
              border-bottom: 1px solid #ffc59b

            .list
              li:first-child
                border: none

        .center
          .suborganization_info
            .title
              background: #ffd9b5

          .comments
            +override_comments

            h3
              background: #ffd9b5

        .right
          .wrapper
            border: 1px solid #ffc59b

            .virtual_tour, .yandex_map
              background: #fff9d7
              +background(linear-gradient(top, #fff9d7, #fee4c3))
              border-bottom: 1px solid #ffc59b

            .more_like_this
              background: #fff2d5
              +background(linear-gradient(top, #fff2d5, #ffddc1))

.polnaya_chasha_content_wrapper
  background-color: #f9eab1
  +background(linear-gradient(top, #f9eab1, #e4686a))
  border-top: 1px solid #f2e3aa

  .polnaya_chasha_logo
    background: transparent image_url('public/polnaya_chasha/logo.png') no-repeat center top
    height: 103px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    margin-bottom: 0

    .content
      background: rgba(#fff, 0.5)
      +box-shadow(none)
      margin: 0 auto
      padding: 6px
      width: 1178px
      border: 4px solid #c4252a
      border-bottom: none

      .organization_show
        margin: 0

        .left
          border: 1px solid #e3686b
          background: transparent
          +background(linear-gradient(top, rgba(#e3686b, 0), rgba(#e3686b, 0.2)))

          .image
            border: none

          .social_actions
            border: none

            .user_actions
              border-bottom: 1px solid #e3686b

            .list
              li:first-child
                border: none

        .center
          .suborganization_info
            .title
              background: #efaba2

          .share_and_likes
            border-color: #e3686b

          .comments
            +override_comments

            h3
              background: #efaba2

        .right
          .wrapper
            border: 1px solid #e3686b

            .virtual_tour, .yandex_map
              background: transparent
              +background(linear-gradient(top, rgba(#e3686b, 0), rgba(#e3686b, 0.2)))
              border-bottom: 1px solid #e3686b

            .more_like_this
              background: transparent
              +background(linear-gradient(top, rgba(#e3686b, 0), rgba(#e3686b, 0.3)))

.vasya_lozhkin_content_wrapper
  background: #cce9f7 image_url('public/vasya_lozhkin/bg.png') no-repeat center top

  .vasya_lozhkin_logo
    height: 110px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    margin-bottom: 0

    .content
      background: transparent image_url('public/vasya_lozhkin/content_bg.png')
      +box-shadow(none)
      margin: 0 auto
      padding: 6px
      width: 1178px

      .organization_show
        margin: 0

        .left
          border: 1px solid #42acd8
          background-color: #d4eef9
          +background(linear-gradient(top, #eff8fd, #bae4f6))

          .image
            border: none

          .social_actions
            border: none

            .user_actions
              border-bottom: 1px solid #42acd8

            .list
              li:first-child
                border: none

        .center
          .suborganization_info
            .title
              background: #b6e1f4

            .afisha_list .posters li .item
              border-color: #42acd8

          .comments
            +override_comments

            h3
              background: #b6e1f4

        .right
          .wrapper
            border: 1px solid #42acd8

            .virtual_tour, .yandex_map
              background-color: #d4eef9
              +background(linear-gradient(top, #eff8fd, #bae4f6))
              border-bottom: 1px solid #42acd8

            .more_like_this
              background-color: #d4eef9
              +background(linear-gradient(top, #eff8fd, #bae4f6))

.mulen_ruzh_content_wrapper
  background: #000 image_url('public/mulen_ruzh/bg.png') no-repeat center top

  .mulen_ruzh_logo
    height: 110px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    margin-bottom: 0

    .content
      color: #fff
      background: transparent image_url('public/mulen_ruzh/content_bg.png')
      +background(image_url('public/mulen_ruzh/content_bg.png'), radial-gradient(500px 500px at 595px 350px, rgba(#fff, 0.6), rgba(#fff, 0)))
      +box-shadow(none)
      +border-top-left-radius
      +border-top-right-radius
      margin: 0 auto
      padding: 6px
      width: 1178px

      a
        color: #88c3ff

      .organization_show
        margin: 0

        .left
          border: 1px solid #b12c25
          background-color: transparent
          +background(linear-gradient(top, rgba(#b12c25, 0), rgba(#b12c25, 0.3)))

          .image
            border: none

          .social_actions
            border: none

            .user_actions
              border-bottom: 1px solid #b12c25

            .list
              li:first-child
                border: none

          .certificates
            .posters
              .price
                &:before
                  background: #1d0706

        .center
          .ul-toggleable
            color: #000

          .share_and_likes
            border-color: #b12c25

          .suborganization_info
            >.title
              background-color: rgba(#b12c25, 0.5)

            &.salon_center .service_header
              background-color: rgba(#b12c25, 0.5)

              h2
                background-color: #b12c25

                &:after
                  border-left-color: #b12c25

          .comments
            +override_comments

            h3
              background: rgba(177,44,37,0.5)
              color: #fff

        .right
          .wrapper
            border: 1px solid #b12c25

            .virtual_tour, .yandex_map
              background-color: transparent
              +background(linear-gradient(top, rgba(#b12c25, 0), rgba(#b12c25, 0.3)))
              border-bottom: 1px solid #b12c25

            .more_like_this
              background-color: transparent
              +background(linear-gradient(top, rgba(#b12c25, 0), rgba(#b12c25, 0.3)))

.lovekafe_content_wrapper
  background-color: #fff
  +background(linear-gradient(top, #fff, #f76663))

  .lovekafe_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/lovekafe/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.marsel_content_wrapper
  background-color: #58c3bb
  +background(linear-gradient(top, #58c3bb, #fff))

  .marsel_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/marsel/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.nezabudka_content_wrapper
  +background(image_url('public/nezabudka/bg.png') no-repeat center 0, linear-gradient(top, #98e5fd, #695196))

  .nezabudka_logo
    background: transparent image_url('public/nezabudka/logo.png') no-repeat center center
    height: 97px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    margin-bottom: 0

    .content
      +box-shadow(none)
      +border-top-left-radius
      +border-top-right-radius
      background: rgba(255,255,255,0.5)
      margin: 0 auto
      padding: 6px
      width: 1178px

      .organization_show
        margin: 0

        .left
          .image, .social_actions, .offers_wrapper
            border: 1px solid #87a1c2

            .user_actions
              border-bottom: 1px solid #87a1c2

            .list
              li:first-child
                border: none

        .social_actions, .offers_wrapper, .virtual_tour, .yandex_map, .more_like_this
          background: #c3dbee
          +background(linear-gradient(top, #c3dbee, #aec2de))

        .center
          .suborganization_info
            .title
              background: #a3bdde

          .share_and_likes
            border-bottom: 1px solid #87a1c2

          .sauna_hall_header
            span,
            a
              color: #7786ba !important

            background: #a3bdde
            .title
              background: #7986b7
              &:after
                border-left-color: #7986b7

        .comments
          +override_comments

          h3
            background: #a3bdde

        .right
          .wrapper
            border: 1px solid #87a1c2

            .virtual_tour, .yandex_map
              border-bottom: 1px solid #87a1c2

.nika_content_wrapper
  border-top: 2px solid #75563a
  background-color: #d1ae5c
  +background(linear-gradient(top, #d1ae5c, #fff))

  .nika_logo
    width: 1210px
    height: 110px
    border-top: 1px solid #75563a
    background: transparent image_url('public/nika/logo.png') no-repeat center center
    margin: 4px auto 0

  +unique_content_style

.paradise_content_wrapper
  background-color: #000
  +background(linear-gradient(top, #000, #fff))

  .paradise_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/paradise/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.paris_content_wrapper
  background: #ffe8b0 image_url('public/paris/bg.png') repeat
  +background(image_url('public/paris/bg.png') repeat, linear-gradient(top, #ffe8b0, #ffa068))

  .paris_logo_wrapper
    background: transparent image_url('public/paris/logo_bg.png') no-repeat center 20px

  .paris_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/paris/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.praline_content_wrapper
  background: #060a27 image_url('public/praline/bg.png') repeat left top
  +background(image_url('public/praline/bg.png') repeat left top, linear-gradient(top, #060a27, #fff))

  .praline_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/praline/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.retro_content_wrapper
  background: #feb652 image_url('public/retro/bg.png') no-repeat center top
  +background(image_url('public/retro/bg.png') no-repeat center top, linear-gradient(top, #feb652, #413773))

  .retro_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/retro/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.staraya_usadba_content_wrapper
  background-color: #49bee2
  +background(linear-gradient(left, #b8e8f8, #49bee2, #b8e8f8))

  .staraya_usadba_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/staraya_usadba/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.vokrugsveta_content_wrapper
  background: #dfc7ad image_url('public/vokrugsveta/bg.png') no-repeat center top

  .vokrugsveta_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/vokrugsveta/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style


.univer_content_wrapper
  background-color: #bfa083
  +background(linear-gradient(top, #bfa083, #fefefe))

  .univer_logo
    background: transparent image_url('public/univer/logo.png') no-repeat center 2px
    height: 110px
    margin: 0 auto
    width: 1280px

  .content_wrapper
    margin-bottom: 0

    .content
      background: #ddcdbd
      +background(linear-gradient(top, #ddcdbd, #fff))
      +box-shadow(none)
      +border-top-left-radius
      +border-top-right-radius
      margin: 0 auto
      padding: 6px
      width: 1178px

      .organization_show
        margin: 0

        .left
          .image, .social_actions, .offers_wrapper
            border: 1px solid #bfa284

            .user_actions
              border-bottom: 1px solid #bfa284

            .list
              li:first-child
                border: none

        .center
          .suborganization_info
            .title
              background: #e4d8cc

          .comments
            h3
              background: #e4d8cc

          .share_and_likes
            border-bottom: 1px solid #bfa284

          .sauna_hall_header
            background: #e4d8cc
            .title
              background: #c0a184
              &:after
                border-left-color: #c0a184

        .right
          .wrapper
            border: 1px solid #bfa284

            .virtual_tour, .yandex_map
              background: #ddcdbd
              +background(linear-gradient(top, #ddcdbd, #e5d7ca))
              border-bottom: 1px solid #bfa284

            .more_like_this
              background: #f3eee8
              +background(linear-gradient(top, #f3eee8, #f2ebe5))

.zastolie_content_wrapper
  background-color: #f4e0bd

  .zastolie_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/zastolie/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.dvorcovaya_content_wrapper
  +background(image_url('public/sauna_dvorcovaya/tx1.png') repeat, linear-gradient(top, #50150d, #8f2611))
  padding-top: 5px

  .dvorcovaya_logo
    background: transparent image_url('public/sauna_dvorcovaya/dvorcovaya.png') no-repeat 0 top
    height: 185px
    margin: 0 auto
    width: 1154px

  +unique_content_style

  .content
    +box-shadow(none)
    background: transparent image_url('public/sauna_dvorcovaya/content_bg.png') repeat left top
    color: #fff
    margin-top: -75px

    a
      color: #3ebcee

    .organization_show
      .left

        .social_actions, .offers_wrapper, .image
          background-color: transparent
          +background(linear-gradient(top, rgba(108,48,38, 0.1), rgba(148,65,51, 0.5)))
          border: 1px solid #b3503d

        .user_actions
          border-bottom: 1px solid #b3503d

      .center
        .share_and_likes
          border-bottom: 1px solid #b3503d

        .phone_wrapper
          background: transparent image_url('public/lazertag/icon_phone.png') no-repeat 0 4px

        .photogallery
          .jcarousel-item a
            background-color: #1c272b


        .suborganization_info
          .sauna_hall_info
            .sauna_hall_header
              background-color: rgba(160,69,51, 0.7)
              .title
                background: #ce5b49
                &:after
                  border-left-color: #ce5b49

          > .title
            background-color: rgba(160,69,51, 0.7)

          &.afisha_details .posters .item .title
            background-color: transparent

        .comments
          +override_comments

      .right
        .wrapper
          border: 1px solid #b3503d

          .yandex_map
            +background(linear-gradient(top, rgba(108,48,38, 0.1), rgba(148,65,51, 0.5)))
            border-bottom: 1px solid #b3503d

          .more_like_this
            +background(linear-gradient(top, rgba(108,48,38, 0.1), rgba(148,65,51, 0.5)))

.sibbliny_content_wrapper
  +uniq_design(#c2224e, #fed54f, #fff, #fff, #e07879, #eaa481, #ed9d6f, #d12345, #cf2344, #fff, #e07171)

  .sibbliny_logo
    background: transparent image_url('public/sibbliny/logo.png') no-repeat center center
    height: 111px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    .content
      background: rgba(255,255,255,0.5)

    .center
      background: transparent image_url('public/sibbliny/girl.png') no-repeat bottom center
      color: #fff
      padding: 0 0 285px 0

.shisha_content_wrapper
  +uniq_design(#1f1a17, #c43e40, #1a1515, #a83535, #512221, #3a1d1c, #862e2e, #b03535, #2c70c1, #fff, #e07171)

  .shisha_logo
    background: transparent image_url('public/shisha/logo.png') no-repeat center center
    height: 115px
    margin: 0 auto
    width: 1200px

.u_brodyachey_sobaki_content_wrapper
  +uniq_design(#e4d4bb, #e4d4bb, #fff, #fff, #ede5d7, rgba(237,229,215, .5), rgba(219,198,181, .5), #ac7c5e, #06c, #000, #e5d5c5)

  background: #e4d4bb image_url('public/u_brodyachey_sobaki/background.png') no-repeat center center

  .u_brodyachey_sobaki_logo
    background: transparent image_url('public/u_brodyachey_sobaki/logo.png') no-repeat center center
    height: 111px
    margin: 0 auto
    width: 1200px

  .content_wrapper
    .content
      background: rgba(255,255,255, .5)

      .organization_show
        .center
          .suborganization_info
            .title
              background: rgba(219,198,181, .5)

.strekoza_content_wrapper
  +uniq_design(#141213, #574e53, #252324, #635a5f, #5e555a, #3e393d, #8a8486, #3f3a3e, #0066cc, #fff, #544c50)

  .strekoza_logo
    background: transparent image_url('public/strekoza/logo.png') no-repeat center center
    height: 115px
    margin: 0 auto
    width: 1280px

  .content_wrapper
    .content
      .organization_show
        .center
          .suborganization_info
            .title
              background: rgba(92,83,88, .5)


.solyanaya-peschera_content_wrapper
  +uniq_design(transparent, transparent, rgba(255,255,255, .5), #d0ebff, #b9d9f0, #a9d2ed, #b4d9f2, #73b5d7, #0066cc, #222, #b9d9f0)
  background: #b7deff image_url('public/solyanaya-peschera/logo.jpg') no-repeat center 0
  margin: 0 auto

  .solyanaya-peschera_logo
    height: 110px


.kupecheskiy-traktir_content_wrapper
  +uniq_design(#fff97f, #fff, rgba(255,255,255, .5), #fff, #fffcc5, #fefeda, #e9dbd0, #cba79b, #0055cc, #222, #caa69a)

  .kupecheskiy-traktir_logo
    background: transparent image_url('public/kupecheskiy-traktir/logo.jpg') no-repeat center center
    height: 110px
    margin: 0 auto
    width: 1280px

  .suborganization_info > .title
    color: #fff

  .comments > h3
    color: #fff


.volna_content_wrapper
  +uniq_design(transparent, transparent, rgba(255,255,255, .5), #fff, #aae0fb, #d0edfb, #c0e9fb, #56c4f9, #06c, #222, #56c4f9)
  +background(image_url('public/volna/logo.png') no-repeat center 0, linear-gradient(top, #56c4f9, #fff))
  margin: 0 auto

  .volna_logo
    height: 110px

  .suborganization_info > .title
    color: #fff

  .comments > h3
    color: #fff

.impuls_content_wrapper
  +uniq_design(#fff, #f69db9, rgba(255,255,255, .5), #facedd, #fff, #fff0f5, #e6d4ea, #9ea5e9, #06c, #222, #ded5f0)

  .impuls_logo
    background: transparent image_url('public/impuls/logo.jpg') no-repeat center 0
    height: 120px
    margin: 0 auto
    width: 1280px

  .content_wrapper
    margin: -10px auto 0 auto

    .suborganization_info,
    .room_info

      .left
        > .title
          background: #7478e6 !important

          &:after
            border-left-color: #7478e6 !important

      .room_header, .sauna_hall_header
        background: #ded5f0 !important

.relax_content_wrapper
  +uniq_design(#f9f5b4, #202a2c, rgba(#f9f5b4, .5), rgba(#f9f5b4, .5), #f9f5b4, rgba(#f9f5b4, 0), rgba(#f9f5b4, .5), #f9f5b4, #6698C6, #000, #d58442)
  background: #273835 image_url('public/relax/bg.png') no-repeat center top

  .relax_logo
    width: 1200px
    height: 110px
    margin: 0 auto

  .content_wrapper .content
    .organization_show
      .left
        .image
          +background(linear-gradient(top, rgba(#f9f5b4, 0), rgba(#f9f5b4, .5)))

        .certificates
          .posters
            .price
              &:before
                background: #9da173

        .social_actions
          .user_actions
            border: 0

      .right .yandex_map
        +background(linear-gradient(top, rgba(#f9f5b4, 0), rgba(#f9f5b4, .5)))

      .center
        .jcarousel-item a
          background-color: #fff

        .suborganization_info
          .title
            background-color: #fdf5b4

          strong
            color: #fdf5b4

          .room_info,
          .sauna_hall_info

            .room_header,
            .sauna_hall_header
              background-color: #fdf5b4

            .left .title
              background-color: #d58442
              &:after
                border-left-color: #d58442

          &.discount_details
            li
              background-color: #fff

              strong
                color: #000

          &.related-reviews
            li
              background-color: #fff

        .categories_and_visits
          .details
            color: #fdf5b4

        .comments
          h3
            background-color: #fdf5b4

.paprika_content_wrapper
  background: black image_url('public/paprika/header.jpg') no-repeat center top

  .paprika_logo
    width: 1200px
    height: 110px
    margin: 0 auto

  .content_wrapper
    background-color: rgba(#000, 0.2)
    +border-radius(5px)

    .left
      .image
        border: 2px solid #860000
        margin: 0
        border-bottom: 0

      .social_actions
        border: 2px solid #860000
        border-top: 0
        background-color: #3d0006
        width: 208px

        .user_actions
          border-bottom: 2px solid #860000
          padding: 7px 5px

        .visits_counter
          color: #fff

          .floatr
            color: #0066cc

        .visitors
          li
            &:first-child
              border: 0

    .center
      color: #fff

      div.title, h3
        background-color: #3d0006

      .share_and_likes
        border-bottom: 1px solid #860000

        .share
          .title
            background-color: transparent

      .discount_details, .afisha_content
        .posters
          .item
            border: 1px solid #860000

    .right
      border: 2px solid #860000
      width: 203px
      padding: 5px

      .wrapper
        border: 0

        .yandex_map

        .more_like_this
          +background(linear-gradient(top, #1d0708, #3f0006))
          border-top: 2px solid #860000
          margin: 6px -5px -5px

.elbrus_content_wrapper
  background: black image_url('public/elbrus/background.jpg') no-repeat center top

  .elbrus_logo
    width: 1200px
    height: 110px
    margin: 0 auto

  .content_wrapper
    background-color: rgba(#003157, 0.1)
    +border-radius(5px)

    a
      color: #00aff2

    .left
      .image
        border: 2px solid #0074a4
        margin: 0
        border-bottom: 0

      .social_actions
        border: 2px solid #0074a4
        border-top: 0
        background-color: rgba(#0074a4, 0.5)
        width: 208px

        .user_actions
          border-bottom: 2px solid #0074a4
          padding: 7px 5px

        .visits_counter
          color: #fff

          .floatr
            color: #00aff2

        .visitors
          li
            &:first-child
              border: 0

    .center
      color: #fff

      div.title, h3
        background-color: #0074a4

      .room_info
        .room_header
          background-color: #0074a4

      .sauna_hall_info
        .sauna_hall_header
          background-color: #0074a4

          .left
            .js-ul-toggleable
              color: black

          .right
            padding: 0

      .share_and_likes
        border-bottom: 1px solid #0074a4

        .share
          .title
            background-color: transparent

    .right
      border: 2px solid #0074a4
      width: 203px
      padding: 5px

      .wrapper
        border: 0

        .yandex_map

        .more_like_this
          +background(linear-gradient(top, #0074a4, #00aff2))
          border-top: 2px solid #0074a4
          margin: 6px -5px -5px

.luks_content_wrapper
  $main_color: #d6afe6
  $border_color: #cf9ee2
  $link_color: #086ad9
  +background(image_url('public/luks/header.png') no-repeat center top, linear-gradient(top, $main_color, #fff))

  a
    color: $link_color

  .luks_logo
    width: 1200px
    height: 110px
    margin: 0 auto

  .content_wrapper
    background-color: #f0def5
    +border-radius(5px)

    .price
      &:before
        background-color: #f4dbf6 !important

    .left
      .image
        border: 2px solid $border_color
        margin: 0
        border-bottom: 0

      .social_actions
        border: 2px solid $border_color
        border-top: 0
        background-color: #e2c2ee
        width: 208px

        .user_actions
          border-bottom: 2px solid $border_color
          padding: 7px 5px

        .visits_counter
          color: black

          .floatr
            color: $link_color

        .visitors
          li
            &:first-child
              border: 0

    .center
      color: black

      .sections_info
        .info
          h2
            color: black

        .divider
          border: 1px solid $border_color
          margin: 0 0 5px 0

      .comments
        .body
          p
            color: black

      div.title, h3
        background-color: $main_color

      .services
        .info
          .head
            h3
              background-color: black

      .share_and_likes
        border-bottom: 1px solid $border_color

        .share
          .title
            background-color: transparent

      .discount_details, .afisha_content
        .posters
          .item
            border: 1px solid $border_color

    .right
      border: 2px solid $border_color
      width: 203px
      padding: 5px

      .wrapper
        border: 0

        .yandex_map

        .more_like_this
          +background(linear-gradient(top, $main_color, #fff))
          border-top: 2px solid $border_color
          margin: 6px -5px -5px
