.svadbavsibiri_contest
  margin: 160px 0 0 0

  .svadbavsibiri_contest_header
    background: #fff
    +background(image_url('public/svadbavsibiri_contest/logo.jpg') no-repeat top center, linear-gradient(right, #fcc92f 50%, #fff 50%))
    display: block
    height: 150px
    margin: -160px auto 0 auto
    text-indent: -9999em

  .svadbavsibiri_contest_cotent
    margin: 0 auto

    .header_wrapper
      border-bottom: none
      margin-bottom: 0
      margin-top: 0
      border-bottom: 2px solid #f60

      .header
        background: #222
        background-color: #fff
        padding: 0px

        .dashboard
          top: 5px

    .filters_wrapper
      padding: 10px 0 0 0
      margin: 0 auto

    .content_wrapper
      margin-bottom: 0

      .content
        background-color: #fff
        padding-top: 10px
        padding-bottom: 10px
