.alternative_election
  background: #fff image_url('public/alternative_election/flag.png') no-repeat center top

  .alternative_election_header
    width: 1180px

  .alternative_election_cotent
    width: 1210px
    margin: 0 auto
    +border-top-left-radius
    +border-top-right-radius
    +box-shadow(#555 0 0 3px)
    background-color: #fff
    padding: 1px 0
