.content_wrapper
  .list_settings
    +clearfix
    line-height: 1.4
    font-size: 11px
    margin-bottom: 20px
    ul li
      background: none
      padding: 0
      margin: 0

    .sort
      float: left
      +clearfix
      p, ul
        float: left
      p
        margin: 8px 10px 0
      ul
        +clearfix
        li
          float: left
          a
            color: #fff
            display: block
            padding: 7px 10px
            background-color: #82b4cc
            border: 1px solid #639eba
            text-decoration: none
            &.closest
              +border-left-radius
              border-right: none
            &.newest
              border-left: none
              border-right: none
            &.popular
              border-left: none
              +border-right-radius
            &.selected
              color: #ebebeb
              border-color: #845999
              background-color: #b492c5
              +box-shadow(#6d4a7e 0 3px 4px inset)
          .separator
            display: block
            width: 1px
            overflow: hidden
            text-indent: -9999em
            padding: 7px 0
            border-top: 1px solid #639eba
            border-bottom: 1px solid #639eba
            background-color: #639eba

    .presentation
      float: right
      ul
        +clearfix
        li
          float: left
          a
            display: block
            width: 30px
            overflow: hidden
            text-indent: -9999em
            padding: 7px 0
            background-color: #82b4cc
            background-repeat: no-repeat
            background-position: center center
            border: 1px solid #639eba
            &.list
              border-right: 0
              +border-left-radius
              background-image: image_url('public/list_settings_presentation_list.png')
            &.posters
              border-left: 0
              background-image: image_url('public/list_settings_presentation_posters.png')
              +border-right-radius
            &.selected
              color: #ebebeb
              border-color: #845999
              background-color: #b492c5
              +box-shadow(#6d4a7e 0 3px 4px inset)
          .separator
            display: block
            width: 1px
            overflow: hidden
            text-indent: -9999em
            padding: 7px 0
            border-top: 1px solid #845999
            border-bottom: 1px solid #845999
            background-color: #845999
