$main_menu_margin_left: 150px
$main_menu_margin_right: 150px

.header_wrapper
  .main_menu
    +clearfix
    ul
      margin: 60px $main_menu_margin_right 0 $main_menu_margin_left
      display: table
      li
        display: table-cell
