$main_menu_margin_top: 50px

.header_wrapper
  .main_menu
    width: 75%
    height: 77px
    margin: 0 auto

    > ul
      margin-top: $main_menu_margin_top
      float: left
      width: 80%

      > li
        background-color: #fff
        float: left
        width: 18%

        > a
          color: #000
          display: block
          font-size: 14px
          text-align: center
          background-color: #e8e8e8
          +border-top-right-radius
          +border-top-left-radius
          padding: 3px 10px
          margin-right: 4px

          &:hover
            color: #f60
            text-decoration: none

          &:active
            padding: 4px 10px 2px

        &.selected > a
          color: #fff
          background-color: #f60

      #main_menu_more
        width: 8%
        position: relative

        > a
          background-color: #fff
          margin-right: 2px
          padding: 3px

        ul
          display: none
          position: absolute
          right: 0
          font-size: 12px
          +box-shadow(#555 0 0 3px)
          +border-radius
          background-color: #fff
          padding: 10px
          z-index: 10

          a
            color: #000
            white-space: nowrap

            &:hover
              color: #f60
              text-decoration: none

          .selected a
            color: #f60

        &:hover ul
          display: block

        &.selected > a
          color: #f60
          background-color: #fff

    .search_form
      float: left
      width: 20%
      margin-top: $main_menu_margin_top

      form
        +clearfix
        position: relative

      +placeholder
        color: #999

      .search
        font-size: 11px
        width: 80%
        height: 13px
        color: #000
        font-family: 'Verdana', 'Tahoma', sans-serif
        border: 2px solid #e8e8e8
        +border-top-left-radius
        border-bottom: none
        border-right: none
        margin: 0
        padding: 6px 10px

        &:focus
          outline: none

      .submit
        position: absolute
        top: 0
        right: 0
        width: 30px
        height: 29px
        margin: 0
        padding: 0
        border: 0
        cursor: pointer
        +border-top-right-radius
        background: #e8e8e8 image_url('public/search_submit.png') no-repeat center 6px

        &:hover
          background-position: center -58px

      &.selected
        .search
          border-color: #f60

        .submit
          background-color: #f60
          background-position: center -26px

          &:hover
            background-position: center -26px
