.afisha_main_page_list,
.organizations_main_page_list,
.discounts_main_page_list,
.accounts_main_page_list
  margin: 10px 0 0 0

  h1
    font-size: 22px
    line-height: 33px
    margin-left: 10px

  .filters_wrapper
    +box-shadow(none)
    background: #fff
    margin-bottom: 10px

    .filters.afisha
      .by_kind
        margin: 20px auto
        width: 100%

    .filters.organization
      .by_categories
        margin: 20px auto
        width: 100%

    .filters.discount
      .by_kind
        margin: 20px auto
        width: 100%

    .filters.accounts
      .by_category
        margin: 20px auto
        width: 100%
