.afisha_main_page_list,
.organizations_main_page_list,
.discounts_main_page_list,
.accounts_main_page_list,
.webcams_main_page_list
  +clearfix
  margin: 10px 0

  h1, h2
    font-size: 22px
    line-height: 33px
    margin-left: 10px

  .filters_wrapper
    border: 0px

  .filter_header
    float: left
    margin: 0 0 10px 0

  .by_tickets,
  .by_gender,
  .by_type
    float: right
    margin: 0 10px 0 0

    ul
      +clearfix
      li
        float: left
        margin-right: 5px
        +toggable-links
        &:last-child
          margin-right: 0

  .filters_wrapper
    +box-shadow(none)
    background: #fff
    clear: both
    margin: 0
    padding: 0

    .filters.afisha
      .by_kind
        margin: 20px auto
        width: 100%
        ul
          width: 100%
          display: table
          margin: 0 10px
          li
            float: none
            display: table-cell

    .filters.organization
      .by_categories
        margin: 20px auto
        width: 100%

        ul
          width: 1180px

    .filters.discount
      .by_kind
        margin: 20px auto
        width: 100%

    .filters.account
      .by_category
        margin: 20px auto
        width: 100%

        ul
          margin: 0 10px
          width: 1180px

.reviews_main_page
  +clearfix
  margin: 10px 10px 20px

  h1
    font-size: 22px
    line-height: 33px
    margin-bottom: 10px

  .left
    float: left
    width: 860px
    height: 255px
    position: relative
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    margin-right: 50px
    padding: 10px 0

    .reviews

      li
        position: absolute
        top: 11px
        left: 0
        display: none
        +clearfix

        &:first-child
          display: block

      .image
        float: left

      .stats
        color: #989898
        font-size: 12px
        float: right
        margin-top: 10px

        span
          margin-left: 5px

      .categories,
      .title,
      .text
        margin-left: 420px

      .categories
        color: #989898
        font-size: 12px
        margin-top: 10px
        margin-bottom: 10px

        a
          color: #f60

        .date
          display: inline

      .title
        font-size: 18px
        margin-bottom: 10px

      .text
        font-size: 14px

    .reviews_toggler
      position: absolute
      left: 420px
      bottom: 7px

      li
        +inline-block
        margin-right: 2px

        img
          cursor: pointer
          +opacity(0.5)

          &.selected
            cursor: default
            +opacity(1)

          &:hover
            +opacity(1)

  .right
    float: left
    width: 270px

    .last_reviews_header
      background: #ccc
      font-size: 14px
      line-height: 22px
      margin: 0 0 0 -10px
      padding: 4px 4px 4px 10px
      position: relative

      &:before
        content: ''
        width: 0
        height: 0
        position: absolute
        left: 0
        bottom: -10px
        border-width: 5px 5px
        border-style: solid
        border-color: #999 #999 transparent transparent

      .title
        +inline-block
        width: 180px

        a
          color: #222
          text-decoration: none

      .counter
        +inline-block
        background: #fff
        color: #06c
        float: right
        font-size: 11px
        line-height: 22px
        padding: 0 5px
        position: relative

        &:before
          right: 100%
          top: 11px
          border: solid transparent
          content: ''
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: rgba(0,0,0,0)
          border-right-color: #fff
          border-width: 11px
          margin-top: -11px

    .last_reviews_content
      background-color: #e8e8e8
      height: 225px

      ul
        +clearfix

      li
        margin: 17px 10px

        .image
          +inline-block
          height: 50px
          margin-right: 10px
          width: 88px

        .title
          width: 148px
          font-size: 12px
          +inline-block

.news_main_page

  .news_list_wrapper
    border-bottom: 1px solid #ccc
    margin: 10px 10px 20px

  h1
    font-size: 22px
    line-height: 33px
    margin-bottom: 10px

  table
    width: 100%
    font-size: 14px
    margin-bottom: 10px

    th, td
      text-align: center
      padding: 7px 5px

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0

    .left
      width: 76%
      text-align: left

      span
        float: left

      p
        margin-left: 25px

        span
          float: none

    .rating
      width: 4%

    thead
      .vkontakt
        display: block
        width: 24px
        height: 24px
        background: transparent image_url('public/news/vk.png') no-repeat center center
        margin: 0 auto

      .facebook
        display: block
        width: 24px
        height: 24px
        background: transparent image_url('public/news/fb.png') no-repeat center center
        margin: 0 auto

      .twitter
        display: block
        width: 24px
        height: 24px
        background: transparent image_url('public/news/twitter.png') no-repeat center center
        margin: 0 auto

      .likes
        display: block
        width: 24px
        height: 24px
        background: transparent image_url('public/news/like.png') no-repeat center center
        margin: 0 auto

      .comments
        display: block
        width: 24px
        height: 24px
        background: transparent image_url('public/news/comment.png') no-repeat center center
        margin: 0 auto

      .rating
        display: block
        width: 24px
        height: 24px
        background: transparent image_url('public/news/rating.png') no-repeat center center
        margin: 0 auto

      .timestamp
        font-size: 12px

        ul
          display: inline

        span,
        li
          float: none
          +inline-block

        li
          border-right: 1px solid #ccc
          margin-left: 8px
          line-height: 21px
          padding-right: 12px

          &:last-child
            border-right: none

          &.selected
            font-size: 18px

            a
              color: inherit
              text-decoration: none

.webcams_main_page_list
  .filter_header
    margin: 0 0 20px 0

.afisha_main_page_list
  .posters
    padding: 0 0 100px 0
    position: relative

    .item
      border: 1px solid #ccc
      float: left
      height: 320px
      margin: 0 10px 20px 10px
      width: 178px

      .afisha_item
        margin: 0 auto

        .title
          height: 38px
          width: 178px
          display: table-cell
          text-align: center
          vertical-align: middle
          padding: 0 3px

        .image
          height: 240px
          position: relative

          .has_items_for_sale
            width: 190px
            position: absolute
            top: 0
            left: -6px
            +as_blue_ribbon

          .ribbon
            position: absolute
            left: 0
            bottom: 0
            color: #fff
            background-color: #f60
            padding: 2px 8px 3px

          .for_sale
            +button-style
            display: none
            position: absolute
            top: 50px
            left: 29px
            font-size: 12px
            padding: 2px 15.5px 3px
            &:active
              padding: 3px 15.5px 2px

            &.ponominalu
              background: none
              border: none
              left: 0

          .details
            color: #999
            font-size: 12px

          .first_line
            bottom: 35px

          .second_line
            bottom: 10px

          .first_line,
          .second_line
            display: none
            left: 0
            position: absolute
            width: 100%

            span
              cursor: help
              display: inline-block
              text-align: center
              width: 56px

          &:hover
            .ribbon
              display: none
            img:not(.link)
              +opacity(0.15)
            .for_sale,
            .first_line,
            .second_line
              display: block

        .place
          text-align: center
          margin: 3px 0 0 0

        .human_when
          text-align: center
          margin: 2px 0 3px 0
