@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic)

.map_projects_wrapper
  +clearfix
  background: #fff image_url('public/map_projects/background.jpg') no-repeat center top
  width: 100%

  .placemarks_list
    display: none

  .map_projects_content
    margin: 0 auto
    width: 1200px

    .map_projects_header
      border-bottom: 1px solid white
      margin: 20px 0

      .lobster_font
        color: #f00000
        font-family: 'Lobster', cursive
        font-size: 36px
        +text-shadow(#fff589 -3px 0 2px, #fff589 3px 0 2px, #fff589 0 3px 2px, #fff589 0 -3px 2px)

    .map_projects_main

      .left
        float: left
        width: 250px
        margin-right: 20px
        font-size: 14px

        ul

          li
            margin-bottom: 5px

            a
              color: inherit
              display: block
              background-color: #e5f7fb
              background-position: 3px center
              background-repeat: no-repeat
              padding: 10px 10px 10px 40px

              &.all_layers
                background-image: none

              &:hover
                color: #009c9a
                text-decoration: none

            &.selected a
              color: #009c9a
              border: 2px solid #009f9c

        .actual_reviews
          background-color: #ffe369
          margin-top: 20px
          position: relative

          a
            color: red
            display: block
            font-size: 20px
            font-family: 'Lobster', cursive
            background: transparent image_url('public/map_projects/arrow.png') no-repeat 6px center
            padding: 10px 10px 10px 40px

            &:hover
              text-decoration: none
              background-color: #fff589

        .text_block
          position: relative
          background-color: #fff
          +background(rgba(#fff, 0.6))
          margin: 20px 0 10px
          padding: 10px 10px 200px

          .left_wreath
            position: absolute
            left: -20px
            bottom: -20px

      .right
        float: left
        width: 930px

        .map_wrapper
          position: relative

          .right_wreath
            display: none
            position: absolute
            top: -70px
            right: -30px
            z-index: 100

          .map
            height: 700px
            width: 930px
            margin-bottom: 10px

            .ymaps-2-1-17-balloon__close
              background-color: #fff

            .ymaps-2-1-17-balloon__close+.ymaps-2-1-17-balloon__content
              margin-right: 1px

            .ymaps-2-1-17-b-cluster-accordion_list_marker .ymaps-2-1-17-b-cluster-accordion__item-number
              display: none

            .ymaps-2-1-17-b-cluster-accordion__item-caption
              padding-left: 0

            .ymaps-2-1-17-balloon__close-button
              width: 20px
              margin-right: 7px

            .ymaps-2-1-17-b-cluster-accordion__item-title
              white-space: normal

            .ymaps-2-1-17-balloon__content
              text-align: left

            .ymaps-2-1-17-b-cluster-content__body
              img
                border: 1px solid #dedede

    .map_project_reviews
      +clearfix
      clear: both
      margin-top: 7px

      .likes
        +likes

      .reviews_title
        background-color: #009f9c
        color: white
        font-size: 14px
        margin-top: 30px
        padding: 5px 10px

      .related-reviews
        margin-left: 15px

        li.item
          background-color: white
