.organization_info
  .meal

    .menus
      border-top: 1px dotted #cfcfd1

      .menu_header
        +clearfix
        background: image_url('public/menu_header_bg.png') repeat-x top

        .iconize_info
          float: right
          margin: 4px 30px 0



      h2
        font-size: 17px
        color: #fff
        width: 260px
        position: relative
        background-color: #894195
        padding: 7px 10px
        margin: 0
        float: left

        &:after
          content: ' '
          position: absolute
          width: 0
          height: 0
          left: 100%
          top: 0
          border-top: 15px solid transparent
          border-right: 15px solid transparent
          border-left: 15px solid #894195
          border-bottom: 16px solid transparent

      h3
        font-size: 14px
        font-weight: bold
        color: #8302A5
        padding: 7px 10px 7px 2px


      .info
        margin: 5px 0 5px 15px

        .value
          +clearfix
          h3, a
            float: left
          a
            margin: 9px 0 0
            &.closed:after
              content: ' \25be'
            &.opened:after
              content: ' \25b4'

        .details
          display: none

          .position
            +border-radius(3px)
            background-color: #f6eff7
            padding: 0px
            margin: 10px 10px 10px 0
            +min-height(50px)
            &:hover
              background-color: #f5e6f7

            .position_price
              +min-height(50px)
              width: 100px
              float: right
              background-color: #dfc9de
              text-align: center
              .price
                +inline-block
                margin: 16px 0 0 0
                font-size: 17px

            .position_info
              +min-height(50px)
              width: 998px
              float: left
              font-size: 14px

              +clearfix
              .position_image
                +min-height(50px)
                float: left
                margin-right: 10px

              .title
                +inline-block
                margin: 10px 0 0 0
              .count
                +inline-block
                margin: 10px 0 0
                color: #707070
              .position_description
                margin: 7px 5px 0 0
                color: #707070
                font-size: 12px
