/* base */
$desktop_min_width: 1000px
$desktop_max_width: 1440px
$desktop_default_width: 1200px

=max-width($max_width)
  max-width: $max_width

=liquid-size($min_width, $max_width)
  +min-width($min_width)
  +max-width($max_width)
  margin: 0 auto

=fixed-size
  +min-width(0)
  +max-width(none)
  width: $desktop_default_width !important
  margin: 0 auto

/* placheholder for form */

=placeholder
  @each $prefix in "::-webkit-input", ":moz", "::-moz", ":-ms-input"
    #{$prefix}-placeholder
      @content

/* button style */
=button-style
  color: #fff
  background-color: #ff7f1a
  +background(linear-gradient(top, #f93, #f60))
  border: 1px solid #f60
  padding: 1px 8px 2px
  &:hover
    +text-shadow(#f60 1px 1px 1px)
    text-decoration: none
    background: none
    background-color: #f93
  &:active
    background-color: #ff7f1a
    +background(linear-gradient(top, #f60, #f93))
    padding: 2px 8px 1px

=grey-button-style
  color: #000
  background-color: #e9e9e9
  +background(linear-gradient(top, #fefefe, #cecece))
  border: 1px solid #ccc
  padding: 1px 8px 2px
  &:hover
    +text-shadow(#fefefe 1px 1px 1px)
    text-decoration: none
    background: none
    background-color: #e9e9e9
    color: #ff6600
  &:active
    +text-shadow(#fefefe 1px 1px 1px)
    text-decoration: none
    background: none
    background-color: #e9e9e9
    padding: 2px 8px 1px
/* toggable buttons for filters */

=toggable-links($padding-top: 1px, $padding-bottom: 2px)
  a
    display: block
    color: #000
    line-height: 16px
    background-color: #e8e8e8
    border: 1px solid #ccc
    +border-radius
    padding: $padding-top 8px $padding-bottom

    &:hover
      color: #f60
      text-decoration: none

    &:active
      padding: $padding-bottom 8px $padding-top

  &.selected a
    color: #fff
    line-height: 16px
    background-color: #f60
    border: none
    +box-shadow(rgba(0, 0, 0, 0.3) 1px 1px 2px inset)
    padding: ($padding-top + 1) 8px ($padding-bottom + 1)

    &:active
      padding: ($padding-bottom + 1) 8px ($padding-top + 1)

  &.disabled a
    color: #ccc
    cursor: default

    &:active
      padding: $padding-top 8px $padding-bottom

=social_actions_popup
  position: relative

  .cloud_wrapper

    .social_signin_links
      +clearfix
      margin: 10px 0 0
      text-align: center

      li
        +inline-block
        margin: 0 15px 0 0

        &:last-child
          margin-right: 0

        a
          display: block
          text-indent: -9999px
          height: 33px
          width: 33px

        &.vkontakte a
          background: image_url('social_icons.png') no-repeat 0 0

        &.yandex a
          background: image_url('social_icons.png') no-repeat -33px 0

        &.facebook a
          background: image_url('social_icons.png') no-repeat -66px 0

        &.twitter a
          background: image_url('social_icons.png') no-repeat -99px 0

        &.google a
          background: image_url('social_icons.png') no-repeat -132px 0

        &.mail_ru a
          background: image_url('social_icons.png') no-repeat -165px 0

        &.odnoklassniki a
          background: image_url('social_icons.png') no-repeat -198px 0

=avatar-style
  float: left
  +clearfix
  width: 35px
  height: 35px
  +border-radius
  margin: 0 5px 0 0

=avatar-list-style
  +clearfix
  margin: 0 5px

  li
    +clearfix
    margin-bottom: 5px

  .avatar
    +avatar-style

  .details
    +clearfix
    margin-top: 8px

    .name
      font-size: 12px


/* animations */

=animate_blink($speed: 1s, $repeat: true)
  animation: fade $speed forwards
  -webkit-animation: fade $speed forwards
  -moz-animation: fade $speed forwards
  -o-animation: fade $speed forwards
  @if $repeat == true
    animation-iteration-count: infinite
    -webkit-animation-iteration-count: infinite
    -moz-animation-iteration-count: infinite
    -o-animation-iteration-count: infinite

=animate_paused
  animation: show 0 forwards
  -webkit-animation: show 0 forwards
  -moz-animation: show 0 forwards
  -o-animation: show 0 forwards
  +opacity(1)
  animation-play-state: paused
  -webkit-animation-play-state: paused
  -moz-animation-play-state: paused
  -o-animation-play-state: paused

@keyframes fade
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@-webkit-keyframes fade
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@-moz-keyframes fade
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@-o-keyframes fade
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@keyframes show
  0%
    opacity: 1
  100%
    opacity: 1

@-webkit-keyframes show
  0%
    opacity: 1
  100%
    opacity: 1

@-moz-keyframes show
  0%
    opacity: 1
  100%
    opacity: 1

@-o-keyframes show
  0%
    opacity: 1
  100%
    opacity: 1
