@import 'simple_form'

.my_posts_wrapper
  font-size: 14px
  margin-top: 20px
  padding: 0 20px

  h1
    font-size: 22px
    margin-bottom: 10px

  .upload_gallery_images
    display: none

  .simple_form
    textarea
      font-size: 14px
      outline: none
      resize: none
      width: 540px

      &:active, &:focus
        background: #fffbef

    #post_title
      height: 34px

  .markItUpEditor
    border-top-left-radius: 0 !important
    border-top-right-radius: 0 !important
    border-top: none
