.my_discounts_help
  padding: 10px

.show_help
  cursor: pointer

.content .my_wrapper

  h1
    border-bottom: 1px solid #ccc

  h3
    font-size: 14px

  .red_star
    color: #F12716
    cursor: help
    font-size: 20px

  .text_help
    color: #B5B2B9

  .label_with_link
    +inline-block
    width: 550px
    &.discounts
      float: left
      width: 93%

    .label_examples
      float: left

    .examples
      &.no_margin
        margin: 0 !important

      margin-top: 12px
      float: right

  .form_wrapper
    .check_boxes
      .checkbox
        float: left
        margin-right: 10px
        width: 150px !important

        &:nth-child(4n+4)
          clear: none !important

    .wide_input
      width: 540px

    .medium_input
      width: 280px

    .period, .discount_type
      +clearfix
      margin: 0 0 15px 0

      input
        &:focus
          border: 1px solid #D4A04E

      .input
        float: left

        input
          width: 160px

      .discount_sale, .discount_constant, .coupon_constant, .certificate_constant
        background-color: #EBEBEB

      .discount_sale
        margin-left: 10px
        margin-top: 24px

        #discount_sale
          width: 34px
          margin-top: 8px
          margin-left: 13px

      .select_type
        +border-radius(3px)
        -moz-appearance: none
        -webkit-appearance: none
        appearance: none
        background: image_url('public/down_arrow.jpg') no-repeat right
        border: 1px solid #ccc
        cursor: pointer
        float: left
        height: 28px
        margin-left: 7px
        margin-top: 26px
        overflow: hidden
        width: 56px

      .boolean
        float: left
        width: 335px

        .control-label
          float: right
          margin-top: 4px
          width: 285px

      #discount_starts_at, #coupon_starts_at, #certificate_starts_at
        margin-right: 10px

      .discount_constant, .coupon_constant, .certificate_constant
        width: 188px
        margin-left: 10px

        #discount_constant, #coupon_constant, #certificate_constant
          margin-left: 19px

        .control-label
          width: 134px

        .checkbox
          margin: 0

        input
          float: left
          margin-top: 8px
          outline: none
          width: 34px

      .switch_wrapper
        +clearfix
        float: left
        padding: 10px 10px 0 10px
        width: 215px

        &.disabled
          color: #999

    .organization_wrapper
      +clearfix
      display: none
      width: 640px

      input
        width: 540px

      .choose_coordinates
        +inline-block
        float: right
        margin-right: 87px

  .preview
    .image
      float: left
      margin: 0 15px 0 0

  .discount_show
    .right
      .copies
        padding: 10px

