@import 'simple_form'

.my_posts_wrapper
  margin-top: 20px
  overflow: hidden
  padding: 0 20px

  h1
    font-size: 22px
    margin-bottom: 10px

  .upload_gallery_images
    display: none

  .simple_form
    float: left
    width: 600px

    input, textarea
      font-size: 14px
      outline: none
      resize: none

      &#post_title
        height: 51px
        width: 540px

      &.markItUpEditor
        border-top-left-radius: 0 !important
        border-top-right-radius: 0 !important
        border-top: 1px solid #909090 !important
        width: 540px

      &#post_link_with_title
        width: 540px

    .input
      margin-bottom: 10px

      .checkbox
        input
          margin-right: 5px

    .field_with_errors
      .markItUpHeader
        border-color: #880000

    .post_categories
      +clearfix

      .checkbox
        float: left
        width: 150px

    .post_link_with_title.linked
      display: none

    .link_with_wrapper
      label
        float: left
        margin-right: 5px

      .link_with_change
        line-height: 23px

      .link_with_content
        clear: both

  .preview_wrapper
    float: left
    margin-top: -45px
    position: relative
    width: 560px

    .post_show
      padding: 20px 0
      width: 100%

      .left
        .wrapper
          .post_content
            img
              margin: 0 auto
              width: 500px

            iframe
              width: 500px

    .post_show
      display: inline-block


