.content_wrapper
  .public_action
    float: left
    padding: 5px 0 0 0
    width: 240px

    h4
      font-size: 16px
      line-height: 20px
      margin: 0 0 10px 0
      text-align: center

    .requirements
      font-size: 14px
      line-height: 18px
      margin: 0 0 15px 0

      color: #777
      li
        padding: 0 0 0 40px
        &.enabled
          background: image_url('done.png') no-repeat 20px center
          font-weight: bold
        &.disabled

    a
      +border-radius(3px)
      +box-shadow(#ccc 1px 1px 5px)
      color: #fff
      display: block
      font-size: 16px
      font-weight: bold
      line-height: 20px
      margin: 0 auto
      padding: 4px 7px
      text-align: center
      width: 150px

      &.disabled
        +background-image(linear-gradient(#c4c4c4, #999))

        &:hover
          cursor: default

      &.enabled
        +background-image(linear-gradient(#91ac4a, #658d34))

      &:hover
        text-decoration: none

.content_wrapper .my_affiche_wrapper
  line-height: 1.4
  +min-height(300px)
  margin: 10px

  .my_affiche_items
    +clearfix

    .my_affiche_item
      +clearfix
      float: left
      margin: 5px
      text-align: center
      width: 120px

      img
        +inline-block
        width: 80px

      .title
        +inline-block
        font-size: 12px
        line-height: 16px
        width: 120px

      a
        font-size: 10px

  h2
    font-size: 18px
    margin-bottom: 15px

  .button
    color: #333
    cursor: pointer
    font-family: Verdana, Tahoma, sans-serif
    font-size: 14px
    font-weight: bold
    text-decoration: none
    +text-shadow(#fff 1px 1px 1px)
    +box-shadow(#fff 0px 1px 0px 0px inset)
    background-color: #f9f9f9
    +background-image(linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%))
    +border-radius
    border: 1px solid #dcdcdc
    +inline-block
    padding: 6px 20px
    margin: 0
    &:hover
      background-color: #e9e9e9
      +background-image(linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%))
    &:active
      position: relative
      top: 1px

  .new_affiche_list
    +clearfix
    li
      float: left
      margin-right: 5px
      &:last-child
        margin-right: 0

  .steps_line
    +clearfix
    border-bottom: 1px dotted #ccc
    padding-bottom: 10px
    margin-bottom: 15px
    li
      float: left
      margin-right: 15px
      &:last-child
        margin-right: 0
      &.selected a
        color: #333

  .form_wrapper
    width: 580px
    float: left
    margin-right: 20px

  .affiche_preview
    width: 580px
    float: left

  =input_style
    font-size: 14px
    font-family: Arial, Verdana, Tahoma, sans-serif
    border: 1px solid #909090
    +border-radius(3px)
    padding: 5px
    margin: 0
    &:focus
      background-color: #fffbef

  .simple_form
    .input
      margin-bottom: 10px

      label
        font-size: 16px
        display: block
        margin-bottom: 5px
        abbr
          color: #880000
          cursor: help

      input
        +input_style

      &.hidden
        margin: 0

      #affiche_title
        width: 540px

      #affiche_tag
        width: 540px

      input.ui-autocomplete-input
        border: none
        +border-radius(0)
        padding-left: 0
        margin-top: 1px
        margin-bottom: 3px
        &:focus
          background-color: transparent

      #affiche_trailer_code
        width: 540px
        height: 150px
        +input_style

      &.field_with_errors
        input,
        textarea
          border-color: #880000

    span.error
      display: block
      color: #880000
      font-size: 11px
      font-weight: bold

    .submit
      margin-top: 15px

    .form_fields
      float: left
      .floatr
        margin-right: 15px

    .my_affiche_map
      width: 580px
      height: 500px
      float: left

    &.my_affiche_showings
      .add_nested_fields
        font-size: 16px
      .fields
        border-bottom: 1px solid #ccc
        margin-bottom: 10px
        padding-bottom: 10px
      .wrapper
        +clearfix
        div.input
          float: left
          &:first-child
            margin-right: 15px
          input
            width: 170px
          input.ui-autocomplete-input
            width: 448px
            +input_style
        .remove_nested_fields
          +inline-block
          font-size: 14px
          margin-top: 31px

  .textile_syntax
    display: none

  .gallery_images
    +clearfix
    li
      float: left
      width: 130px
      text-align: center
      margin: 0 10px 15px 0
      img
        width: 130px
        height: 100px
      a
        text-transform: lowercase
        font-size: 11px

  .affiche_preview
    .title
      font-size: 18px
      margin-bottom: 15px
    .description
      .poster
        float: left
        +clearfix
        width: 180px
        height: 242px
        margin: 0 10px 10px 0
      .text
        +clearfix
      line-height: 1.5
      h2, h3, h4, p, ul, ol, table
        margin-bottom: 10px
      h3
        font-size: 16px
      h4
        font-size: 14px
      ul li
        &:before
          content: "\2013"
          padding-right: 5px
        ul, ol
          margin-left: 15px
          margin-bottom: 0
      ol
        counter-reset: li
        li
          ul, ol
            margin-left: 15px
            margin-bottom: 0
          &:before
            content: counter(li)"."
            counter-increment: li
            padding-right: 5px
      table
        th, td
          border: 1px solid #dedede
          padding: 2px 4px
    .tags
      clear: left
      font-size: 11px

  .my_affiches_preview
    float: left
    width: 800px

  .my_affiche_help
    +clearfix
    font-size: 14px
    line-height: 18px
    width: 380px

    h4
      font-size: 16px
      line-height: 20px
      margin: 10px 0 5px 0

    ul
      margin: 0 0 15px 15px

      li
        list-style: disc outside

    .my_affiche_archive
      margin: 20px 0


