.list_view_organization_right, .list_view_organization_left
  +clearfix
  float: left
  margin: 65px 0

.list_view_organization_left
  .filter_header
    border-bottom: 1px solid #ccc
    font-size: 22px
    line-height: 40px

