.content .organizations_list
  +clearfix

  li
    float: left
    margin: 0 22px 20px 0
    &:nth-child(6n)
      margin-right: 0
    &:nth-child(6n+1)
      clear: left

    .info
      width: 178px
      text-align: center
      border: 1px solid #ccc

      h2
        @extend .nobr
        font-size: 12px
        margin: 5px

      .image
        width: 178px

      hr
        height: 0
        border: none
        border-top: 1px dotted #ccc
        margin: 0 0 5px 0
        padding: 0

      .place
        margin-bottom: 5px

      .phone
        margin-bottom: 5px
