=characteristics_style
  ul
    position: relative
    +clearfix
  li
    float: left
    font-size: 11px
    line-height: 1.4
    background-color: #87bfd8
    +border-radius(3px)
    padding: 2px 3px 4px
    margin: 10px 10px 0 0
    a
      color: #fff
    &.offset_left
      margin-left: 109px
  .title
    font-size: 12px
    background: none
    padding: 0

.content_wrapper
  +clearfix

  .organizations_catalog
    fieldset
      border: 1px dotted #ababab
      +border-radius(3px)
      margin: 0 10px 20px
      padding: 15px 10px 10px
      &.odd
        +background-image(linear-gradient(#fff, #ede7f1 25%, #ede7f1 75%, #fff))
      &.even
        +background-image(linear-gradient(#fff, #eaf3f8 25%, #eaf3f8 75%, #fff))
      legend
        font-size: 22px
        padding: 0 10px
      ul
        +clearfix
        margin: 0 10px
        li
          float: left
          font-size: 14px
          white-space: nowrap
          line-height: 1.4
          margin: 0 20px 15px 0
    h2
      font-size: 22px
      margin: 0 10px 20px

  .organizations_list
    float: left
    width: 675px
    ul
      li
        background-color: #efeaf1
        padding: 10px
        margin-bottom: 20px
        +clearfix
        .image
          float: left
          width: 180px
          height: 180px
          margin: 0 10px 5px 0
          img
            width: 180px
            height: 180px
        .info

          .categories
            +clearfix
            float: right
            font-size: 11px
            li
              float: left
              background-color: #70398a
              +border-radius(3px)
              padding: 2px 3px 4px
              margin: 0 0 0 10px
            a
              color: #fff

          h2
            font-size: 22px
            line-height: 1.4
            margin-bottom: 15px

          .place
            margin-bottom: 15px
            font-weight: bold
            line-height: 1.4
            a
              +inline-block
              height: 16px
              padding-left: 13px
              background: transparent image_url('public/address.png') no-repeat -3px 0
          .contacts
            table
              width: 465px
              padding-bottom: 20px
              &.full
                width: 100%
              tr:nth-child(odd) td
                background-color: #e8e0eb
              tr td:first-child
                width: 100px
                white-space: nowrap
                font-weight: bold
                &:first-letter
                  text-transform: uppercase
              td
                line-height: 1.4
                padding: 2px 4px
          hr
            border: none
            border-bottom: 1px dotted #948f96
            padding: 0
            margin: 10px 0 0 0
          .description
            line-height: 1.4
            margin-top: 10px
            .more
              font-size: 11px
              text-align: right
          .characteristics
            +characteristics_style

  .organizations_filter
    float: left
    width: 300px
    margin: 0 10px 20px 15px
    .categories
      margin-left: 15px
      +border-radius(3px)
      li
        text-align: center
        background: #787b85 image_url('public/today_in_city_menu_bg.png') repeat left top
        a
          display: block
          font-size: 16px
          color: #fff
          border-bottom: 1px dotted #d5d7d6
          padding: 15px 0
          margin: 0 5px
        &:first-child
          +border-top-radius(3px)
        &:last-child
          +border-bottom-radius(3px)
          a
            border-bottom: none
        &.before_current a
          border-bottom: none
        &.current
          margin: 5px 0
          +border-radius(0)
          .title
            color: #fff
            font-size: 20px
            background: #784391 image_url('public/affiches_filter_current_arrow.png') no-repeat left center
            margin-left: -10px
            padding: 15px 0 15px 10px

          .tags
            +clearfix
            background-color: #e9e9e9
            border-top: 1px dotted #ccc
            padding: 15px 10px 10px
            li
              float: left
              color: inherit
              text-align: left
              background: none
              padding: 2px 3px 4px
              +border-radius(3px)
              margin: 0 4px 4px 0
              a
                font-size: 11px
                display: inline
                color: inherit
                margin: 0
                padding: 0
                border: none
              &.title
                float: none
                font-size: 12px
                font-weight: bold
                padding: 0
                margin: 0 0 5px 0
              &.selected
                background-color: #87bed8
                a
                  color: #fff
                  text-decoration: none
                &.disabled
                  background: none
              &.disabled a
                cursor: default
                color: lighten(#353535, 30%)
                text-decoration: none
  .content
    &.organization
      margin-bottom: 20px

      .categories
        +clearfix
        float: right
        font-size: 11px
        li
          float: left
          background-color: #70398a
          +border-radius(3px)
          padding: 2px 3px 4px
          margin: 0 0 0 10px
          a
            color: #fff !important

      .ui-tabs .ui-tabs-panel .info .description table td
        .schedule li
          +reset-quotation
        .schedule
          +clearfix
          margin-bottom: 0
          li
            float: left
            text-align: center
            margin-right: 15px
            &:last-child
              margin-right: 0
            .dow
              width: 45px
              font-size: 14px
              font-weight: bold
              background-color: #ded1e3
              +border-radius(3px)
              padding-bottom: 2px
              margin-bottom: 2px
            .string
              width: 45px
              font-size: 10px
              text-transform: lowercase
              margin-top: 4px
            &.today
              color: #fff
              background-color: #784391
              +border-radius(3px)
              .dow
                background: none

      .share_organization
        +clearfix
        font-size: 13px
        border-top: 1px dotted #948f95
        padding: 7px 0 8px
        .yashare-auto-init
          float: right
          .b-share
            padding-right: 0 !important
            .b-share__handle:last-child
              padding-right: 0 !important

      .characteristics
        +characteristics_style
        padding-bottom: 10px

      .affiche
        +clearfix
        li
          +clearfix
          background-color: #ebe0f0
          margin-bottom: 20px
          &:last-child
            margin-bottom: 10px
          .image
            float: left
            width: 180px
            margin: 10px
          .info
            margin: 10px 10px 10px 200px

            .kind
              float: right
              font-size: 11px
              background-color: #70398a
              +border-radius(3px)
              padding: 2px 3px 4px
              margin: 0 0 0 10px
              a
                color: #fff

            h2
              font-size: 22px
              font-style: normal
              line-height: 1.4
              margin-bottom: 15px

            .closest
              margin-bottom: 15px
              p
                color: #fff
                font-size: 17px
                +inline-block
                +border-radius(3px)
                background-color: #6b4381
                padding: 2px 4px 4px

            .will_be
              margin-bottom: 15px
              line-height: 1.4

            .seances
              margin-bottom: 5px
              line-height: 1.4
              li
                margin: 0
                padding: 0
              .title
                +clearfix
                margin-bottom: 10px
                li
                  float: left
                .text
                  font-size: 16px
                  margin-right: 20px
                .link_all
                  font-size: 11px
                  margin-top: 5px
              .theaters
                +clearfix
                li
                  float: left
                  margin-bottom: 10px
                .theater
                  clear: left
                  width: 170px
                  margin: 2px 10px 10px 0
                  .name
                    font-size: 14px
                  .address
                    font-size: 11px
                    background: transparent image_url("public/address.png") no-repeat -3px 0
                    padding-left: 13px
                .seance
                  text-align: center
                  +border-radius(3px)
                  background-color: #ddd2e2
                  padding: 2px 4px
                  margin-right: 17px
                  &.last
                    margin-right: 0
                  .time
                    font-size: 14px
                  .price
                    font-size: 11px

            .place
              margin-bottom: 15px
              font-weight: bold
              p
                line-height: 1.4
              .address
                font-size: 11px
                font-weight: normal
                a
                  +inline-block
                  height: 16px
                  padding-left: 13px
                  background: transparent image_url('public/address.png') no-repeat -3px 0

            .description
              +clearfix
              border-bottom: 1px dotted #938e95
              border-top: 1px dotted #938e95
              margin-bottom: 15px
              padding: 10px 0 12px
              .text
                line-height: 1.4
                text-align: justify
                margin-bottom: 0
              .more
                float: right
                font-size: 11px
                margin-top: 8px
                margin-bottom: 0

            .tags
              +clearfix
              li
                float: left
                font-size: 11px
                +border-radius(3px)
                background-color: #87bfd8
                margin: 0 10px 0 0
                padding: 2px 3px 4px
                a
                  color: #fff

  .right_side
    .more_like_this
      .similar_organizations
        li
          +clearfix
          .image
            width: 55px
            height: 55px
            float: left
            margin: 0 10px
          .title
            text-align: left
            margin: 0 10px 5px 10px
          .address
            +clearfix
            text-align: left
            font-size: 11px
            margin: 0 10px
            &.offset
              margin-left: 75px
            a
              +inline-block
              padding-left: 13px
              background: transparent image_url('public/address.png') no-repeat -3px 0
