.list_view_organization_header
  +clearfix
  border-bottom: 1px solid #ccc
  margin: 65px 0 0

  +likes
  .likes
    margin: 10px 0 0

  .filter_header
    float: left
    font-size: 22px
    line-height: 40px

.list_view_organization_right, .list_view_organization_left
  +clearfix
  clear: both
  float: left
  margin: 10px 0

.list_view_organization_left
  +clearfix
  width: 610px

  .list_view_organization_content
    clear: both
    +clearfix

    .add_and_paginate
      +clearfix

      .btn-small
        float: right
        padding: 10px 25px
        background: #e8e7e8
        color: #0066cc
        //+box-shadow()

    .list_view_organization_posters
      overflow-y: scroll
      max-height: 540px

      li.list_view_organization_item
        +clearfix
        border-bottom: 1px solid #ccc
        padding: 10px

        &:hover
          background-color: #f2f2f2

        .list_view_organization_poster
          width: 100%
          +clearfix

          li
            float: left

          .image
            width: 100px
            height: 100px
            float: left

          .info
            float: left
            margin: 0 0 0 10px

            .schedule_wrapper
              .ul-toggler
                border: 0

            h1
              font-size: 14px

            .categories_and_visits
              .categories
                +clearfix
                width: 375px

                li
                  margin: 0 5px 0 0
                  font-size: 11px

                  a
                    color: #adadad

              .details
                clear: both
                color: #989898
