.photogallery
  //width: 760px
    .jcarousel-container-horizontal,
    .jcarousel-clip-horizontal

.jcarousel-container-horizontal
  width: 760px
  //padding: 0 40px
  //margin-top: 10px
.jcarousel-clip
  overflow: hidden
.jcarousel-clip-horizontal
  width: 760px
  height: 99px
.jcarousel-list-horizontal
  height: 99px
.jcarousel-item
  width: 130px
  height: 99px
.jcarousel-item-horizontal
  //margin-left: 5px
  //margin-right: 5px
.jcarousel-item-placeholder
  background: #fff
  color: #000
.jcarousel-next-horizontal
  position: absolute
  top: 43px
  right: 5px
  width: 32px
  height: 32px
  cursor: pointer
  background: transparent image_url('public/carousel_next_horizontal.png') no-repeat 0 0
.jcarousel-next-horizontal
  &:hover, &:focus
    background-position: -32px 0
  &:active
    background-position: -64px 0
.jcarousel-next-disabled-horizontal
  cursor: default
  background-position: -96px 0
  &:hover, &:focus, &:active
    cursor: default
    background-position: -96px 0
.jcarousel-prev-horizontal
  position: absolute
  top: 43px
  left: 5px
  width: 32px
  height: 32px
  cursor: pointer
  background: transparent image_url('public/carousel_prev_horizontal.png') no-repeat 0 0
.jcarousel-prev-horizontal
  &:hover, &:focus
    background-position: -32px 0
  &:active
    background-position: -64px 0
.jcarousel-prev-disabled-horizontal
  cursor: default
  background-position: -96px 0
  &:hover, &:focus, &:active
    cursor: default
    background-position: -96px 0
