.sauna_housing_content
  clear: both

  .pagination
    width: 1182px
    clear: both
    margin: 0 8px

  .fresh
    +opacity(0)

  .sauna_posters,
  .housing_posters
    +clearfix

    > li
      float: left

      &.clear_left
        clear: left

      &.sauna_item,
      &.housing_item
        width: 378px
        height: 245px
        border: 1px solid #ccc
        margin: 0 20px 20px 0

        .info
          border-right: 1px dashed #ccc
          height: 245px

      &.item_1
        margin-left: 10px

      &.item_3
        margin-right: 0


      &.sauna_short_item,
      &.housing_short_item
        width: 150px
        height: 95px
        border: 1px solid #ccc
        margin: 0 18px 20px 0

        hr
          border: none
          border-top: 1px dashed #ccc
          margin: 0 0 3px 0

      .info
        float: left
        width: 150px
        text-align: center

        .title
          border-bottom: 1px dashed #ccc
          display: table-cell
          font-size: 11px
          height: 44px
          line-height: 18px
          margin: 0
          min-height: 45px
          padding: 0 10px
          vertical-align: middle
          width: 200px
          text-align: left

        .image
          width: 150px
          height: 150px
          position: relative
          margin-bottom: 3px

          .sms_claimable
            width: 157px
            position: absolute
            top: 0
            left: -6px
            +as_green_ribbon
            padding: 2.5px 0

            &:after
              border-color: transparent

          a
            display: block
            position: absolute
            top: 0
            left: 0
            width: 150px
            height: 150px

            .stub_poster
              display: block
              width: 150px
              height: 150px
              background: transparent image_url('public/organization_stub_poster_kind.png') no-repeat top left

              &.sauna
                background-position: -385px -196px

          .sms_claim_link
            display: block
            width: 102px
            height: auto
            top: 50px
            left: 15px
            +button-style
            z-index: 0

          &:hover
            .sms_claim_link
              z-index: 1
            .stub_poster
              +opacity(0.15)
            img
              +opacity(0.15)
            .for_sale,

        .address
          margin-bottom: 3px
          padding-left: 10px
          padding-top: 10px

        .address
          text-align: left

      .sauna_halls,
      .rooms
        float: left
        width: 227px
        height: 244px

        li
          +clearfix

          &.non_suitable
            +opacity(0.5)

        .hall_title,
        .room_title
          color: #fff
          background-color: #999
          padding: 2px 8px 3px

        .hall_details,
        .room_details
          margin: 5px 8px

          span
            color: #f60

      &.sweets
        +clearfix
        border: 1px solid #ccc
        height: 510px
        margin: 0 10px 20px 10px
        width: 378px

        ul
          list-style: none

        li
          +inline-block
          margin: 0px -4px 0px 0px

          .left_border
            border-left: 1px solid #ccc

          a
            width: auto
            height: auto
            margin: 0px

          .footer_button
            border-bottom: 1px solid #ccc
            height: 62px
            width: 378px

        .organization
          height: 115px
          padding: 10px 15px 10px 15px
          width: 348px

          h3
            font-size: 18px

          .title
            padding-top: 3px
            font-size: 12px
          .body
            padding-top: 3px

        #Previous
          background: image_url('public/colorbox_controls.png') no-repeat 5px 18px
          height: 65px
          margin-top: -32px
          position: absolute
          text-indent: -9999px
          width: 28px


        #Next
          background: image_url('public/colorbox_controls.png') no-repeat -168px 18px
          height: 65px
          margin-left: 350px
          margin-top: -32px
          position: absolute
          text-indent: -9999px
          width: 28px

        #Previous, #Next
          border: 0
          outline: none
          overflow: visible
          margin-top: -400px

        #Previous:active, #Next:active
          outline: 0

        .inactive
          +opacity(0.3)
          background-color: #e8e8e8 !important
          cursor: default
          &:hover
            +opacity(0.3)

        .active
          +opacity(0.3)
          background-color: #f60 !important
          cursor: pointer
          &:hover
            +opacity(0.8)



        .profit
          color: #f60
          font-weight: bold

        .discounts_count
          background-color: #e8e8e8
          height: 30px
          margin-top: -228px
          position: absolute
          width: 378px
          z-index: 1
          text-align: center

          ul.counter
            display: inline-block
            height: 25px
            margin: 5px 0 0 0

            li
              margin: 0

              .circle
                +border-radius(50%)
                background-color: #ccc
                float: left
                height: 13px
                margin: 0px 2px 0px 2px
                padding: 0px
                position: relative
                width: 13px

              .selected
                background-color: #f60

        .image
          height: 282px
          padding-bottom: 30px

          a
            width: 378px
            height: 286px
            margin: 0px
            img
              +opacity(1)

        .two_columns
          float: left
          position: relative
          width: 188px

        .columns
          float: left
          position: relative
          width: 125px

          .certificate_count, .certificate_price
            text-align: left
            width: 115px
            font-size: 12px


            .price
              color: #f60
              font-weight: bold

            .new_price
              font-size: 14px
              color: #f60
              font-weight: bold

            .origin_price
              text-decoration: line-through

        .footer
          text-align: center

          a
            line-height: 62px

          .my_price
            +button-style
            font-size: 16px
            padding: 10px

          .my_price:active
            padding: 10px

          .buy
            +button-style
            font-size: 16px
            padding: 10px 20px 10px 20px

          .buy:active
            padding: 10px 20px 10px 20px


