.promo_wrapper
  +clearfix
  background-color: #009bdb
  +box-shadow(#016692 0 -2px 2px inset)

  .promo
    +liquid-size($desktop_min_width, $desktop_max_width)
    +fixed-size
    font-size: 14px
    text-align: center
    color: #fff
    margin: 6px auto 8px
    a
      color: #fff
