.promotions
  .place
    margin: 0 0 7px 0

    .place-header
      background: #ccc
      color: #222
      font-size: 14px
      line-height: 22px
      margin: 0 0 0 -10px
      padding: 4px 4px 4px 10px
      position: relative

      &:before
        content: ""
        width: 0
        height: 0
        position: absolute
        left: 0
        bottom: -10px
        border-width: 5px 5px
        border-style: solid
        border-color: #999 #999 transparent transparent

      .place-title
        +inline-block

        &.with-counter
          width: 180px

        a, a:hover
          color: #222
          text-decoration: none

      .place-counter
        +inline-block
        background: #fff
        color: #06c
        float: right
        font-size: 11px
        line-height: 22px
        padding: 0 5px
        position: relative
        right: 0px
        top: 0px

        &:after
          right: 100%
          top: 11px
          border: solid transparent
          content: ""
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: rgba(0, 0, 0, 0)
          border-right-color: #fff
          border-width: 11px
          margin-top: -11px

    .place-content
      font-size: 12px

      ul
        margin: 20px 10px

        li
          +clearfix
          margin: 0 0 15px 0

          &:last-child
            margin: 0

      &.banner
        .image
          margin: 0 auto
          width: 240px

      &.afishas
        .image
          float: left
          height: 67px
          margin: 0 10px 0 0
          position: relative
          width: 50px

      &.afisha
        font-size: 12px
        line-height: 18px
        margin: 20px 0 0 0
        text-align: center

        .image
          height: 260px
          margin: 0 auto
          width: 194px

        .title
          margin: 5px 0 0 0

      &.organizations
        .image
          border: 1px solid #d0d0d0
          float: left
          height: 50px
          margin: 0 10px 0 0
          position: relative
          width: 50px

      &.organization
        font-size: 12px
        line-height: 18px
        margin: 20px 0 0 0
        text-align: center

        .image
          height: 194px
          margin: 0 auto
          width: 194px

        .title
          margin: 5px 0 0 0

      &.discounts
        .image
          border: 1px solid #d0d0d0
          float: left
          height: 50px
          margin: 0 10px 0 0
          position: relative
          width: 67px

        .info
          margin: 0 0 0 79px
          font-weight: bold

          .profit
            color: #f60

      &.discount
        font-size: 12px
        line-height: 18px
        margin: 20px 0 0 0
        text-align: center

        .image
          border: 1px solid #d0d0d0
          height: 144px
          margin: 0 auto
          width: 194px

        .title
          margin: 5px 0 0 0

        .info
          font-weight: bold

          .profit
            color: #f60

      &.reviews
        .image
          float: left
          height: 50px
          margin: 0 10px 0 0
          position: relative
          width: 88px

      &.photogalleries
        .item
          width: 214px
          border: 1px solid #ccc
          padding: 5px

          p
            text-align: center

          .annotation
            clear: both

            .images
              height: 122px
              margin: 0 auto
              position: relative

            .counter
              +border-radius(5px)
              background-color: rgba(0, 0, 0, 0.5)
              bottom: 5px
              color: #fff
              padding: 5px
              position: absolute
              right: 5px

            li
              float: left
              height: 41px
              margin: 0
              padding: 0
              width: 71px

            li:first-child
              height: 82px
              width: 142px

      &.review
        font-size: 12px
        line-height: 18px
        margin: 20px 0 0 0
        text-align: center

        .image
          height: 136px
          margin: 0 auto
          width: 240px

        .title
          margin: 5px 0 0 0
          font-size: 13px

      &.questions
        .image
          height: auto
          width: auto

      &.question
        overflow: hidden

        .image
          float: left
          margin: 0 10px 20px 10px
          height: 35px
          width: 35px

        .title
          float: left

      &.accounts
        ul
          +clearfix

          li
            +inline-block
            float: left
            margin: 0 5px 10px 5px
