.recommended_organizations_wrapper
  background-color: #e7e7e7
  padding: 20px
  width: 846px
  margin: 0 0 50px 0

  &.discounts
    width: 850px
    margin: 0 0 35px 0

  &.reviews
    width: 1119px
    margin: 20px 0 30px 5px

    .posters
      li.item_organization
        margin: 0 6px 0 0

        &:nth-child(5n)
          margin: 0 6px 0 0

        &:nth-child(7n)
          margin: 0

  h1
    font-size: 22px
    margin-bottom: 15px

  .posters
    +clearfix

    li.item_organization
      margin: 0 17px 0 0
      background-color: #fff
      width: auto

      &:nth-child(5n)
        margin: 0

      .info
        border: 0
