.filters.reviews
  .only_tomsk
    float: right

  .by_category
    ul
      li
        a
          background: transparent image_url('public/post_categories.png') no-repeat center center

        &.all, &.photo, &.video
          a
            background-position: 25px 0px

            &:hover
              background-position: 25px -60px

          &.selected
            a
              background-position: 25px -120px

              &:hover
                background-position: 25px -60px

        &.photo, &.video
          a
            background-position: 40px 0px

            &:hover
              background-position: 40px -60px

          &.selected
            a
              background-position: 40px -120px

              &:hover
                background-position: 40px -60px

        &.children
          a
            background-position: -95px 0

            &:hover
              background-position: -95px -60px

          &.selected
            a
              background-position: -95px -120px

              &:hover
                background-position: -95px -60px

        &.interesting
          a
            background-position: -210px 0

            &:hover
              background-position: -210px -60px

          &.selected
            a
              background-position: -210px -120px

              &:hover
                background-position: -210px -60px

        &.auto
          a
            background-position: -320px 0

            &:hover
              background-position: -320px -60px

          &.selected
            a
              background-position: -320px -120px

              &:hover
                background-position: -320px -60px

        &.accidents
          a
            background-position: -453px 0

            &:hover
              background-position: -453px -60px

          &.selected
            a
              background-position: -453px -120px

              &:hover
                background-position: -453px -60px

        &.crash
          a
            background-position: -572px 0

            &:hover
              background-position: -572px -60px

          &.selected
            a
              background-position: -572px -120px

              &:hover
                background-position: -572px -60px

        &.animals
          a
            background-position: -695px 0

            &:hover
              background-position: -695px -60px

          &.selected
            a
              background-position: -695px -120px

              &:hover
                background-position: -695px -60px

        &.cookery
          a
            background-position: -790px 0

            &:hover
              background-position: -790px -60px

          &.selected
            a
              background-position: -790px -120px

              &:hover
                background-position: -790px -60px

        &.eighteen_plus
          a
            background-position: -952px 0

            &:hover
              background-position: -952px -60px

          &.selected
            a
              background-position: -952px -120px

              &:hover
                background-position: -952px -60px

        &.humor
          a
            background-position: -1070px 0

            &:hover
              background-position: -1070px -60px

          &.selected
            a
              background-position: -1070px -120px

              &:hover
                background-position: -1070px -60px

        &.hi_tech
          a
            background-position: -1182px 0

            &:hover
              background-position: -1182px -60px

          &.selected
            a
              background-position: -1182px -120px

              &:hover
                background-position: -1182px -60px

        &.entertainment
          a
            background-position: -1285px 0px

            &:hover
              background-position: -1285px -60px

          &.selected
            a
              background-position: -1285px -120px

              &:hover
                background-position: -1285px -60px

        &.family
          a
            background-position: -1410px 0px

            &:hover
              background-position: -1410px -60px

          &.selected
            a
              background-position: -1410px -120px

              &:hover
                background-position: -1410px -60px

        &.lifehack
          a
            background-position: -1540px 0px

            &:hover
              background-position: -1540px -60px

          &.selected
            a
              background-position: -1540px -120px

              &:hover
                background-position: -1540px -60px

        &.economy
          a
            background-position: -1655px 0px

            &:hover
              background-position: -1655px -60px

          &.selected
            a
              background-position: -1655px -120px

              &:hover
                background-position: -1655px -60px

        &.complaints_book
          a
            background-position: -1758px 0px

            &:hover
              background-position: -1758px -60px

          &.selected
            a
              background-position: -1758px -120px

              &:hover
                background-position: -1758px -60px

        &.spiritually
          a
            background-position: -1895px 0px

            &:hover
              background-position: -1895px -60px

          &.selected
            a
              background-position: -1895px -120px

              &:hover
                background-position: -1895px -60px

        &.help
          a
            background-position: -2015px 0px

            &:hover
              background-position: -2015px -60px

          &.selected
            a
              background-position: -2015px -120px

              &:hover
                background-position: -2015px -60px

        &.men_and_women
          a
            background-position: -2150px 0px

            &:hover
              background-position: -2150px -60px

          &.selected
            a
              background-position: -2150px -120px

              &:hover
                background-position: -2150px -60px

        &.creation
          a
            background-position: -2218px 0px

            &:hover
              background-position: -2218px -60px

          &.selected
            a
              background-position: -2218px -120px

              &:hover
                background-position: -2218px -60px

        &.handmaid
          a
            background-position: -2375px 0px

            &:hover
              background-position: -2375px -60px

          &.selected
            a
              background-position: -2375px -120px

              &:hover
                background-position: -2375px -60px

        &.boiling
          a
            background-position: -2500px 0px

            &:hover
              background-position: -2500px -60px

          &.selected
            a
              background-position: -2500px -120px

              &:hover
                background-position: -2500px -60px

        &.good_news
          a
            background-position: -2590px 0px

            &:hover
              background-position: -2590px -60px

          &.selected
            a
              background-position: -2590px -120px

              &:hover
                background-position: -2590px -60px

        &.health
          a
            background-position: -2734px 0px

            &:hover
              background-position: -2734px -60px

          &.selected
            a
              background-position: -2734px -120px

              &:hover
                background-position: -2734px -60px

        &.sport
          a
            background-position: -2868px 0px

            &:hover
              background-position: -2868px -60px

          &.selected
            a
              background-position: -2868px -120px

              &:hover
                background-position: -2868px -60px

        &.policy
          a
            background-position: -2950px 0px

            &:hover
              background-position: -2950px -60px

          &.selected
            a
              background-position: -2950px -120px

              &:hover
                background-position: -2950px -60px

        &.studies
          a
            background-position: -3109px 0px

            &:hover
              background-position: -3109px -60px

          &.selected
            a
              background-position: -3109px -120px

              &:hover
                background-position: -3109px -60px

        &.abiturient
          a
            background-position: -3210px 0px

            &:hover
              background-position: -3210px -60px

          &.selected
            a
              background-position: -3210px -120px

              &:hover
                background-position: -3210px -60px

        &.commercial
          a
            background-position: -3340px 0px

            &:hover
              background-position: -3340px -60px

          &.selected
            a
              background-position: -3340px -120px

              &:hover
                background-position: -3340px -60px

        &.other
          a
            background-position: -3440px -2px

            &:hover
              background-position: -3440px -62px

          &.selected
            a
              background-position: -3440px -120px

              &:hover
                background-position: -3440px -62px

        &.newyear
          a
            background-position: -3565px -2px

            &:hover
              background-position: -3565px -62px

          &.selected
            a
              background-position: -3565px -120px

              &:hover
                background-position: -3565px -62px
