.reviews_index, .my_reviews_show
  padding: 10px

  .posters
    li.item
      +clearfix
      border: 1px solid #ccc
      float: left
      margin: 10px
      padding: 12px
      width: 347px

      .title
        font-size: 18px
        height: 50px
        line-height: 22px
        margin: 0 0 5px 0
        text-align: center

      .date, .details
        margin: 0 0 5px 0

      .details
        +clearfix
        +details

      .date
        color: #999
        float: left
        font-size: 11px
        line-height: 16px

      .annotation
        float: left

        .images
          +clearfix
          background: #777
          margin: 0 auto
          width: 345px

        li
          float: left
          height: 83px
          margin: 0
          padding: 0
          width: 115px

          img
            border: 1px solid #fff

        li:first-child
          height: 166px
          width: 230px

    li:nth-child(3n+2)
      //margin: 0 20px


.reviews_show
  padding: 10px 20px

  .left
    +clearfix
    float: left
    font-size: 16px
    line-height: 28px
    margin: 0
    padding: 0
    text-align: justify
    width: 900px

  .title
    font-size: 26px
    line-height: 36px
    margin: 0 0 10px

  .details
    +clearfix
    +details
    height: 14px
    line-height: 14px

  .date
    color: #777
    font-size: 10px
    line-height: 12px

  .description
    h3
      font-size: 18px
      font-weight: normal
      margin: 0 0 15px 0
      padding: 20px 0 0 0

    h4
      font-size: 20px
      font-weight: normal
      margin: 0 0 15px 0
      padding: 20px 0 0 0

    p
      margin: 0 0 15px 0

    ol
      list-style: inside decimal

    ul
      list-style: inside disc

    ol, ul
      li
        margin: 0 0 0 15px

    strong
      font-weight: bold

    em
      font-weight: italic

    img
      border: 1px solid #bbb
      display: block
      height: auto
      margin: 15px auto
      padding: 1px
      width: 700px

    iframe
      display: block
      margin: 15px auto
      width: 700px

    a
      text-decoration: underline

      &:hover
        text-decoration: none

    .gallery
      +clearfix
      margin: 0 0 0 30px

      li
        list-style: none

        img
          float: left
          margin: 7px
          width: 143px

  .author
    font-size: 12px

  .tags
    li
      +border-radius(3px)
      +inline-block
      background-color: #e8e8e8
      color: #999
      font-size: 11px
      line-height: 14px
      margin: 0
      padding: 2px 5px

  .share_and_likes
    +share_and_likes

  .right
    .similar
