.ui-dialog .ui-dialog-content
  &.sms_claim_form_wrapper
    background-color: #fff
    color: #000
    form
      margin: 15px 20px 20px 20px
      label
        display: block
      abbr
        color: #880000
      .input
        margin-bottom: 5px
        .hint
          color: #707070
          font-size: 11px
        input,
        textarea
          font-size: 12px
          font-family: Arial, Verdana, Tahoma, sans-serif
          resize: none
          outline: none
          border: 1px solid #bfbfbf
          background-color: #fff
          padding: 2px 3px
          margin: 5px 0
          &:focus
            background-color: #fffbef
        #sms_claim_name
          width: 200px
        #sms_claim_phone
          width: 110px
        #sms_claim_details
          width: 587px
          height: 130px
        &.field_with_errors
          input,
          textarea
            border-color: #880000
        &.field_with_hint
          margin-bottom: 0
          textarea
            margin-bottom: 0
      .chars_left
        margin-bottom: 10px
      .error
        color: #880000
        display: block
        font-size: 11px
      .submit
        input
          +button_style
          cursor: pointer
          padding: 4px 10px 5px
          margin: 0
          &:active
            padding: 5px 10px 4px
