=subdomain_common_style
  width: 1200px
  +box-shadow(#777 0 0 5px)
  +border-top-left-radius(10px)
  +border-top-right-radius(10px)
  margin: 0 auto
  .header_wrapper
    +border-top-left-radius(10px)
    +border-top-right-radius(10px)
  .content_wrapper
    background-color: #fff
    margin-top: 0
    padding-top: 15px

body
  .anapa_wrapper
    background: #b7efd6 image_url('public/anapa/bg.png') repeat
    +background-image(image_url('public/anapa/bg.png'), linear-gradient(#dcfeb4, #90ddf7))
    .anapa_logo_wrapper
      height: 150px
      background: transparent image_url('public/anapa/logo_bg.png') no-repeat center top
      .anapa_logo
        height: 150px
        background: transparent image_url('public/anapa/logo.png') no-repeat center center
        margin: 0 auto
    .anapa
      +subdomain_common_style

  .forum_wrapper
    background-color: #333
    +background-image(linear-gradient(#000, #623c8f))
    .forum_logo
      height: 150px
      background: transparent image_url('public/forum/logo.png') no-repeat center center
    .forum
      +subdomain_common_style

  .globus_wrapper
    background-color: #daedfe
    +background-image(linear-gradient(#d5eaff, #fff))
    .globus_logo
      height: 150px
      background: transparent image_url('public/globus/logo.png') no-repeat center center
      margin: 0 auto
    .globus
      +subdomain_common_style

  .lovekafe_wrapper
    background-color: #fff
    +background-image(linear-gradient(#fff, #ffb2b2))
    .lovekafe_logo
      height: 150px
      background: transparent image_url('public/lovekafe/logo.png') no-repeat center center
      margin: 0 auto
    .lovekafe
      +subdomain_common_style

  .nezabudka_wrapper
    background: #81a3d3 image_url('public/nezabudka/bg.png') repeat
    +background-image(image_url('public/nezabudka/bg.png'), linear-gradient(#94e6fe, #674d96))
    .nezabudka_logo_wrapper
      height: 150px
      background: transparent image_url('public/nezabudka/logo_bg.png') no-repeat center top
      .nezabudka_logo
        height: 150px
        background: transparent image_url('public/nezabudka/logo.png') no-repeat center center
        margin: 0 auto
    .nezabudka
      +subdomain_common_style

  .nika_wrapper
    background-color: #dcbe7e
    +background-image(linear-gradient(#d2ad5d, #fff))
    padding-top: 2px
    .nika_logo_wrapper
      height: 106px
      border-top: 2px solid #755639
      padding-top: 4px
      .nika_logo
        height: 98px
        width: 1200px
        border-top: 1px solid #755639
        background: transparent image_url('public/nika/logo.png') no-repeat center center
        margin: 0 auto
    .nika
      +subdomain_common_style

  .paradise_wrapper
    background: #333 image_url('public/paradise/bg.png') repeat
    +background-image(image_url('public/paradise/bg.png'), linear-gradient(#000, #fff))
    .paradise_logo
      height: 150px
      background: transparent image_url('public/paradise/logo.png') no-repeat center center
    .paradise
      +subdomain_common_style

  .paris_wrapper
    background: #ffe3c5 image_url('public/paris/bg.png') repeat
    +background-image(image_url('public/paris/bg.png'), linear-gradient(#fff2d7, #fecbb0))
    .paris_logo_wrapper
      height: 150px
      background: transparent image_url('public/paris/logo_bg.png') no-repeat center 30px
      .paris_logo
        width: 1200px
        height: 150px
        background: transparent image_url('public/paris/logo.png') no-repeat center center
        margin: 0 auto
    .paris
      +subdomain_common_style

  .rassvet_wrapper
    background: #fcc6aa image_url('public/rassvet/bg.png') repeat
    +background-image(image_url('public/rassvet/bg.png'), linear-gradient(#fff6b5, #fa94a2))
    .rassvet_logo_wrapper
      height: 150px
      background: transparent image_url('public/rassvet/logo_bg.png') no-repeat center top
      .rassvet_logo
        height: 150px
        background: transparent image_url('public/rassvet/logo.png') no-repeat center center
        margin: 0 auto
    .rassvet
      +subdomain_common_style

  .zastolie_wrapper
    background: #edcf9b image_url('public/zastolie/bg.png') repeat
    +background-image(image_url('public/zastolie/bg.png'), linear-gradient(#ebdebe, #e9c682))
    .zastolie_logo
      height: 150px
      background: transparent image_url('public/zastolie/logo.png') no-repeat center center
    .zastolie
      +subdomain_common_style

  .vokrugsveta_wrapper
    background: #dfc7ad image_url('public/vokrugsveta/bg.png') no-repeat center top
    .vokrugsveta_logo
      height: 150px
      background: transparent image_url('public/vokrugsveta/logo.png') no-repeat center top
      margin: 0 auto
    .vokrugsveta
      +subdomain_common_style

  .marsel_wrapper
    +background-image(linear-gradient(#57c3ba, #f5fbfb))
    .marsel_logo_wrapper
      height: 150px
      width: 1200px
      background: transparent image_url('public/marsel/logo_bg.png') no-repeat center right
      margin: 0 auto
      .marsel_logo
        height: 150px
        background: transparent image_url('public/marsel/logo.png') no-repeat center left
        margin: 0 auto
    .marsel
      +subdomain_common_style

  .staraya_usadba_wrapper
    background-color: #c6eefa
    +background-image(linear-gradient(left, #c6eefa, #26b0db, #c6eefa))
    .staraya_usadba_logo
      height: 150px
      background: transparent image_url('public/staraya_usadba/logo.png') no-repeat center center
    .staraya_usadba
      +subdomain_common_style
