body

  .paradise_wrapper
    background: #333 image_url('public/paradise/bg.png') repeat
    +background-image(image_url('public/paradise/bg.png'), linear-gradient(#000, #fff))
    .paradise
      width: 1000px
      margin: 0 auto
      .paradise_logo
        height: 1000px
        height: 150px
        background: transparent image_url('public/paradise/logo.png') no-repeat center center
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px

  .globus_wrapper
    background-color: #daedfe
    +background-image(linear-gradient(#d5eaff, #fff))
    .globus_logo
      height: 1040px
      height: 150px
      background: transparent image_url('public/globus/logo.png') no-repeat center center
      margin: 0 auto
    .globus
      width: 1040px
      +box-shadow(#777 0 0 5px)
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)
      margin: 0 auto
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px

  .paris_wrapper
    background: #ffe3c5 image_url('public/paris/bg.png') repeat
    +background-image(image_url('public/paris/bg.png'), linear-gradient(#fff2d7, #fecbb0))
    .paris_logo_wrapper
      height: 150px
      background: transparent image_url('public/paris/logo_bg.png') no-repeat center 30px
      .paris_logo
        height: 1040px
        height: 150px
        background: transparent image_url('public/paris/logo.png') no-repeat center center
        margin: 0 auto
    .paris
      width: 1040px
      +box-shadow(#777 0 0 5px)
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)
      margin: 0 auto
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px

  .lovekafe_wrapper
    background-color: #fff
    +background-image(linear-gradient(#fff, #ffb2b2))
    .lovekafe_logo
      height: 1040px
      height: 150px
      background: transparent image_url('public/love_kafe/logo.png') no-repeat center center
      margin: 0 auto
    .lovekafe
      width: 1040px
      +box-shadow(#777 0 0 5px)
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)
      margin: 0 auto
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px

  .anapa_wrapper
    background: #b7efd6 image_url('public/anapa/bg.png') repeat
    +background-image(image_url('public/anapa/bg.png'), linear-gradient(#dcfeb4, #90ddf7))
    .anapa_logo_wrapper
      height: 150px
      background: transparent image_url('public/anapa/logo_bg.png') no-repeat center top
      .anapa_logo
        height: 1040px
        height: 150px
        background: transparent image_url('public/anapa/logo.png') no-repeat center center
        margin: 0 auto
    .anapa
      width: 1040px
      +box-shadow(#777 0 0 5px)
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)
      margin: 0 auto
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px

  .nezabudka_wrapper
    background: #81a3d3 image_url('public/nezabudka/bg.png') repeat
    +background-image(image_url('public/nezabudka/bg.png'), linear-gradient(#94e6fe, #674d96))
    .nezabudka_logo_wrapper
      height: 150px
      background: transparent image_url('public/nezabudka/logo_bg.png') no-repeat center top
      .nezabudka_logo
        height: 1040px
        height: 150px
        background: transparent image_url('public/nezabudka/logo.png') no-repeat center center
        margin: 0 auto
    .nezabudka
      width: 1040px
      +box-shadow(#777 0 0 5px)
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)
      margin: 0 auto
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px

  .rassvet_wrapper
    background: #fcc6aa image_url('public/rassvet/bg.png') repeat
    +background-image(image_url('public/rassvet/bg.png'), linear-gradient(#fff6b5, #fa94a2))
    .rassvet_logo_wrapper
      height: 150px
      background: transparent image_url('public/rassvet/logo_bg.png') no-repeat center top
      .rassvet_logo
        height: 1040px
        height: 150px
        background: transparent image_url('public/rassvet/logo.png') no-repeat center center
        margin: 0 auto
    .rassvet
      width: 1040px
      +box-shadow(#777 0 0 5px)
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)
      margin: 0 auto
      .header_wrapper
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
      .content_wrapper
        background-color: #fff
        margin-top: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px
