.unique_header_wrapper
  .header_wrapper
    margin-bottom: 0

  .filters_wrapper
    display: none

=unique_content_style
  .content_wrapper
    width: 1210px !important
    margin-bottom: 0

  .content
    +border-top-left-radius
    +border-top-right-radius
    +box-shadow(#555 0 0 3px)
    background-color: #fff
    padding: 5px

.anapa_content_wrapper
  background: #d4fbbc image_url('public/anapa/logo_bg.png') no-repeat center -50px
  +background(image_url('public/anapa/logo_bg.png') no-repeat center -50px, linear-gradient(top, #d4fbbc, #8cddfa))

  .anapa_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/anapa/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.forum_content_wrapper
  background-color: #000
  +background(linear-gradient(top, #000, #603a8d))

  .forum_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/forum/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.geronimo_content_wrapper
  background: #e1b240 image_url('public/geronimo/bg.png') no-repeat center top
  +background(image_url('public/geronimo/bg.png') no-repeat center top, linear-gradient(top, #e1b240, #ffe090))

  .geronimo_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/geronimo/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.globus_content_wrapper
  background-color: #d4e9fe

  .globus_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/globus/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.lovekafe_content_wrapper
  background-color: #fff
  +background(linear-gradient(top, #fff, #f76663))

  .lovekafe_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/lovekafe/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.marsel_content_wrapper
  background-color: #58c3bb
  +background(linear-gradient(top, #58c3bb, #fff))

  .marsel_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/marsel/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style

.nezabudka_content_wrapper
  background: #95e5fe image_url('public/nezabudka/logo_bg.png') no-repeat center -50px
  +background(image_url('public/nezabudka/logo_bg.png') no-repeat center -50px, linear-gradient(top, #95e5fe, #675098))

  .nezabudka_logo
    width: 1200px
    height: 110px
    background: transparent image_url('public/nezabudka/logo.png') no-repeat center center
    margin: 0 auto

  +unique_content_style
