.votes_wrapper
  +clearfix
  float: right
  font-size: 11px
  line-height: 12px

  .like_box
    opacity: 0.9
    display: none
    position: absolute
    +border-radius(5px)
    background: #9c62b6
    margin-top: -63px
    padding: 6px 20px 8px

    > div
      margin-bottom: 5px
    a
      color: #794391
      font-size: 10px
      background: #c8a8d6
      +border-radius(7px)
      line-height: 20px
      white-space: nowrap
      padding: 0 3px 0 5px

  &:hover .like_box
    display: block

  .votes_counter
    overflow: visible
    color: #888
    float: left
    margin: 0 10px

  .user_like
    float: left

    a
      +inline-block
      border-bottom: 1px dashed #6da3bd
      color: #6da3bd
      text-decoration: none

      &:hover
        border: none
        padding: 0 0 1px 0
