.votes_wrapper
  +clearfix
  float: right
  font-size: 11px
  line-height: 12px

  .like_box
    background: #9c62b6
    margin-left: -999em
    position: absolute

    a
      font-size: 10px
      margin-right: 13px
      margin-bottom: 5px
      background: #c8a8d6
      border-radius: 7px
      line-height: 20px

  &:hover
    .like_box
      +border-radius(5px)
      position: absolute
      left: 52%
      top: 35%
      z-index: 99
      margin-left: 9px
      margin-top: 18px
      width: 182px
      padding: 0px 0px 8px 24px

  .votes_counter
    overflow: visible
    color: #888
    float: left
    margin: 0 10px

  .user_like
    float: left

    a
      +inline-block
      border-bottom: 1px dashed #6da3bd
      color: #6da3bd
      text-decoration: none

      &:hover
        border: none
        padding: 0 0 1px 0

  .cloud_wrapper
    margin-left: -340px
    margin-top: 27px

    .cloud_inner_wrapper
      background-position: 360px top

.first
  .cloud_wrapper
    margin-left: -79px !important
    margin-top: 30px !important

    .cloud_inner_wrapper
      background-position: 120px top !important

.second, .third
  .cloud_wrapper
    margin-left: -155px !important
    margin-top: 30px !important

    .cloud_inner_wrapper
      background-position: 195px top !important

.fourth
  .cloud_wrapper
    margin-left: -250px !important
    margin-top: 30px !important

    .cloud_inner_wrapper
      background-position: 290px top !important

