.content_wrapper .webcams

  h1
    font-size: 22px
    margin: 0 10px

  .webcams_list
    display: none

  .webcam_map
    width: 1180px
    height: 480px
    border: 1px solid #bfbfbf
    margin: 10px 9px

  .share_and_likes
    min-height: 30px

    .share
      float: left
      width: 45%
      margin-left: 10px

      .title
        +inline-block

      .yashare-auto-init
        +inline-block

    .likes
      float: right
      width: 45%
      margin-right: 10px
      margin-top: 4px

      .vk_like
        float: right
        clear: none !important

      .fb_like
        float: right
        margin-right: 20px

      .ok_like
        float: right

  .webcam_show
    margin: 10px

    a, p
      display: none

#webcam_dialog
  position: relative
  center
    +border-radius
    background-color: #000
    margin-top: 3px
