.content_wrapper .webcams

  h1
    font-size: 22px
    margin: 0 10px

  .webcams_list
    display: none

  .webcam_map
    width: 1180px
    height: 500px
    border: 1px solid #bfbfbf
    margin: 10px 9px
