.widgets_list
  margin: 10px

  h1
    font-size: 22px
    line-height: 24px
    margin: 0 0 15px 0

  ul
    +clearfix

    li
      border: 1px solid #CCCCCC
      float: left
      margin: 0 15px 0 0
      padding: 5px
      width: 370px

      .image
        float: left
        height: 150px
        text-indent: -9999px
        width: 150px
        background-color: transparent
        background-repeat: no-repeat
        background-position: center center

        &.webcams
          background-image: image_url('public/widgets/webcams.png')

        &.organizations
          background-image: image_url('public/widgets/organizations.png')

        &.discounts
          background-image: image_url('public/widgets/discounts.png')

      .text
        float: left
        font-size: 13px
        padding: 40px 0 0 20px
        width: 200px

        p
          margin-top: 10px
