.gallery_container
  +clearfix
  background: #F8F8F8
  border: 5px solid #1b1007
  margin: 0 auto
  padding: 20px 10px 10px
  width: 850px

  .galleria-container
    +clearfix
    height: auto !important
    position: relative

    .galleria-stage
      height: 480px

      .galleria-images
        .galleria-image
          padding: 5px

          .galleria-layer

          img
            +single-box-shadow
            display: block
            top: 5px !important

      .galleria-loader
        display: none

      .galleria-counter
        display: none
        .galleria-current
        .galleria-total

      .galleria-image-nav
        height: 16px
        position: absolute
        top: 530px
        width: 850px
        z-index: 3

        .galleria-image-nav-right
          background: image_url('galleria_nav.png') no-repeat right top
          display: block
          float: right
          height: 16px
          width: 10px

          &:hover
            background-position: right bottom
            cursor: pointer

        .galleria-image-nav-left
          background: image_url('galleria_nav.png') no-repeat left top
          display: block
          float: left
          height: 16px
          width: 10px

          &:hover
            background-position: left bottom
            cursor: pointer

    .galleria-thumbnails-container
      display: none
      .galleria-thumb-nav-left
      .galleria-thumbnails-list
        .galleria-thumbnails

      .galleria-thumb-nav-right

    .galleria-info
      +clearfix
      margin: 30px 0 0 0
      height: 37px
      text-align: center

      .galleria-info-link
        display: none

      .galleria-info-close
        display: none

      .galleria-info-text
        .galleria-info-title
          font-weight: bold
          margin: 0 0 7px 0

        .galleria-info-description
          font-size: 0.9em

    .galleria-tooltip
      display: none

    .galleria-frames
      +clearfix
      display: absolute
      height: 10px
      line-height: 10px
      margin: 10px 0
      text-align: center
      width: auto

      .frame_item
        +background-image(linear-gradient(#eee, #666))
        +border-radius(50%)
        +inline-block
        border: 1px solid #292929
        height: 8px
        margin: 0 4px
        width: 8px

        &:hover
          +background-image(linear-gradient(#aaa, #555))
          cursor: pointer

        &.active
          +background-image(linear-gradient(#777, #222))

  .galleria-errors
    display: none
