$common_width: 1000px

body
  +min-width($common_width)
  background-color: #fff
  color: #353535
  font-size: 12px
  font-family: Verdana, Tahoma, sans-serif
  cursor: default

  @for $i from 1 through 6
    h#{$i}
      font-weight: normal

  a
    color: #0d92bb
    &:hover
      text-decoration: none

  .nobr
    white-space: nowrap

  .caps
    text-transform: uppercase

  .wrapper
    +clearfix
    margin: 0 auto
    max-width: 1280px

  .clearfix
    +clearfix

.header_wrapper
  background: transparent image_url('public/header_bg.png') repeat-x left
  .header
    +clearfix
    height: 68px
    width: $common_width
    margin: 0 auto
    background: transparent image_url('public/city.png') no-repeat left bottom
    .search_form
      float: right
      position: relative
      margin: 20px 20px 0 0
      .search
        width: 161px
        border: 1px solid #8cacd7
        +border-radius(3px)
        +input-placeholder
        font-size: 11px
        padding: 5px 31px 6px 6px
        margin: 0
      .submit
        position: absolute
        top: 5px
        right: 5px
        border-left: 1px solid #8cacd7
        padding-left: 5px
    .logo
      float: left
      margin: 10px 0 0 35px
      a
        +clearfix
        display: block
        width: 209px
        height: 37px
        background: transparent image_url('public/logo.png') no-repeat
        text-indent: -9999em
    .tomsk
      float: left
      clear: left
      margin-left: 208px
      a
        text-decoration: none

.main_menu_wrapper
  background: #513871 image_url('public/main_menu_bg.png') repeat left top
  .main_menu
    $main_height: 27px
    $menu_left_offset: 40px
    width: 1000px - $menu_left_offset
    margin: 0 auto
    overflow: visible
    +min-height($main_height)
    padding-left: $menu_left_offset
    li
      float: left
      font-size: 16px
      border-right: 1px dotted #afafaf
      a
        color: #fff
        display: block
        outline: none
        text-decoration: none
        padding: 4px 10px 7px
        text-decoration: underline
        &:hover
          text-decoration: none
        &.disabled
          cursor: default
          text-decoration: none
      &:hover
        .submenu
          display: block
        a
          background-color: #70398a
      &.has_submenu
        background: transparent image_url('public/main_menu_arrow.png') no-repeat right center
        padding-right: 38px
      .submenu
        display: none
        z-index: 1
        +opacity(0.9)
        +border-top-right-radius(3px)
        +border-bottom-radius(3px)
        li
          float: none
          border: none
          border-bottom: 1px dotted #aca9ad
          margin: 0 5px
          width: auto
          a
            font-size: 14px
            width: 138px
            padding: 7px 5px 10px
            text-decoration: underline
            &:hover
              text-decoration: none
          &:last-child
            border-bottom: none
      a:hover
        &+.submenu
          display: block
      .submenu
        position: absolute
        background-color: #70398a
        &:hover
          display: block

.show
  width: 960px
  padding-left: 40px
  margin: 0 auto

.footer_wrapper
  background: #523a71 image_url('public/footer_bg.png') top left
  .footer
    +clearfix
    width: 1000px
    margin: 0 auto
    color: #fff

    h5
      font-size: 16px
      margin-bottom: 15px

    a
      color: #fff

  .our_social_link
    float: left
    width: 240px
    padding: 20px 20px 15px 40px

    ul
      margin: 0

      li
        margin-bottom: 12px
        padding-left: 21px
        line-height: 16px
        background-color: transparent
        background-repeat: no-repeat
        background-position: left

    .vk
      background-image: image_url('public/our_social_link_vk.png')

    .twitter
      background-image: image_url('public/our_social_link_twitter.png')

    .email
      background-image: image_url('public/our_social_link_email.png')

    .phone
      background-image: image_url('public/our_social_link_phone.png')

  .twitter_timeline
    float: left
    width: 680px
    padding: 20px 20px 10px 0

.twtr-widget-profile
  .twtr-doc
    .twtr-hd
      display: none

    .twtr-bd
      padding: 0

      .twtr-timeline
        .twtr-tweets

          .twtr-reference-tweet
            display: none

          .twtr-tweet
            border: none

            .twtr-tweet-wrap
              padding: 0 0 12px 0

              .twtr-avatar
                display: none

              .twtr-tweet-text
                p
                  color: #bfbfbf !important
                  font-size: 12px
                  line-height: 16px

                  .twtr-user
                  .tweet-url
                  .username
                  .hashtag

                  a
                    color: #bfbfbf !important
                    background: none
                    border: none
                    text-decoration: none
                    vertical-align: baseline

                    &:hover
                      text-decoration: none !important

                  em
                    .twtr-timestamp
                    .twtr-reply
                    .twtr-rt
                    .twtr-fav
          #tweet-id-1,
          #tweet-id-2,
          #tweet-id-3,
          #tweet-id-4,
          #tweet-id-5
            .twtr-tweet-text
              p
                font-family: Verdana, Tahoma, sans-serif !important
                color: #b4b4b4 !important
                a
                  color: #b4b4b4 !important
                  text-decoration: underline !important
                em
                  color: #848484 !important
                  a
                    color: #848484 !important

    .twtr-ft
      display: none
