body
  +min-width(1000px)
  background: image_url('bg.png') repeat
  color: #334049
  padding: 83px 0 0 0

  h1, h2, h3, h4, h5, h6
    font-weight: normal

  a
    background-position: left 1.1em
    background-repeat: repeat-x
    display: inline
    outline: none
    text-decoration: none

    &.dashed_light_blue
      background-image: image_url('dashed_light_blue.png')
      color: #9ccfff

    &.dashed_white
      background-image: image_url('dashed_white.png')
      color: #fff

    &.dashed_light_gray
      background-image: image_url('dashed_light_gray.png')
      color: #e7edf2

    &.dashed_dark_gray
      background-image: image_url('dashed_dark_gray.png')
      color: #4c5254

    &.dashed_deep_blue
      background-image: image_url('dashed_deep_blue.png')
      color: #0d88bc

    &.solid_dark_gray
      background-image: image_url('solid_dark_gray.png')
      color: #151a1d

    &.solid_light_blue
      background-image: image_url('solid_light_blue.png')
      color: #0d88bc

    &.solid_white
      background-image: image_url('solid_white.png')
      color: #fff

    &:hover
      background: none
      text-decoration: none

  table
    background: #f1f3f3
    border-collapse: collapse
    border-spacing: 0
    font-size: 13px
    width: 100%

    th, td
      padding: 10px 15px 5px
      text-align: left
      vertical-align: middle

    th
      background: #fcfdfe

    tr:nth-child(even)
      background: #fcfdfe

    td:first-child
      width: 125px

    &.sortable
      .theader
        background: #fff

        .dashed_light_blue
          +inline-block
          color: #0d88bc
          font-weight: normal

        &:hover
          cursor: pointer
          background: none

      .time, .amount
        width: 15%

      .cinema, .hall
        width: 35%

      th
        height: 24px
        padding: 10px 5px 5px
        vertical-align: middle

        a
          margin: 4px 5px 0

        &:hover
          background: #fff !important

      td
        padding: 5px 10px


      .sort_asc, .sort_desc
        a
          +border-radius(3px)
          background: #61b1e2
          @include background-image(linear-gradient(#61b1e2, #1c7ccd))
          color: #fff !important
          margin: 0
          padding: 4px 5px 0

      .sort_desc
        a
          &:after
            content: '\25B4'
            font-size: 0.8em
            margin: 0 0 0 7px

      .sort_asc
        a
          &:after
            content: '\25BE'
            font-size: 0.8em
            margin: 0 0 0 7px

  .wrapper
    +clearfix
    margin: 0 auto
    max-width: 1280px

.header
  background: image_url('header_bg.png') repeat-x left
  height: 83px
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 99999

  .wrapper
    +min-width(610px)

  .logo
    float: left
    margin: 5px 0 0 30px

    a
      display: block

      img
        display: block
        height: 66px
        width: 118px

  .city
    float: left
    font-size: 14px
    margin: 55px 0 0 10px

  .search_form
    +border-radius(3px)
    +single-box-shadow(#bbb, 0, 1px, 10px, false, true)
    background: #e2e6e9
    float: right
    margin: 25px 30px 0 0
    padding: 5px 12px

    form
      input
        background: none
        border: none
        height: 17px
        line-height: 17px
        margin: 0
        outline: none
        padding: 0

      .search
        width: 324px

      .submit
        background: image_url('search_button.png') no-repeat
        height: 17px
        text-indent: -9999px
        width: 17px

        &:hover
          cursor: pointer

.main_wrapper
  +clearfix

  .breadcrumbs
    +clearfix
    list-style: none
    line-height: 18px
    margin: 0

    li
      display: inline

      span
        color: #0d88bc
        margin: 0 10px

.footer
  background: image_url('footer_bg.png') repeat-x left

  a
    color: #fff !important

  .wrapper
    margin: 0 auto
    padding: 34px 30px 0
    position: relative
    max-width: 1220px

    h5
      color: #9CCFFF
      font-size: 18px
      margin: 0 0 13px 0

      a
        color: #9CCFFF !important

  .bottom_navigation
    +clearfix
    float: left
    width: 265px

    div
      font-size: 14px
      float: left
      width: 100%

    .right
      margin: 28px 0 0 0

    ul
      +clearfix

      li
        float: left
        margin: 0 0 8px 0
        width: 50%

  .logo
    display: none
    float: left
    position: absolute
    top: 220px

    a
      img

  .our_social_link
    float: left
    width: 179px

    h5
      margin: 0 0 1px 46px

    ul
      margin: 0

      li
        background: image_url('social_links.png') no-repeat
        font-size: 14px
        height: 24px
        list-style: none
        margin: 0 0 6px 0
        padding: 12px 0 0 46px

    .vk
      background-position: 0 0

    .twitter
      background-position: 0 -36px

    .email
      background-position: 0 -74px

    .phone
      background-position: 0 -110px

  .twitter_timeline
    float: right
    width: 50%

.twtr-widget-profile
  .twtr-doc
    .twtr-hd
      display: none

    .twtr-bd
      padding: 0

      .twtr-timeline
        .twtr-tweets

          .twtr-reference-tweet
            display: none

          .twtr-tweet
            border: none

            .twtr-tweet-wrap
              padding: 0 0 12px 0

              .twtr-avatar
                display: none

              .twtr-tweet-text
                p
                  font-size: 12px
                  line-height: 16px

                  .twtr-user
                  .tweet-url
                  .username
                  .hashtag

                  a
                    background: none
                    border: none
                    text-decoration: none
                    vertical-align: baseline

                    &:hover
                      text-decoration: none !important

                  em
                    .twtr-timestamp
                    .twtr-reply
                    .twtr-rt
                    .twtr-fav

          #tweet-id-4
            .twtr-tweet-text
              p
                color: #ffffff !important
                a
                  color: #9ccfff !important

          #tweet-id-3
            .twtr-tweet-text
              p
                color: #cdd4db !important

                a
                  color: #add7ff !important

          #tweet-id-2
            .twtr-tweet-text
              p
                color: #8c99a5 !important

                a
                  color: #bedfff !important

          #tweet-id-1
            .twtr-tweet-text
              p
                color: #788897 !important

                a
                  color: #cfe8ff !important

    .twtr-ft
      display: none
