<div class='suborganization_info recreation_center'>

  <div class='title'><%= recreation_center.title.text_gilensize %></div>

  <%= recreation_center.htmlise_offers_and_features_on_show %>

  <%= content_tag :div, recreation_center.description.as_html, :class => :description if recreation_center.description.present? %>

  <% if recreation_center.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render recreation_center.gallery_images, :rel => "recreation_center_gallery_#{recreation_center.id}" %>
      </ul>
    </div>
  <% end %>

</div>
