<tr class="solid_border">
  <td>
    <table class="custom_column_width columns">
      <tr>
        <h2 class="by_center">
          <% if materials.first.first.is_a?(Account) %>
            <%= t "notice_mailer.account_title"  %>
          <% end %>
        </h2>
      </tr>

      <% materials = materials.third if @account.gender == 'undefined' %>
      <% materials = materials.first if @account.gender == 'female' %>
      <% materials = materials.second if @account.gender == 'male' %>

      <% materials.each_with_index do |material, index| %>
        <% if (index + 1).odd? %>
          <tr>
            <td class="center" align="center">
              <center>
                <table id="content_row" class="row content_row">
                  <tr align="left">
                    <td align="left" valign="top">
                      <table class="small_column columns">
                        <tr align="left">
                          <%= render partial: "site_digest_mailer/account", :locals => { :account => material } %>
        <% else %>
                          <td>
                            <table class="separator">
                              <tr>
                                <td>
                                  &nbsp;
                                </td>
                              </tr>
                            </table>
                          </td>
                          <%= render partial: "site_digest_mailer/account", :locals => { :account => material } %>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </td>
</tr>
