<li>
  <%= render partial: 'comments/account_afisha_comment', locals: { comment: comment } if comment.commentable.is_a?(Afisha) %>
  <%= render partial: 'comments/account_organization_comment', locals: { comment: comment } if comment.commentable.is_a?(Organization) %>
  <%= render partial: 'comments/account_work_comment', locals: { comment: comment } if comment.commentable.is_a?(Work) %>
  <%= render partial: 'comments/account_post_comment', locals: { comment: comment } if comment.commentable.is_a?(Post) %>
</li>
