<div class="item">
  <div class="date">
    <%= time_ago_in_words(comment.created_at) %> назад
  </div>
  <div class="title">
    <%= yield(:account_comment_link) %>
  </div>
  <div class="body">
    <%= comment.body_html %>
  </div>
</div>
