<div class="item">
  <div class="date">
    <%= time_ago_in_words(comment.created_at) %> назад
  </div>
  <div class="title">
    <%= link_to comment.commentable.title, afisha_show_path(comment.commentable) %>
  </div>
  <div class="body">
    <%= comment.body_html %>
  </div>
</div>
