<div class="comments ajaxed ajaxed_voteable">
  <h3>Комментарии</h3>

  <ul>
    <% parent_obj.comments.roots.order('created_at ASC').each do |comment| %>
      <%= render comment %>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <%= link_to "Оставить комментарий", polymorphic_url([:new, parent_obj, :comment].flatten), :remote => true, :class => 'new_comment', :rel => 'nofollow' %>
  <% else %>
    <div class='auth_info_message'>Комментировать могут только авторизованные пользователи. <%= link_to 'Войти', polymorphic_url([:new, parent_obj, :comment].flatten), :remote => true, :rel => 'nofollow' %></div>
  <% end %>
</div>
