<div class="comments ajaxed">
  <h3>Комментарии</h3>

  <ul>
    <% parent_obj.comments.roots.order('created_at ASC').each do |comment| %>
      <%= render comment %>
    <% end %>
  </ul>

  <%= link_to "Оставить комментарий", polymorphic_url([:new, parent_obj, :comment].flatten), :remote => true, :class => 'new_comment' %>
</div>
