<ul class='kind_links'>
  <% Afisha.kind.values.each do |kind| %>
    <li class="has_submenu">
      <%= link_to kind.text, by_kind_manage_afisha_index_path(:by_kind => kind.pluralize) %>
    </li>
  <% end %>
</ul>
