<div class='view'>
  <%= @organization.phone_for_sms ? @organization.phone_for_sms : content_tag(:span, 'не назначен', class: :empty) %>
  <%= link_to 'изменить', edit_crm_organization_path(@organization, field: 'phone_for_sms'), class: :edit %>
</div>
