<div class="slave_organizations">
  <h4>
    Связанные организации
    <%= link_to 'добавить', new_crm_slave_organization_path(primary_organization_id: @organization), remote: true, class: 'new_slave_organization_link' %>
  </h4>
  <div class="slave_organization_form"></div>
  <ul>
    <% @organization.slave_organizations.each do |organization| %>
      <li>
        <%= link_to organization.title, crm_organization_path(organization) %> (<%= organization.status_text %>)
      </li>
    <% end %>
  </ul>
</div>

