<% if flash[:notice] %>
  <div class='flash_message'>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class='sign_in'>
  <%= link_to 'Войти через VK', user_omniauth_authorize_path(:vkontakte), class: 'button' %>
</div>

