<div class="organization_wrapper">
  <%= render partial: "suborganizations/filters_and_search" %>

  <div class='organization_content js-button-pagination'>
    <% if @presenter.collection.any? || @presenter.without_clients_collection.any? %>
      <ul class='posters js-paginable-list' data-item-width="220">
        <%= render :partial => 'organizations/organizations_posters' %>
      </ul>
    <% else %>
      <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>

  <%= render :partial => 'commons/ads_by_google' %>
</div>
