<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_description, t("meta.#{@presenter.pluralized_kind}.description") %>
<% content_for :meta_keywords, t("meta.#{@presenter.pluralized_kind}.keywords") %>

<div class='presentation_filters organization'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li class='selected'><a href='#' class='poster'>Постеры</a></li>
      <li><a href='#' class='list'>Список</a></li>
    </ul>
  </div>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            send(sortings_link[:url], sortings_link[:parameters]), :class => sortings_link[:parameters][:order_by] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='organizations_list'>
  <% if @presenter.collection.any? %>
    <ul class='items_list'>
      <%= render :partial => 'organizations/organizations_list' %>
    </ul>
  <% else %>
    <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.paginated_collection %>
