<h3><%= resource.title %></h3>
<h3><%= link_to "Удалить", manage_organization_section_path(params[:organization_id], resource), method: 'DELETE', data: {confirm: "Вы уверены что хотите удалить раздел?"} %></h3>
