<ul>
  <li>
    <%= @search_presenter.affiches_link %>
  </li>
  <li>
    <%= @search_presenter.organizations_link %>
  </li>
</ul>

<ul>
  <% @search_presenter.collection.each do |item| %>
    <li>
      <%= item.title %>
    </li>
  <% end %>
</ul>
