  <div class="clearfix">
    <div class="form_wrapper">
      <%= render 'form_discount' %>
    </div>
    <div class="discount_preview">
      <div class="title"></div>
      <div class="description">
        <div class="text">
        </div>
      </div>
    </div>
  </div>
