<% content_for :my_content do %>

  <h1>Общая информация <%= link_to 'помощь', '#', :class => 'show_help' if content_for?(:help) %></h1>

  <% if content_for?(:help) %>
    <div class="help_wrapper">
      <div class="help">
        <%= yield :help %>
      </div>
    </div>
  <% end %>

  <%= render 'form' %>

<% end %>

<%= render :template => 'my/discounts/wrapper' %>
