.teaser_item
  background-color: #ffe0bd
  border: 1px solid #ff9e43
  display: table
  float: left
  height: 97px
  margin: 0 5px 10px 0

  .left
    display: table-cell
    margin-right: 10px
    padding: 1px 5px 1px 2px
    text-align:center

    a
      display: block
      height: 90px
      text-indent: -9999px
      width: 90px

  .right
    padding: 5px
    display: table-cell
    vertical-align: middle

    .link
      a
        color: #008ff2
        font-size: 13px
        line-height: 19px

    .author
      font-size: 11px
      color: #000
      float: left
      clear: left

    .description
      font-size: 11px
      float: left
      width: 220px
      margin-bottom: 2px
