.teasers_znaigorod
  width: 228px !important
  background-color: #fff !important
  padding: 5px !important
  border: 1px solid #ccc !important

  .label
    background: image_url('public/label.jpg') center center no-repeat !important
    height: 70px !important

    a
      width: 100% !important
      height: 100% !important
      text-indent: -9999px !important
      display: block !important

  .table_wrapper
    table
      tr
        td
          ul
            padding: 0 !important

            li
              list-style: none !important
              margin: 10px 0 !important

              .image
                display: inline-block !important

              .link
                display: inline-block !important
                vertical-align: top !important
                width: 60% !important

                a
                  text-decoration: none !important
                  color: #000 !important

                  &:hover
                    text-decoration: underline !important
