<li>
  <div class="avatar">
    <%= link_to account_path(account) do %>
      <%= image_tag(resized_image_url(account.avatar.url, 35, 35), size: '35x35', title: account, alt: account) %>
    <% end %>
  </div>
  <div class="details">
    <%= link_to(account, account, :class => :name) %>
  </div>
</li>
