<ul class="buddies">
  <% @accounts.each do |account| %>
    <li>
      <div class="image">
        <%= image_tag(resized_image_url(account.avatar.url, 50, 50), size: '50x50', title: account, alt: account) %>
      </div>
      <div class="title">
        <%= link_to account.title, account_path(account) %>
      </div>
    </li>
  <% end %>
</ul>
