<% if current_user.account.friends_with?(@account) %>
  <li class="selected"><%= link_to t('unfollow'), account_change_friendship_path(@account), method: :put, remote: true, class: 'change_friendship' %></li>
<% else %>
  <li><%= link_to t('follow'), account_change_friendship_path(@account), method: :put, remote: true, class: 'change_friendship'  %></li>
<% end %>
