<% content_for :account_content do %>
  <div class='line'>
    <div class="invitations header">
      <div class='clear'>
        <span class="panel"></span>
      </div>
      <h3>
        Друзья
      </h3>
    </div>
  </div>
  <div class="accounts_list">
    <ul class="posters">
      <%= render partial: 'friends/account_friends', locals: { collection: @friends } %>
    </ul>
  </div>

  <%= paginate collection %>
<% end %>
<% if params["controller"] == "friends" %>
  <%= render file: "accounts/wrapper" %>
<% end %>
<% if params["controller"] == "my/friends" %>
  <%= render file: "my/accounts/wrapper" %>
<% end %>
