<div class="suborganization_info sport">
  <table>
    <tr>
      <td class='border'>
        <%= sport.htmlise_title_on_show %>
      </td>
      <td>
        <div class="details">
          <%= sport.htmlise_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <%= sport.services_on_show %>
  <% if sport.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% sport.images.each do |image| %>
          <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :sport_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
