<li>
  <div class='avatar'>
    <%= link_to visit.user.account do %>
      <%= image_tag resized_image_url(visit.user.account.avatar.url, 35, 35), :size => '35x35', :alt => visit.user.account %>
    <% end%>
  </div>
  <div class='details'>
    <%= link_to(visit.user.account, visit.user.account, :class => :name) %>
  </div>
</li>
