<li <%= 'class="selected"'.html_safe if visitable.has_visit_for?(current_user) %>>
  <% if visitable.has_visit_for?(current_user) %>
    <%= link_to 'Я пойду', [visitable, visitable.visit_for(current_user)], :method => :delete %>
  <% else %>
    <%= link_to 'Я пойду', [visitable, :visits], :method => :post %>
  <% end %>
</li>
