<div class="visit_wrapper ajaxed">
  <h4>Участники</h4>
  <div class="visitors">
    <%= t :visitors, :count => @visit.visitable.visits.voted.count %>
  </div>

  <%= simple_form_for @visit, :url => polymorphic_url([visitable, @visit], :subdomain => request.subdomain), :html => { :remote => true } do |f| %>
    <%= f.input :voted, :input_html => { :class => 'checkable' } %>
    <%= f.submit :style => 'display:none' %>
  <% end %>
</div>

