<div class="reviews-paginator">
  <ul class="posters js-isotoped-content" data-item-width="392">
    <%= render :partial => 'reviews/posters', :locals => { :collection => @reviews, :height => '200', :width => '354' } %>
  </ul>
</div>
