<div class="reviews_index reviews">
  <ul class="posters isotope js-isotope">
    <%= render :partial => 'reviews/posters', :locals => { :collection => @reviews, :height => '200', :width => '354' } %>
  </ul>
</div>
