<div class='description'>
  <div class='poster'>
    <% if @afisha.poster_image_url? %>
      <%= image_tag resized_image_url(@afisha.poster_image_url,
                                      @afisha.poster_image_resized_dimensions[:width].round,
                                      @afisha.poster_image_resized_dimensions[:height].round),
                                      size: "#{(@afisha.poster_image_resized_dimensions[:width]).round}x#{(@afisha.poster_image_resized_dimensions[:height]).round}" %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '180x242', alt: :poster %>
    <% end %>
  </div>
</div>
