<div class='content_wrapper'>
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <h1>
    <%= t("my.archive") %>
  </h1>

  <div class='my_affiche_wrapper'>
    <div class='my_affiches_preview'>
      <ul class='my_affiche_items'>
        <% current_user.affiches.archive.published.each do |affiche| %>
          <%= render :partial => 'affiches_list', :locals => { :affiche => affiche, :editable => true } %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
