<div class='tag_lists'>
  <% count = (@tags.size / 4.0).ceil %>
  <% k = 0 %>
  <% @tags.each_slice(count) do |tags| %>
    <ul>
      <% tags.each_with_index do |tag, index| %>
        <li>
          <%= check_box_tag 'tags[]', tag, false, :id => "tag_#{index}_#{k}" %>
          <%= label_tag "tag_#{index}_#{k}", tag %>
        </li>
      <% end %>
    </ul>
    <% k += 1 %>
  <% end %>
</div>

<div>
  <%= submit_tag 'Выбрать', :class => 'submit button' %>
</div>
