<ul>
  <% @accounts.each do |account| %>
    <li>
      <div class='avatar'>
        <%= link_to(image_tag(account.avatar.url, :size => '70x70', :title => account, :alt => account), account) %>
      </div>
      <div class='details'>
        <%= link_to(account, account, :class => :name) %>
      </div>
    </li>
  <% end %>
</ul>
