<div class="statistics">
  <h3>Статистика Яндекс.Метрика (количество просмотров)</h3>
  <div class="yandex">
    <%= render partial: 'affiches',
      locals: { affiches: @statistics_presenter.affiches_with_page_views, attribute: :yandex_metrika_page_views } %>

    <%= render partial: 'organizations',
      locals: { organizations: @statistics_presenter.organizations_with_page_views, attribute: :yandex_metrika_page_views } %>
  </div>

  <h3>Статистика Вконтакте (количество лайков)</h3>
  <div class="vk">
    <%= render partial: 'affiches',
      locals: { affiches: @statistics_presenter.affiches_with_likes, attribute: :vkontakte_likes } %>

    <%= render partial: 'organizations',
      locals: { organizations: @statistics_presenter.organizations_with_likes, attribute: :vkontakte_likes } %>
  </div>
</div>
