<div class="item">
  <div class="title">
    <%= link_to truncate(webcam.title.text_gilensize, :length => 45), webcam_path(webcam), :title => webcam.title.text_gilensize %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(webcam.snapshot_url, 220, 164), :size => '220x164', :title => webcam.title.text_gilensize, :alt => webcam.title.text_gilensize), webcam_path(webcam) %>
  </div>

  <div class="place">
    <%= webcam.address %>
  </div>
</div>
