<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, 'Вебкамеры Томска' %>

<div class='webcams'>

  <h1>Вебкамеры Томска</h1>

  <div class="webcam_map" data-latitude="56.495116" data-longitude="84.972128"></div>

  <div class="webcams_list">

    <!--
    <div class="webcam_axis"
         data-width="704"
         data-height="576"
         data-cgi="http://cam.admin.tomsk.ru/cgi-bin/cam4.pl"
         data-cab="http://cam.admin.tomsk.ru/AxisCamControl.ocx">
      <a href="#">Корпус №10 Томского политехнического университета</a>
      <p data-latitude="56.456574" data-longitude="84.951246">пр. Ленина, 2</p>
    </div>
    -->

    <div class="webcam_axis"
         data-width="640"
         data-height="480"
         data-cgi="http://109.194.33.207/videostream.cgi"
         data-params="rate=0&user=user&pwd=pwd"
         data-cab="http://109.194.33.207/codebase/DVM_IPCam2.ocx">
      <a href="#">Транспортная площадь</a>
      <p data-latitude="56.456651" data-longitude="84.975997">ул. Елизаровых, 2</p>
    </div>

    <div class="webcam_axis"
         data-width="704"
         data-height="576"
         data-cgi="http://cam.admin.tomsk.ru/cgi-bin/cam6.pl"
         data-cab="http://cam.admin.tomsk.ru/AxisCamControl.ocx">
      <a href="#">Площадь Новособорная. Вид со здания Администрации г.Томска</a>
      <p data-latitude="56.475733" data-longitude="84.950462">пр. Фрунзе, 1</p>
    </div>

    <div class="webcam_axis"
         data-width="704"
         data-height="576"
         data-cgi="http://campus.tusur.ru/axis-cgi/mjpg/video.cgi"
         data-cab="http://ctt.tusur.ru/files/webcam/AxisCamControl.cab">
      <a href="#">Площадь Новособорная. Вид с главного корпуса ТУСУР</a>
      <p data-latitude="56.474046" data-longitude="84.949797">пр. Ленина, 40</p>
    </div>

    <div class="webcam_axis"
         data-width="640"
         data-height="480"
         data-cgi="http://webcam.fet.tusur.ru/axis-cgi/mjpg/video.cgi"
         data-cab="http://ctt.tusur.ru/files/webcam/AxisCamControl.cab">
      <a href="#">Корпус ФЭТ ТУСУР</a>
      <p data-latitude="56.451345" data-longitude="84.963959">ул. Вершинина проезд, 74</p>
    </div>

    <!--
    <div class="webcam_axis"
         data-width="704"
         data-height="576"
         data-cgi="http://cam.admin.tomsk.ru/cgi-bin/cam2.pl"
         data-cab="http://cam.admin.tomsk.ru/AxisCamControl.ocx">
      <a href="#">Дворец зрелищ и спорта</a>
      <p data-latitude="56.459448" data-longitude="84.970686">ул. Красноармейская, 126</p>
    </div>
    -->

    <div class="webcam_axis"
         data-width="704"
         data-height="576"
         data-cgi="http://217.29.93.100/axis-cgi/mjpg/video.cgi"
         data-cab="http://217.29.93.100/activex/AMC.cab">
      <a href="#">Вид с крыши на пересечение ул. Красноармейской и ул. Усова</a>
      <p data-latitude="56.46265" data-longitude="84.968079">ул. Красноармейская, 101</p>
    </div>

    <div class="webcam_uppod"
         data-width="640"
         data-height="480"
         data-file="22AENBw3LkUVT2FQnAxOb7jOIzav5npdQVQvaWQ9m5ntu0c9BMrH">
      <a href="#">Елизаровых - Шевченко</a>
      <p data-latitude="56.465032" data-longitude="84.996041">ул. Елизаровых, 53/2</p>
    </div>

    <!--
    <div class="webcam_uppod"
         data-width="640"
         data-height="480"
         data-file="21AEE87GXQ35tlzsNnAhxOb7jObIzv5nphdQVQvadW9m5ntRu0c9BMrD">
      <a href="#">АРЗ</a>
      <p data-latitude="56.527331" data-longitude="84.98046">пр. Мира, 47</p>
    </div>
    -->

    <div class="webcam_uppod"
         data-width="640"
         data-height="480"
         data-file="81AENBw3LCwEnHBYnAxOb77jOIzv5npedQVQvaW9mk5ntu0c9BMrB">
      <a href="#">Четвёртая поликлиника</a>
      <p data-latitude="56.500128" data-longitude="84.990427">Северный городок, 6</p>
    </div>

    <div class="webcam_uppod"
         data-width="640"
         data-height="480"
         data-file="61AENBw83LCQnQmwBfHsQcpB0HnAxOb7jOQIzv5npdQ5VQvaW9m5Kntu0c9BMrR">
      <a href="#">Путепровод</a>
      <p data-latitude="56.500057" data-longitude="84.991629">Северный городок, 6</p>
    </div>

    <!--
    <div class="webcam_swf"
         data-width="640"
         data-height="480"
         data-file="http://213.210.67.5:15100/webcam.swf">
      <a href="#">Перед транспортной развязкой (р-н 4-ой Поликлиники)</a>
      <p data-latitude="56.496716" data-longitude="84.982449">Комсомольский, 7</p>
    </div>
    -->

    <div class="webcam_jw"
         data-width="640"
         data-height="480"
         data-file="http://stream.znaigorod.ru/list/cam1.m3u8">
      <a href="#">Пересечение пр. Комсомольского и ул. Сибирской</a>
      <p data-latitude="56.482181" data-longitude="84.981115">пр. Комсомольский, 37</p>
    </div>

    <div class="webcam_jw"
         data-width="640"
         data-height="480"
         data-file="http://stream.znaigorod.ru/list/cam2.m3u8">
      <a href="#">Пересечение Московского тракта и переулка Базарного</a>
      <p data-latitude="56.473328" data-longitude="84.944508">ул. Московский тракт, 6/4</p>
    </div>

    <div class="webcam_jw"
         data-width="640"
         data-height="480"
         data-file="http://stream.znaigorod.ru/list/cam3.m3u8">
      <a href="#">Пересечение проспекта Ленина и улицы Учебной</a>
      <p data-latitude="56.459098" data-longitude="84.950269">ул. Учебная, 18</p>
    </div>

    <div class='share_webcam'>
      <%#= render :partial => 'commons/share_this', :locals => { :url => :webcam_url } %>
    </div>

    <%# collection.published.ordered.each do |resource| %>
      <%#= render :partial => resource.kind, :object => resource %>
    <%# end %>
  </div>
</div>
