<div class="content_wrapper">

  <div class="webcams">
    <h1><span class="strong">Вебкамеры</span> Томска</h1>

    <div class="webcams_list">

      <div class="webcam_axis"
           data-width="704"
           data-height="576"
           data-cab="http://cam.admin.tomsk.ru/AxisCamControl.ocx"
           data-cgi="http://cam.admin.tomsk.ru/cgi-bin/cam4.pl">
        <a href="#">Корпус №10 Томского политехнического университета</a>
        <span>пр. Ленина, 2</span>
      </div>

      <div class="webcam_axis"
           data-width="704"
           data-height="576"
           data-cab="http://webcam.tpu.ru/activex/AxisCamControl.cab"
           data-cgi="http://webcam.tpu.ru/axis-cgi/mjpg/video.cgi">
        <a href="#">Главный корпус Томского политехнического университета</a>
        <span>пр. Ленина, 30</span>
      </div>

      <div class="webcam_axis"
           data-width="704"
           data-height="576"
           data-cab="http://cam.admin.tomsk.ru/AxisCamControl.ocx"
           data-cgi="http://cam.admin.tomsk.ru/cgi-bin/cam6.pl">
        <a href="#">Площадь Новособорная. Вид со здания Администрации г.Томска</a>
        <span>пр. Фрунзе, 1</span>
      </div>

      <div class="webcam_axis"
           data-width="704"
           data-height="576"
           data-cab="http://ctt.tusur.ru/files/webcam/AxisCamControl.cab"
           data-cgi="http://campus.tusur.ru/axis-cgi/mjpg/video.cgi">
        <a href="#">Площадь Новособорная. Вид с главного корпуса ТУСУР</a>
        <span>пр. Ленина, 40</span>
      </div>

      <div class="webcam_axis"
           data-width="640"
           data-height="480"
           data-cab="http://ctt.tusur.ru/files/webcam/AxisCamControl.cab"
           data-cgi="http://webcam.fet.tusur.ru/axis-cgi/mjpg/video.cgi">
        <a href="#">Корпус ФЭТ ТУСУР</a>
        <span>ул. Вершинина проезд, 74</span>
      </div>

      <div class="webcam_axis"
           data-width="704"
           data-height="576"
           data-cab="http://cam.admin.tomsk.ru/AxisCamControl.ocx"
           data-cgi="http://cam.admin.tomsk.ru/cgi-bin/cam2.pl">
        <a href="#">Дворец зрелищ и спорта</a>
        <span>ул. Красноармейская, 126</span>
      </div>

      <div class="webcam_axis"
           data-width="704"
           data-height="576"
           data-cab="http://217.29.93.100/activex/AMC.cab"
           data-cgi="http://217.29.93.100/axis-cgi/mjpg/video.cgi">
        <a href="#">Пересечение ул. Красноармейская и ул. Усова</a>
        <span>ул. Красноармейская, 101</span>
      </div>

      <div class="webcam_uppod"
           data-width="640"
           data-height="480"
           data-file="22AENBw3LkUVT2FQnAxOb7jOIzav5npdQVQvaWQ9m5ntu0c9BMrH">
        <a href="#">Елизаровых - Шевченко</a>
        <span>ул. Елизаровых, 53/2</span>
      </div>

      <div class="webcam_uppod"
           data-width="640"
           data-height="480"
           data-file="21AEE87GXQ35tlzsNnAhxOb7jObIzv5nphdQVQvadW9m5ntRu0c9BMrD">
        <a href="#">АРЗ</a>
        <span>пр. Мира, 47</span>
      </div>

      <div class="webcam_uppod"
           data-width="640"
           data-height="480"
           data-file="81AENBw3LCwEnHBYnAxOb77jOIzv5npedQVQvaW9mk5ntu0c9BMrB">
        <a href="#">Четвёртая поликлиника</a>
        <span>Северный городок, 6</span>
      </div>

      <div class="webcam_uppod"
           data-width="640"
           data-height="480"
           data-file="61AENBw83LCQnQmwBfHsQcpB0HnAxOb7jOQIzv5npdQ5VQvaW9m5Kntu0c9BMrR">
        <a href="#">Путепровод</a>
        <span>Северный городок, 6</span>
      </div>

      <div class="webcam_swf"
           data-width="640"
           data-height="480"
           data-file="http://213.210.67.5:15100/webcam.swf">
        <a href="#">Перед транспортной развязкой (р-н 4-ой Поликлиники)</a>
        <span>Комсомольский, 7</span>
      </div>

    </div>
  </div>

</div>
