<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, 'Вебкамеры Томска' %>

<div class='webcams'>

  <h1>Вебкамеры Томска</h1>

  <div class='webcam_map' data-latitude='56.495116' data-longitude='84.972128'></div>

  <div class='share_and_likes'>
    <%= render :partial => 'commons/share_this', :locals => { :url => webcams_url } %>
  </div>

  <div class='webcams_list'>
    <% collection.each do |resource| %>
      <%= render :partial => resource.kind, :object => resource %>
    <% end %>
  </div>

</div>
