<% content_for :subtitle, "Вебкамеры Томска" %>

<% content_for :extra_meta do %>
  <meta name='description' content='<%= I18n.t("meta_description.webcams") %> <%= I18n.t("meta_description.main_page") %>' />
<% end %>

<div class="content_wrapper">

  <div class="webcams">
    <h1><span class="strong">Вебкамеры</span> Томска</h1>

    <div class="webcams_list">

      <div id="webcam_tpu_main">
        <a href="#">Главный корпус Томского политехнического университета</a>
        <span>пр. Ленина, 30</span>
      </div>

    </div>
  </div>

</div>
