<% @works.each do |work| %>
  <%= render :partial => 'works/contest_poster', :locals => { :work => work, :width => width, :height => height } %>
<% end %>

<% unless @works.last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @works, "Еще работы (#{current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
  </li>
<% end %>
