<% @works.each do |work| %>
  <li class='<%= cycle('first', 'second', 'third') %>'>
    <div class='image'>
      <%= link_to(image_tag(work.image_url.gsub(/\/\d+-\d+\//, '/300-225!n/')), contest_work_path(@contest, work)) %>
    </div>
    <% contest_description = work.author_info
       contest_description += '. ' + work.description.squish if work.description.present?
       contest_description = truncate(contest_description, :length => 140)
    %>
    <div class='title'>
      <%= link_to(work.title, contest_work_path(@contest, work)) %>
    </div>
    <div class='author'><%= work.author_info %></div>
  </li>
<% end %>
