<h1><%= @contest.title.excerpt %></h1>

<div class='contest'>
  <div class='description'>
    <%= @contest.description.as_html %>
  </div>
  <% if @works.any? %>
    <div class='works ajaxed_voteable js-button-pagination'>
      <ul class='js-paginable-list'>
        <%= render :partial => 'list' %>
      </ul>
    </div>
  <% end %>
</div>
