<div class='content_wrapper'>
  <h1><%= @contest.title.excerpt %></h1>
  <div class='contest'>
    <div class='description'>
      <%= @contest.description.as_html.hyphenate %>
    </div>
    <% if @works.any? %>
      <div class='works'>
        <h2>Участники</h2>
        <ul>
          <%= render :partial => 'list' %>
        </ul>
      </div>
    <% end %>
  </div>
  <%= paginate @works %>
</div>
