<div class='content_wrapper'>
  <h1><%= @work.contest.title.excerpt %></h1>
  <div class='contest'>
    <div class="description">
      <%= @work.contest.description.as_html %>
    </div>
    <div class='works'>
      <h2><%= @work.title %></h2>
    </div>
  </div>
</div>
