<%= render partial: "hits/hit_#{hit.class_name.underscore}", locals: { hit: hit } %>

<% if Rails.env.development? %>
<!--
  <div class='debug'>
    <%= hit.score %> |
    <%= hit.result.popularity if hit.result.respond_to? :popularity %> |
    <%= hit.result.rating if hit.result.respond_to? :rating %>
  </div>
-->
<% end %>
