.upload_wrapper
  position: fixed
  padding: 0 20px
  top: 0
  left: 50%
  margin-left: -220px
  width: 400px

.upload
  margin-top: 10px
  padding-top: 10px
  width: 400px

.progress
  +border-radius(3px)
  border: solid 1px #555
  margin-top: 8px

.bar
  background: #3EC144
  height: 10px
