<% decorator.each do |photogallery| %>
  <li class="item"><%= render :partial => 'photogalleries/poster', :locals => { :photogallery => photogallery, :height => height, :width => width } %></li>
<% end %>
