<div class="new_feature">
  <div class='top_headline banner js-banner'>
    <% if Time.zone.now < Time.zone.parse('31-12-2014 00:00') %>
      <%= link_to '/away?to=https://vk.com/newyearfair2014', target: '_blank' do %>
        <%= image_tag 'public/banners/banner_znaigorod.jpg', :size => '1200x100', :alt => 'Новогодняя Ярмарка в Изумрудном городе' %>
      <% end %>
    <% end %>
  </div>
</div>
