<ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
  <% unless params[:id] == 'delay-super-selfi-s-monopodom-dlya-smartfona' %>
    <li class='js-banner selfi-monopode'>
      <%= link_to (image_tag 'public/banners/monopode_banner.jpg', size: '880x80'), '/away?to=http://selfie.znaigorod.ru/', target: '_blank', class: 'js-stat-monopode' %>
    </li>
  <% end %>

  <% if Time.zone.now < Time.zone.parse('19-02-2015 00:00') %>
    <li class='js-banner ars-dsm'>
      <%= link_to (image_tag 'public/banners/banner_ars.jpg', :size => '880x82', :alt => 'Кастинг: Детская супермодель'), '/away?to=http://ars-alliance.ru/projects/dsm', target: '_blank', class: 'js-stat-dsm' %>
    </li>
  <% end %>

  <% if Time.zone.now < Time.zone.parse('23-02-2015 00:00') %>
    <li class='js-banner wedding'>
      <%= link_to (image_tag 'public/banners/banner_wedding.jpg', :size => '880x82', :alt => 'Кастинг: Детская супермодель'), '/away?to=http://www.weddingshowtomsk.ru/', target: '_blank', class: 'js-stat-wedding' %>
    </li>
  <% end %>
</ul>
