<h3>Партнерство или обмен ссылками</h3>
<div class="promo_info">
  <div class="promo_text">
    Разместите наши информер или ссылку на <%= link_to Settings['app.url'], root_path %> на Вашем ресурсе и мы разместим обратную ссылку на Ваш ресурс или оплатим это размещение.
  </div>
  <%= render :partial => 'banners' %>
  <div class="promo_text">
    После размещения ссылки или информера <%= link_to "пришлите нам письмо", 'mailto:@ss777@yandex.ru' %>, в котором укажите страницу своего сайте, где размещен информер или ссылка.
  </div>
  <div class="promo_text">
    В зависимости от показателей вашего интернет сайта (ТИЦ и PR), вы получите вознаграждение в соответствии с таблицей.

    <div class='table_title'> Таблица с вознаграждением в рублях</div>
    <table class='promo_table'>
      <thead>
        <tr>
          <td></td>
          <td>ТИЦ до 100, PR до 3</td>
          <td>ТИЦ выше 100, PR выше 3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='purple'>Главная страница</td>
          <td>900</td>
          <td>1500</td>
        </tr>
        <tr>
          <td class='green'>Страница 2 уровня</td>
          <td>500</td>
          <td>750</td>
        </tr>
        <tr>
          <td class='blue'>Страница 3 уровня</td>
          <td>300</td>
          <td>300</td>
        </tr>
        <tr>
          <td class='orange' colspan='3'>Индивидуально для "выдающихся" сайтов или при размещении на всех страницах</td>
        </tr>
      </tbody>
    </table>
    Эти денежные средства вы можете потратить на <%= link_to "наши услуги", services_path %> в полном объеме.
  </div>
  <h4>Обмен тематическими статьями</h4>
  <div class="promo_text">
    Каждая из сторон самостоятельно продоставляет фотографии (неограниченно), текстовоe описание, до 5 тысяч знаков. В тексте возможно размещение до 3 активных внешних ссылок.
  </div>
  <div class="alert">
    <span class='warning'>Внимание:</span> робот регулярно проверяет размещение нашего баннера, в случае одностороннего снятия, ваш ресурс заносится в черный список и подлежит действию штрафных санкций.
  </div>
</div>
