<div class="place-content banner">
  <div class="image">
    <%= link_to @banner.url, :title => @banner.title, :alt => @banner.title, :target => '_blank' do %>
      <%= image_tag @banner.image_url, :alt => @banner.title, :title => @banner.title, :width => @banner.width, :height => @banner.height %>
    <% end %>
  </div>
</div>
