<td>
  <div class='teaser_item'>
    <div class='right'>
      <div class='link'>
        <%= link_to item.link_text, item.try(:url), target: '_blank' %>
      </div>

      <span class='description'>
        <%= item.description %>
      </span>

      <div class='author'>
        <span>znaigorod.ru</span>
      </div>
    </div>
  </div>
</td>
