<td>
  <div class='teaser_item'>
    <div class='right'>
      <div class='link'>
        <%= link_to item.link_text, item.try(:url), target: '_blank' %>
      </div>

      <span class='description'>
        <%= item.description.try(:as_html) %>
      </span>

    </div>
  </div>
</td>
