<td>
  <ul>
    <% @teaser.teaser_items.order_by_id.each do |item| %>
      <li>
        <div class="image">
          <%= link_to (image_tag resized_image_url(item.image_url, 70, 50)), item.url, :target => '_blank' %>
        </div>

        <div class="link">
          <%= link_to item.link_text, item.url, :target => '_blank' %>
        </div>
      </li>
    <% end %>
  </ul>
</td>
