<div class="poster">
  <% if vote.voteable.image_url? %>
    <%= image_tag(resized_image_url(vote.voteable.image_url, 40, 54, true), size: '40x54') %>
  <% else %>
    <%= image_tag 'public/stub_poster.png', size: '40x54' %>
  <% end %>
</div>
<div class="user_comment">
  <div class="kind">
    <%= t("user_activity.kind.#{vote.voteable_type.downcase}") %>
  </div>
  <div class="title">
    <%= link_to vote.voteable.contest.title, contest_work_path(vote.voteable.contest, vote.voteable) %>
  </div>
</div>
