<ul class="user_comments">
  <% comments.each do |comment| %>
    <li>
      <%= render partial: 'users/user_afisha_comment', locals: { comment: comment } if comment.commentable.is_a?(Afisha) %>
      <%= render partial: 'users/user_organization_comment', locals: { comment: comment } if comment.commentable.is_a?(Organization) %>
      <%= render partial: 'users/user_work_comment', locals: { comment: comment } if comment.commentable.is_a?(Work) %>
      <%= render partial: 'users/user_post_comment', locals: { comment: comment } if comment.commentable.is_a?(Post) %>
    </li>
  <% end %>
</ul>
