<ul class="user_votes">
  <% votes.each do |vote| %>
    <li>
      <%= render partial: 'users/user_afisha_vote', locals: { vote: vote } if vote.voteable.is_a?(Afisha) %>
      <%= render partial: 'users/user_organization_vote', locals: { vote: vote } if vote.voteable.is_a?(Organization) %>
      <%= render partial: 'users/user_post_vote', locals: { vote: vote } if vote.voteable.is_a?(Post) %>
      <%= render partial: 'users/user_work_vote', locals: { vote: vote } if vote.voteable.is_a?(Work) %>
    </li>
  <% end %>
</ul>
