<div class="poster">
  <% if visit.visitable.logotype_url? %>
    <%= image_tag(resized_image_url(visit.visitable.logotype_url, 40, 54, true), size: '40x54') %>
  <% else %>
    <%= image_tag 'public/stub_poster.png', size: '40x54' %>
  <% end %>
</div>
<div class="user_comment">
  <div class="kind">
    <%= t("user_activity.kind.#{visit.visitable_type.downcase}") %>
  </div>
  <div class="title">
    <%= link_to visit.visitable.title, visit.visitable %>
  </div>
</div>
