<li>
  <%= link_to gallery_file.description, gallery_file.file_url %>
  <%= link_to "редактировать", [:edit, :manage, gallery_file.attachable, gallery_file] %>
  <%= link_to "удалить", [:manage, gallery_file.attachable, gallery_file], :method => :delete, :confirm => 'Вы уверены?' %>
</li>
