<% @review.gallery_images.each do |image| %>
  <li>
    <div class='image_wrapper'>
      <%= image_tag resized_image_url(image.file.url, 222, 166), :size => '222x166', :alt => image.description  %>
    </div>
    <%= link_to 'удалить', my_review_gallery_image_path(review, image),
      :method => :delete,
      :remote => true,
      :class => 'ajax_delete icon-trash show_tipsy',
      :title => 'Удалить'  %>
  </li>
<% end %>
