<div class="my_wrapper">
  <div class="my_reviews_wrapper review_form my_reviews_edit reviews_edit">
    <h1>Редактировать <%= t("#{@review.class.model_name.human}") %></h1>

    <%= render 'form' %>
  </div>
</div>
