<div class="clearfix"></div>

<ul class="collection">
  <% @reviews.each do |item| %>
    <li>
      <span class="title"><%= link_to item.title, manage_review_path(item) %></span>
      <span class="status"><%= item.published? ? 'Опубликован' : 'Не опубликован' %></span>
    </li>
  <% end %>
</ul>

<%= paginate @reviews %>
