<div class="reviews_show">
  <%= render 'actions' %>

  <div class="left">
    <%= render :partial => 'manage/reviews/review', :locals => { :review => @review } %>

    <% if @review.tag %>
      <ul class="tags">
        <% @review.tags.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="right">
    <% if @review.linked? %>
      <h2>Этот обзор связан с:</h2>
      <%= render 'reviews/link_with' %>
    <% end %>
  </div>
</div>
