<div class="reviews_show">
  <%= render 'actions' %>

  <div class="left">
    <%= render :partial => 'manage/reviews/review', :locals => { :review => @review } %>

    <% if @review.tag %>
      <ul class="tags">
        <% @review.tags.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render @review.webanketas.actual %>
  </div>
</div>
