<ul class='breadcrumbs'>
  <li class='crumb'><%= link_to 'Знай Город', root_path %></li>
  <li class='separator'><span>&nbsp;</span></li>
  <li class='crumb'><%= link_to 'Все сертификаты и купоны', coupons_path %></li>
</ul>
