<% content_for :page_title, t('meta.coupons.title') %>
<% content_for :meta_keywords, t('meta.coupons.keywords') %>
<% content_for :meta_description, t('meta.coupons.description') %>

<%= render 'breadcrumbs', :index => true %>
<h1>Сертификаты, купоны, скидки</h1>
<ul class='coupons_list'>
  <%= render :partial => 'coupons_list', :locals => { :collection => @coupons } %>
</ul>

<%= paginate @coupons %>
