// -------------------------------------------------------------------
///* markItUp!
//   By Jay Salvat - http://markitup.jaysalvat.com/
//   ------------------------------------------------------------------*/

.markItUp
  .markItUpButton1 a
    background-image: image_url('markitup/h3.png')
  .markItUpButton2 a
    background-image: image_url('markitup/h4.png')
  .markItUpButton3 a
    background-image: image_url('markitup/bold.png')
  .markItUpButton4 a
    background-image: image_url('markitup/italic.png')
  .markItUpButton5 a
    background-image: image_url('markitup/list-bullet.png')
  .markItUpButton6 a
    background-image: image_url('markitup/list-numeric.png')
  .markItUpButton7 a
    background-image: image_url('markitup/link.png')
