<div class="suborganization_info culture">
  <table>
    <tr>
      <td class='border'>
        <%= culture.htmlise_title_on_show %>
      </td>
      <td>
        <%= culture.iconize_info %>
        <div class="details">
          <%= culture.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if culture.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render culture.gallery_images, :rel => "culture_gallery_#{culture.id}" %>
      </ul>
    </div>
  <% end %>
</div>
