<div class="suborganization_info entertainment">
  <table>
    <tr>
      <td class='border'>
        <%= entertainment.htmlise_title_on_show %>
      </td>
      <td>
        <%= entertainment.iconize_info %>
        <div class="details">
          <%= entertainment.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if entertainment.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% entertainment.images.each do |image| %>
          <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :entertainmen_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
