<div class="halls_wrapper">
  <%= f.simple_fields_for :halls do %>
    <div class='control-group'>
      <%= f.input :title %>
    </div>
    <div class='control-group'>
      <%= f.input :seating_capacity %>
    </div>
  <% end %>
</div>

<%= f.link_to_remove t('remove_this_hall') %>