<div class='row-fluid'>
  <%= f.simple_fields_for :halls do %>
    <div class='span4'>
      <%= f.input :title, :input_html => { :class => 'span12' }  %>
    </div>
    <div class='span4'>
      <%= f.input :seating_capacity, :input_html => { :class => 'span12' }  %>
    </div>
  <% end %>
</div>
<%= f.link_to_remove t('remove_this_hall') %>

