<tr>
    <td><i class='icon-th-list'></i>&nbsp;<%= link_to item.title, [:edit, :manage, item] %></td>
  <td>
  <% if item.site? %>
    <i class='icon-share'></i>&nbsp;<%= link_to item.site, item.site, :target => '_blank' %>
  <% end %>
  </td>
  <td><i class='icon-info-sign'></i>&nbsp;<%= item.category %></td>
  <td><i class='icon-home'></i>&nbsp;<%= item.address %></td>
</tr>

