<% review = afisha.decorated_review %>

<div class="item reviews-block full">
  <%= render :partial => 'reviews/poster', :locals => { :review => review, :height => '200', :width => '1154' } %>
</div>
