<% review = afisha.decorated_review %>

<div class="item reviews-block one-third">
  <%= render :partial => 'reviews/poster', :locals => { :review => review, :height => '200', :width => '354' } %>
</div>
