<div class='item webcam'>
  <div class='webcam_place'><%= link_to("Веб-камера<br />#{afisha.webcam.address}".html_safe, webcam_path(afisha.webcam)) %></div>
  <div class='image'>
    <%= link_to webcam_path(afisha.webcam) do %>
      <%= image_tag resized_image_url(afisha.webcam.snapshot_href, 178, 240), :size => '178x240', :alt => afisha.webcam.title %>
      <span class='bg'></span>
      <span class='play'></span>
    <% end %>
  </div>
</div>
