<div class='item webcam'>
  <div class='webcam_place'><%= link_to("Веб-камера<br />#{afisha.webcam.address}".html_safe, webcam_path(afisha.webcam)) %></div>
  <div class='image'>
    <%= link_to webcam_path(afisha.webcam) do %>
      <% if afisha.webcam.snapshot_href.match /stream/ %>
        <%= image_tag afisha.webcam.snapshot_href, :size => '487x274', :alt => afisha.webcam.title, :class => :wide_image %>
      <% else %>
        <%= image_tag resized_image_url(afisha.webcam.snapshot_href, 180, 274), :size => '180x274', :alt => afisha.webcam.title %>
      <% end %>
      <span class='bg'></span>
      <span class='play'></span>
    <% end %>
  </div>
</div>
