<div class='adv'>
  <%= link_to image_tag('public/adv/space_of_consciousness.gif', :size => '1170x109', :alt => 'Пространство сознания'),
    '/other/tretiy-tomskiy-letniy-vyezd-sily', class: 'space_of_consciousness' %>
</div>
