<div class='adv'>
  <%= link_to image_tag('public/adv/skoda.jpg', :size => '760x100', :alt => 'Все выходные марта дни открытых дверей Автосалона ŠKODA! Максимальная выгода для Вас только в эти дни!'),
    'http://euroauto.tom.ru/offer-3333.html',
    target: '_blank',
    class: Rails.env.production? ? 'skoda' : 'skoda development' %>
</div>
