<div class='adv'>
  <%= link_to image_tag('public/adv/dobrynin.jpg', :size => '760x100', :alt => 'Александр Добрынин: «Розовые розы»'), '/concert/aleksandr-dobrynin-rozovye-rozy',
        class: Rails.env.production? ? 'dobrynin' : 'dobrynin development' %>
</div>
