<div class='adv'>
  <%= link_to image_tag('public/adv/peugeot.jpg', :size => '1170x100', :alt => '13 и 14 апреля - день PEUGEOT'),
    'http://dealer.peugeot.ru/evroavtofrans',
    target: '_blank',
    class: Rails.env.production? ? 'peugeot' : 'peugeot development' %>
</div>
