<div class='adv'>
  <embed
    type="application/x-shockwave-flash"
    src="/assets/public/adv/gorlovoe_penie.swf"
    width="1170" height="100"
    quality="high" wmode="opaque" allowscriptaccess="always" />
</div>
