<li class="item">
  <div class="row-fluid">
    <h3 class='span12'><%= link_to affiche.title, affiche_path(affiche), :class => 'solid_light_blue' %><span class='category'>Кино</span><span class='duration'>Сеансы <%= affiche_showings(affiche) %></span></h3>
  </div>
  <div class="row-fluid">
    <div class="poster span2">
      <%= image_tag resized_image_url(affiche.poster_url, 137, 185) %>
    </div>
    <div class="span10">
      <table class="table sortable table-striped table-condensed">
        <thead>
          <tr>
            <th class='time'><a href='#' class='dashed_light_blue'>Время</a></th>
            <th class='cinema'><a href='#' class='dashed_light_blue'>Кинотеатр</a></th>
            <th class='hall'><a href='#' class='dashed_light_blue'>Зал</a></th>
            <th class='amount'><a href='#' class='dashed_light_blue'>Стоимость</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10:30</td>
            <td>Киномир</td>
            <td>Оранжевый зал</td>
            <td>140 руб.</td>
          </tr>
          <tr>
            <td>11:50</td>
            <td>Киномакс</td>
            <td>Синий зал</td>
            <td>250 руб.</td>
          </tr>
          <tr>
            <td>11:55</td>
            <td>Киномир</td>
            <td>Синий зал</td>
            <td>250 руб.</td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Киномир</td>
            <td>Оранжевый зал</td>
            <td>140 руб.</td>
          </tr>
          <tr>
            <td>11:50</td>
            <td>Киномакс</td>
            <td>Синий зал</td>
            <td>250 руб.</td>
          </tr>
          <tr>
            <td>11:55</td>
            <td>Киномир</td>
            <td>Синий зал</td>
            <td>250 руб.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</li>

