<div class="item">
  <h3><%= link_to affiche.title, affiche_path(affiche), :class => 'solid_light_blue' %><span class='category'>Кино</span></h3>
  <div class="poster">
    <%= poster_image_tag_for(affiche, 137, 185) %>
  </div>
  <div class="seance">
    <%= render :partial => 'seance', :locals => { :affiche => affiche } %>
  </div>
</div>

