<% @affiche_collection.affiches.each do |affiche| %>
  <li class="<%= cycle('first', 'second', 'third', 'fourth') %>">
    <%= render partial: 'affiche_poster', locals: { affiche: affiche } %>
  </li>
<% end %>
