<div class="item">
  <div class="title"><%= affiche.main_page_link %></div>
  <div class="image"><%= affiche.posters_list_poster %></div>
  <div class="place"><%= affiche.main_page_place %></div>
  <div class="closest"><%= affiche.when_with_price %></div>
</div>
