<%= simple_form_for [:my, @afisha, @afisha.bets.build], html: { remote: true } do |f| %>
  <div class="line">
    <span>Куплю</span>
    <%= f.input :number, :label => false, :as => :select, :collection => (1..10), :include_blank => false %>
    <span>билетов</span>
  </div>

  <div class="line">
    <span>за</span>
    <%= f.input :amount, :label => false, :as => :string, :input_html => { :value => f.object.price_min } %>
    <span>рублей</span>
  </div>

  <div class="submit">
    <%= f.submit 'Предложить' %>
  </div>
<% end %>
