<li>
  <div class='image_wrapper'>
    <%= image_tag resized_image_url(gallery_image.file.url, 130, 100), :size => '130x100', :alt => gallery_image.description  %>
  </div>
  <%= link_to "Удалить", [:my, gallery_image.attachable, gallery_image], :method => :delete, :remote => true, :class => 'ajax_delete' %>
</li>
