<% content_for :account_content do %>
  <div class='gallery_help_wrapper'>
    <h1>Установить как аватарку
  </div>
  <div class='clearfix'>
    <div class='gallery_form_wrapper'>
      <%= render partial: "avatar_form" %>
    </div>
  </div>
<% end %>

<%= render :template => 'my/accounts/wrapper' %>

