<div class='filters_wrapper'>
  <div class='filters cooperation'>
    <div class='by_kind'>
      <ul>
        <% %w[services benefit statistics our_customers].each do |item| %>
          <li class='<%= item %><%= ' selected' if params[:action] == item %>'>
            <%= link_to content_tag(:span, t("cooperation.#{item}.link"), class: :name), item %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
