<% content_for :page_title, t('cooperation.benefit.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.benefit.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.benefit.description', :default => '') %>

<div class='cooperation'>

  <h1>Преимущества ЗнайГород</h1>

  <div class='benefit_left'>
    <table>
      <tr>
        <th></th>
        <th>Интернет</th>
        <th>ТВ</th>
        <th>Радио</th>
        <th>Газеты</th>
        <th>Журналы</th>
      </tr>
      <tr>
        <td>Национальный охват</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Удобство просмотра рекламы</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Персонализация рекламного сообщения</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Интерактивность</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Таргетируемость</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Возможность корректировки во время кампании</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Возможность непрерывного контроля за рекламной кампанией</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Независимый аудит рекламы</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Уровень стоимости за 1000 контактов (CPT)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class='benefit_right'>
  </div>

</div
