<% content_for :page_title, t('cooperation.benefit.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.benefit.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.benefit.description', :default => '') %>

<div class='cooperation'>

  <h1>Преимущества ЗнайГород</h1>

  <div class='benefit_left'>
    <table>
      <tr>
        <th></th>
        <th>Интернет</th>
        <th>ТВ</th>
        <th>Радио</th>
        <th>Газеты</th>
        <th>Журналы</th>
      </tr>
      <tr>
        <td>Национальный охват</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='neutral'>Может быть</span></td>
        <td><span class='neutral'>Может быть</span></td>
      </tr>
      <tr>
        <td>Удобство просмотра рекламы</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
      </tr>
      <tr>
        <td>Персонализация рекламного сообщения</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='neutral'>Может быть</span></td>
      </tr>
      <tr>
        <td>Интерактивность</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='neutral'>Может быть</span></td>
        <td><span class='neutral'>Может быть</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
      </tr>
      <tr>
        <td>Таргетируемость</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='neutral'>Может быть</span></td>
      </tr>
      <tr>
        <td>Возможность корректировки во время кампании</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
      </tr>
      <tr>
        <td>Возможность непрерывного контроля за рекламной кампанией</td>
        <td><span class='positive'>Да</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='negative'>Нет</span></td>
      </tr>
      <tr>
        <td>Независимый аудит рекламы</td>
        <td><span class='negative'>Нет</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
        <td><span class='positive'>Да</span></td>
      </tr>
      <tr>
        <td>Уровень стоимости за 1000 контактов (CPT)</td>
        <td><span class='low'>Низкий</span></td>
        <td><span class='high'>Высокий</span></td>
        <td><span class='middle'>Средний</span></td>
        <td><span class='middle'>Средний</span></td>
        <td><span class='high'>Высокий</span></td>
      </tr>
    </table>
  </div>

  <div class='benefit_right'>

    <p>Интернет-реклама — одна из самых динамично развивающихся отраслей рекламы. В силу своей высокотехнологичности реклама в Интернете обладает целым рядом преимуществ, которые ставят ее на голову выше других направлений рекламной отрасли.</p>

    <h3>Постоянный рост числа пользователей</h3>
    <p>Аудитория Интернета постоянно растет количественно и качественно.</p>

    <h3>Прогнозируемый результат</h3>
    <p>Реклама в Интернете — чуть ли не единственный вид рекламы, где результат кампании может быть спрогнозирован еще до ее начала.</p>

    <h3>Оптимизация кампании в реальном времени</h3>
    <p>Рекламную кампанию в Интернете можно быстро и безболезненно скорректировать, чтобы увеличить ее эффективность.</p>

    <h3>Возможность таргетинга</h3>
    <p>Уникальная возможность фокусировать рекламу в интернете на определенной целевой аудитории увеличивает ее эффективность и окупаемость.</p>

    <h3>Отсутствие географических границ</h3>
    <p>У рекламы в интернете нет территориальной привязанности к определенному региону.</p>

    <h3>Круглосуточное воздействие</h3>
    <p>Размещение информации на бесперебойно работающем веб-сервере делает ее доступной для потенциального клиента 24 часа в сутки 7 дней в неделю.</p>

    <h3>Интерактивность</h3>
    <p>Различные современные интернет-технологии предоставляют уникальную возможность взаимодействия рекламодателя с потенциальным клиентом.</p>

    <h3>Подробное представление информации</h3>
    <p>Современный уровень развития Интернета дает возможность создать презентацию любого продукта или услуги на уровне, недостижимом ни для какого другого СМИ.</p>

  </div>

</div
