<a href="http://xn--80aa0aejlsega2h.xn--p1ai/" target=_blank><img src="http://xn--80aa0aejlsega2h.xn--p1ai/images/banners/catalog.jpg" border="0" title="Сайты Томска. Каталог" width=88 height=31></a>

<!-- Sibr.ru link -->
<a href="http://www.sibr.ru" title="Первая справочная служба Сибирского региона"><img src="http://sibr.ru/img/logo_sibr-81-33.gif"></a>
<!-- End Sibr.ru link -->

<img src="http://www.rosmarket.ru/shoow/" width="1" height="1" border="0"><a href="http://www.ongorenje.ru/">www.ongorenje.ru</a>

<a href="http://www.wolist.ru/cat/c/5659/" target="_blank"><img border="0" src="http://www.wolist.ru/img/wolist.gif" width="88" height="31" alt="WOlist.ru - каталог сайтов Рунета"></a>

<a title="ГородМ" href="http://www.gorodm.by"><img src="http://www.gorodm.by/pic/gorogm.gif" width="88" height="31" border=0 /></a>

<a href="http://www.faststart.ru/" target="_top"><img src="http://www.faststart.ru/img/button.gif" border="0" width="88" height="31" alt="Faststart - рейтинг сайтов, каталог интернет ресурсов, счетчик посещаемости" title="Faststart - рейтинг сайтов, каталог интернет ресурсов, счетчик посещаемости"></a>

<a href="http://ws.md/in/2474/" target=_blank><img src="http://b88x31c.ws.md/c.png?i=2474&p=1" alt="Каталог-Молдова - Ranker, Statistics" border=0 width=88 height=31></a>

<div style="background: #ffffff url('http://np.by/kodk.gif') no-repeat top right; width:88px; height:31px; text-align:center; overflow:hidden; font-variant:small-caps; letter-spacing:1px; font-weight:bold; line-height:100%; font-size:9px; font-family:Arial,San Serif; padding-top:1px;">
    <a style="text-decoration:none;color:white;" href="http://www.polimer.net/">новости</a><br/><a style="text-decoration:none;color:white;" href="http://www.telefun.ru/">интернет</a><br/><a style="text-decoration:none;color:white;" href="http://www.topakter.ru/">портал</a><br/></div>
