<% content_for :subtitle, "Размещение информации" %>

<% content_for :extra_meta do %>
  <meta name='description' content='<%= I18n.t("meta_description.cooperation") %> <%= I18n.t("meta_description.main_page") %>' />
<% end %>

<div class="content_wrapper">

  <div class="info">
    <h1><span class="strong">Размещение</span> информации</h1>

    <p>Мы предлагаем Вам сотрудничество с командой информационного ресурса Znaigorod.ru.</p>

    <p>Наш проект &mdash; это информационный портал, содержащий полную информацию обо всех мероприятиях и культурно-развлекательных заведениях Томска.</p>

    <p>5 плюсов в нашу пользу, которые говорят сами за себя:</p>
    <ol>
      <li>Всегда актуальная афиша всех предстоящих мероприятий города, с гибкими возможностями выбора.</li>
      <li>Уникальная система подбора заведений по множеству характеристик позволяет выделить уникальные особенности каждого заведения.</li>
      <li>Представление исчерпывающей информации о заведении с детальным описанием, режимом работы и месторасположением, фотографиями интерьера, 3D-туром (от профессиональной команды 3tour.me), актуальной афиши мероприятий.</li>
      <li>Постоянное продвижение ресурса в поисковых системах и реклама на наиболее популярных ресурсах Тонета.</li>
      <li>Динамично развивающаяся группа <a href="http://vk.com/znaigorod">Знай Город ВКонтакте</a>.</li>
    </ol>

    <h2>Проект «Новогодняя ночь»</h2>

    <p>В отдельном разделе мы представим всю информация о том, где и как можно встретить Новый 2013 год. В многообразии предложений, цен и форматов  празднования наш проект станет незаменимым помощником томичей в их предновогодних хлопотах. Для организаторов это уникальная возможность рассказать томичам о своей новогодней программе.</p>

    <p>Все необходимые сведения о мероприятии (место, время, стоимость, специальные предложения) вы можете анонсировать совершенно бесплатно. А за незначительную плату (300 рублей) мы разместим у себя исчерпывающую информацию о Вашем заведении с множеством фотографий, актуальной афишей, 3d-туром. Подробнее ознакомиться с расценками Вы сможете в перечне услуг. Вы можете ознакомиться с перечнем услуг информационного портала ЗнайГород.</p>

    <p>Для осуществления взаимовыгодного партнёрства Вы можете связаться с нашим менеджером по телефону ......... или по электронной почте..........</p>

    <h3>Вы можете прислать нам информацию, воспользовавшись анкетами:</h3>
    <ul>
      <li><a href="/anketa_zavedenia.doc">Анкета заведения</a></li>
      <li><a href="/anketa_meropriatiya.doc">Анкета мероприятия</a></li>
      <li><a href="/novogodnyaya_noch.doc">Анкета «Новогодняя ночь»</a></li>
    </ul>
  </div>
</div>
