<% content_for :page_title, t('cooperation.our_customers.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.our_customers.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.our_customers.description', :default => '') %>

<div class='cooperation'>

  <h1>Клиенты ЗнайГорода</h1>

  <div class='organizations_list'>
    <% if @presenter.collection.any? %>
      <ul class='posters'>
        <%= render :partial => 'organizations/organizations_posters' %>
      </ul>
    <% else %>
      <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>

</div>

<%= paginate @presenter.paginated_collection %>
