<% content_for :page_title, t('cooperation.statistics.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.statistics.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.statistics.description', :default => '') %>

<div class='cooperation'>

  <h1>Статистика ЗнайГорода</h1>

  <ul class='statistics'>
    <li>
      <a target='_blank' href='https://metrika.yandex.ru/stat/dashboard/?counter_id=14923525&per_page=300&filter=month&select_period=month&group=day&offset=1'><%= image_tag 'public/cooperation/statistics-1.png', :size => '378x265', :alt => 'Общая статистика по сайту' %></a>
      <a target='_blank' href='https://metrika.yandex.ru/stat/dashboard/?counter_id=14923525&per_page=300&filter=month&select_period=month&group=day&offset=1'>Общая статистика по сайту</a>
    </li>
    <li>
      <a target='_blank' href='https://metrika.yandex.ru/stat/demography/?counter_id=14923525&per_page=300&filter=month&select_period=month&group=day&offset=1'><%= image_tag 'public/cooperation/statistics-2.png', :size => '378x265', :alt => 'Статистика посетителей по полу и возрасту' %></a>
      <a target='_blank' href='https://metrika.yandex.ru/stat/demography/?counter_id=14923525&per_page=300&filter=month&select_period=month&group=day&offset=1'>Статистика посетителей по полу и возрасту</a>
    </li>
    <li>
      <a target='_blank' href='https://metrika.yandex.ru/stat/geo/countries/?counter_id=14923525&per_page=300&filter=month&select_period=month&group=day&selected_country=russia&offset=1'><%= image_tag 'public/cooperation/statistics-3.png', :size => '378x265', :alt => 'Статистика посетителей по странам мира' %></a>
      <a target='_blank' href='https://metrika.yandex.ru/stat/geo/countries/?counter_id=14923525&per_page=300&filter=month&select_period=month&group=day&selected_country=russia&offset=1'>Статистика посетителей по странам мира</a>
    </li>
  </ul>

</div>
