<% content_for :page_title, t('cooperation.statistics.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.statistics.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.statistics.description', :default => '') %>

<div class='cooperation'>

  <h1>Статистика ЗнайГорода</h1>

</div>
