<% content_for :page_title, t('cooperation.ticket_sales.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.ticket_sales.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.ticket_sales.description', :default => '') %>

<div class="cooperation ticket_sales">
  <div class="service_left">
    <div class="phones">
      <div class="icon"></div>
      <div class="body">
        <strong>+7-952-802-5352</strong>
        <br />
        <strong>+7-952-800-5544</strong>
      </div>
    </div>

    <div class="emails">
      <div class="icon"></div>
      <div class="body">
        <%= mail_to 'office@znaigorod.ru' %>
      </div>
    </div>

    <div class="scheme">
      <span class="first">Пользователь выбирает количество и указывает номер сотового телефона. Оплачивает наиболее удобным для него способом, мы присылаем SMS с кодами.</span>
      <span class="second">По факту продажи вам приходит уведомление на электронную почту с указанием кодов.</span>
      <span class="third">Эти коды и есть входные билеты, пользователь просто показывает SMS или говорит код на входе.</span>
    </div>

    <div class="information">
      <ul>
        <li>Лимитами всегда можно управлять.</li>
        <li>В скором времени планируем автоматизировать процесс, чтобы сами организаторы могли управлять продажами билетов на свои мероприятия.</li>
        <li>С каждым организатором заключается агентский договор. Расчеты осуществляются банковским переводом по реквизитам организатора. Переодичность взаиморасчетов оговаривается индивидуально.</li>
      </ul>
    </div>
  </div>

  <div class="service_right">
    <h1>Хотите продавать больше билетов?</h1>
    <strong>Четыре проверенные схемы по  реализации билетов:</strong>

    <div class="header">
      <div class="clear">
        <span class="panel"></span>
      </div>
      <h3>Обыкновенная продажа билетов</h3>
    </div>

    <div class="description">
      <strong>Билеты продаются по вашей цене за минусом комиссии 10%.</strong>
      <ul class="dashed">
        <li>Согласовывается лимит на количество билетов (возможно с указанием мест) и время окончания продаж.</li>
        <li>По факту продажи вам приходит уведомление на электронную почту с указанием кодов (код — это и есть билет, пользователь просто показывает СМС или говорит код на входе).</li>
      </ul>

      <ul class="resume">
        <li class="plus"><strong>Плюсы:</strong> минимальные организационные и временные затраты</li>
        <li class="minus"><strong>Минусы:</strong> нет</li>
      </ul>
    </div>

    <div class="header">
      <div class="clear">
        <span class="panel"></span>
      </div>
      <h3>Распродажа билетов</h3>
    </div>

    <div class="description">
      <strong>Билеты продаются со скидкой от заявленной стоимости участия (может рассматриваться как рекламная акция). Комиссия 10%.</strong>

      <ul class="resume">
        <li class="plus"><strong>Плюсы:</strong> повышенное внимание публики, рост продаж в сжатые сроки</li>
        <li class="minus"><strong>Минусы:</strong> уменьшение маржи</li>
      </ul>
    </div>

    <div class="header">
      <div class="clear">
        <span class="panel"></span>
      </div>
      <h3>Купонная схема</h3>
    </div>

    <div class="description">
      <strong>Пользователь приобретает купон на портале «ЗнайГород», который дает право льготной покупки билета со скидкой  в кассе организатора.</strong>

      <ul class="dashed">
        <li>Согласовывается лимит на количество билетов (возможно с указанием мест) и время окончания продаж. Размер скидки  устанавливает организатор. Цену купона определяет администрация портала «ЗнайГород», минимум 50 рублей.</li>
        <li>По факту продажи вам приходит уведомление на электронную почту с указанием кодов (код — это и есть купон, который дает пользователю право льготной покупки билета).</li>
      </ul>

      <ul class="resume">
        <li class="plus"><strong>Плюсы:</strong> широкий охват целевой аудитории, повышенное внимание публики, рост продаж</li>
        <li class="minus"><strong>Минусы:</strong> снижение маржи</li>
      </ul>
    </div>

    <div class="header">
      <div class="clear">
        <span class="panel"></span>
      </div>
      <h3>Организация обратного аукциона</h3>
    </div>

    <div class="description">
      <strong>Пользователь сам может предложить «желаемую» стоимость посещения/участия в мероприятии.</strong>

      <ul class="dashed">
        <li>Пользователь называет «свою цену», если предложенные условия устраивают организатора, то на ЗнайГород происходит оплата комиссии 10% от предложенной цены.</li>
        <li>По факту продажи оплаты, вам приходит уведомление на электронную почту с указанием кода и предложения пользователя (код — это идентификатор договоренности, на входе пользователь оплачивает оставшуюся часть «своей цены»).</li>
      </ul>

      <ul class="resume">
        <li class="plus"><strong>Плюсы:</strong> широкий охват новой аудитории, повышенное внимание публики, рост продаж</li>
        <li class="minus"><strong>Минусы:</strong> снижение маржи</li>
      </ul>
    </div>
  </div>
</div>
