<% content_for :page_title, t('meta.tickets.title') %>
<% content_for :meta_description, t('meta.tickets.description') %>
<% content_for :meta_keywords, t('meta.tickets.keywords') %>

<%= render 'breadcrumbs', :index => true %>

<h1>Распродажа билетов</h1>
<ul class='tickets_list'>
  <%= render :partial => 'tickets_list' %>
</ul>

<%= paginate @tickets %>
