<% content_for :page_title, t("meta.#{Settings['app.city']}.tickets.title") %>
<% content_for :meta_keywords, t("meta.#{Settings['app.city']}.tickets.keywords") %>
<% content_for :meta_description, t("meta.#{Settings['app.city']}.tickets.description") %>

<%= render 'breadcrumbs', :index => true %>

<h1>Распродажа билетов</h1>
<ul class='tickets_list'>
  <%= render :partial => 'tickets_list' %>
</ul>

<%= paginate @tickets %>
