<li>
  <%= link_to t("enumerize.invitation.kind.#{kind}"),
    polymorphic_path([:new, :invitation], 'invitation[kind]' => kind, 'invitation[invited_id]' => invited_id),
    :class => "invitation_link",
    'data-title' => t("enumerize.invitation.kind.#{kind}"),
    :remote => true %>
</li>
