<li <%= 'class="selected"'.html_safe if inviteable.has_invitation_for?(current_user, kind) %>>
  <% if inviteable.has_invitation_for?(current_user, kind) %>
    <%= link_to t("enumerize.invitation.kind.#{kind}"), [inviteable, inviteable.invitation_for(current_user, kind)], :method => :delete, :remote => true, :class => 'acts_as_inviter' %>
  <% else %>
    <%= link_to t("enumerize.invitation.kind.#{kind}"), polymorphic_path([:new, inviteable, :invitation], 'invitation[kind]' => kind), :remote => true, :class => 'acts_as_inviter' %>
  <% end %>
</li>
