<% content_for :account_content do %>
  <div class='line'>
    <h3>
      Друзья
    </h3>
  </div>
  <div class="accounts_list">
    <ul class="posters">
      <%= render partial: 'account_friends', locals: { collection: @friends } %>
    </ul>
  </div>

  <%= paginate collection %>
<% end %>

<%= render file: "my/accounts/wrapper" %>
