<div class="advertisement">
  <%= link_to image_tag('public/lazertag/contest.png', :size => '1180x100', :alt => 'Фотоконкурс &laquo;Папа, мама, я &ndash; активная семья!&raquo;'.html_safe), '/contests/fotokonkurs-papa-mama-ya-aktivnaya-semya' %>
</div>
