<% if current_user.present? and current_user.account.email.blank? %>
  <div id="email_request_form">
    <%= simple_form_for current_user.account, as: :account, url: my_account_path do |f| %>
      <div class="properties_place">
        <div class="line">
          <p>E-mail:</p>
          <%= f.input :email, label: false, as: :string %>
        </div>
      </div>
      <div class="button_place">
        <%= f.submit 'Сохранить', class: :properties_submit %>
      </div>
    <% end %>
  </div>
<% end %>
