<% if collection.any? %>
  <% collection.each do |item| %>
    <% if %w(entertainment meal organization).include?(item.class.model_name.underscore) %>
      <%= render :partial => "organizations/item", :locals => {:item => ['Meal', 'Entertainment'].include?(item.class.model_name) ? item.organization : item } %>
    <% else %>
      <%= render :partial => "affiches/item", :locals => {:item => item} %>
    <% end %>
  <% end %>
<% else %>
  <div class="empty">Ничего не найдено ;(</div>
<% end %>

<% if controller_name == 'affiches' %>
  <% collection = Kaminari.paginate_array(collection, :total_count => @affiches_hash.keys.size).page(page).per(per_page) %>
<% end %>

<%= paginate collection, :remote => remote if action_name == 'index' %>
