<% if collection.any? %>
  <% collection.each do |item| %>
    <%= render :partial => 'item', :locals => {:item => item} %>
  <% end %>
<% else %>
  <div class="empty">Ничего не найдено ;(</div>
<% end %>

<%= paginate collection, :remote => remote %>
