<script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
<div class="row-fluid control-group" style='padding: 0 160px 20px; width: 770px;'>
  <div id="map" style="width:770px;height:400px;" class='span10'></div>
</div>
