<div class='order_by'>
  <p>По:</p>
  <ul>
    <% @presenter.sortings_links.each do |sortings_link| %>
      <li<%= " class=selected" if sortings_link[:selected] %>>
        <%= link_to sortings_link[:title],
          params.merge(sortings_link[:parameters]),
          :class => sortings_link[:parameters][:order_by] %>
      </li>
    <% end %>
  </ul>
</div>
