<script type="text/javascript">
  var reformalOptions = {
    project_id: 63616,
    project_host: "feedback.znaigorod.ru",
    force_new_window: true,
    tab_orientation: "bottom-right",
    tab_indent: "10px",
    tab_bg_color: "#0099db",
    tab_border_color: "#ffffff",
    tab_image_url: "http://tab.reformal.ru/Pw==/ffffff/70670a5bc8b89adc68ccae83eb799395/bottom-right/0/tab.png",
    tab_border_width: 1
  };

  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript'; script.async = true;
    script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
    document.getElementsByTagName('head')[0].appendChild(script);
  })();
</script>

<noscript>
  <a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://feedback.znaigorod.ru">?</a>
</noscript>
