<div class='promo_wrapper'>
  <div class='promo'>
    <%= link_to 'Неприлично дешевые билеты на все развлечения Томска! Купи в 2 клика! Только на сайте znaigorod.ru', afisha_index_path(has_tickets: true) %>
  </div>
</div>
