<div class='content_wrapper'>
  <div class='content <%= auto_content_class %>'>
    <center>
      <%= link_to image_tag('bbb/vacancies.jpg', :size => '1180x100'), '/reviews/znaygorod-ischet-aktivnyh-i-kreativnyh-sotrudnikov' %>
    </center>
    <%= yield %>
  </div>
</div>
