<div class='footer_wrapper'>
  <div class='footer'>
    <div class='contacts'>
      <h5>Как с нами связаться</h5>
      <ul>
        <li>Реклама на сайте <%= t('services.phone') %>, <%= mail_to 'office@znaigorod.ru' %></li>
      </ul>
    </div>
    <div class='our_social_link'>
    </div>
    <div class='counters'>
      <% if Rails.env.production? %>

        <!-- Yandex.Metrika informer -->
        <img src="//bs.yandex.ru/informer/14923525/3_0_0099DBFF_0099DBFF_1_pageviews"
          style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:14923525,lang:'ru'});return false}catch(e){}"/>
        <!-- /Yandex.Metrika informer -->

        <!--LiveInternet counter-->
        <script type="text/javascript">
          <!--
          document.write("<img src='//counter.yadro.ru/hit?t15.6;r"+
              escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                  screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
              ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
              "' alt='' title='LiveInternet: показано число просмотров за 24"+
              " часа, посетителей за 24 часа и за сегодня' "+
              "border='0' width='88' height='31'>")
              //-->
        </script>
        <!--/LiveInternet-->

        <!-- Rating@Mail.ru counter -->
        <script type="text/javascript">//<![CDATA[
          var _tmr = _tmr || [];
          _tmr.push({id: "2440744", type: "pageView", start: (new Date()).getTime()});
          (function (d, w) {
            var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
            ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
            var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
          })(document, window);
          //]]>
        </script>
        <noscript>
          <div style="position:absolute;left:-10000px;">
            <img src="//top-fwz1.mail.ru/counter?id=2440744;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
          </div>
        </noscript>
        <!-- //Rating@Mail.ru counter -->

        <!-- Rating@Mail.ru logo -->
        <img src="//top-fwz1.mail.ru/counter?id=2440744;t=502;l=1" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" />
        <!-- //Rating@Mail.ru logo -->

        <!-- TBE informer -->
        <span class='inline_block' id='tbec'><script type='text/javascript'>setTimeout('var tbex=document.createElement("SCRIPT");tbex.type="text/javascript";tbex.src="http://c.tbex.ru/z/a!8831!znaigorod.ru!c.js?rev=2"+String.fromCharCode(38)+"rnd="+(new Date().getTime());(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(tbex)',1)</script></span><noscript><img src='http://c.tbex.ru/z/a!8831!znaigorod.ru!c.gif' alt='TBE' /></noscript>
        <!-- /TBE informer -->

        <!-- begin of Top100 code -->
        <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2976341"></script>
        <noscript>
          <img src="http://counter.rambler.ru/top100.cnt?2976341" alt="Rambler's Top100" border="0" />
        </noscript>
        <!-- end of Top100 code -->


      <% end %>
    </div>
  </div>
</div>
