<script type="text/javascript">
  var reformalOptions = {
    project_id: 63616,
    project_host: "znaigorod.reformal.ru",
    tab_orientation: "right",
    tab_indent: "50%",
    tab_bg_color: "#506274",
    tab_border_color: "#f5f5f5",
    tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/f5f5f5/fe2ab5c220f8f295ef7ab68bcb6353b5/right/0/tab.png",
    tab_border_width: 1
  };

  (function() {
     var script = document.createElement('script');
     script.type = 'text/javascript'; script.async = true;
     script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
       document.getElementsByTagName('head')[0].appendChild(script);
   })();
 </script>
 <noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://znaigorod.reformal.ru">Oтзывы и предложения для ЗнайГород</a></noscript>
