<div class='share'>
  <div class='title'>Поделиться:</div>
  <script type='text/javascript' src='//yandex.st/share/share.js' charset='utf-8'></script>
  <div class='yashare-auto-init' data-yashareL10n='ru' data-yashareType='none' data-yashareQuickServices='yaru,vkontakte,facebook,twitter,odnoklassniki,lj,gplus'></div>
</div>

<div class='likes'>

  <% if Rails.env.production? %>

    <!-- OK -->
    <div id='ok_shareWidget' class='ok_like'></div>
    <script type='text/javascript'>
      !function (d, id, did, st) {
        var js = d.createElement("script");
        js.src = "http://connect.ok.ru/connect.js";
        js.onload = js.onreadystatechange = function () {
          if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
            if (!this.executed) {
              this.executed = true;
              setTimeout(function () {
                OK.CONNECT.insertShareWidget(id,did,st);
              }, 0);
            }
          }};
        d.documentElement.appendChild(js);
      }(document,"ok_shareWidget","<%= url %>","{width:100,height:30,st:'straight',sz:20,nt:1}");
    </script>
    <!-- / OK -->

    <!-- VK -->
    <div id='vk_like' class='vk_like'></div>
    <!-- / VK -->

    <!-- FB -->
    <div id='fb-root'></div>
    <div class='fb-like fb_like' data-href='<%= url %>' data-width='100' data-layout='button_count' data-show-faces='false' data-send='false'></div>
    <script type='text/javascript'>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=<%= Settings['facebook.app_id'] %>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- / FB -->

  <% end %>

</div>
