<ul>
  <li>
    <%= link_to t('affiche.sort.popularity'),
      send("#{@presenter.pluralized_kind}_path", @presenter.query.merge('order_by' => 'popularity')),
      @presenter.sort_by_popularity? ? { class: 'selected' } : {} %>
  </li>
  <li><span class="separator">&nbsp;</span></li>
  <li>
    <%= link_to t('affiche.sort.title'),
      send("#{@presenter.pluralized_kind}_path", @presenter.query.merge('order_by' => 'title')),
      @presenter.sort_by_title? ? { class: 'selected' } : {} %>
  </li>
  <li><span class="separator">&nbsp;</span></li>
  <li>
    <% if @presenter.geo_filter.used? %>
      <%= link_to t('affiche.sort.nearness'),
        send("#{@presenter.pluralized_kind}_path", @presenter.query.merge('order_by' => 'nearness')),
        @presenter.sort_by_nearness? ? { class: 'selected' } : {} %>
    <% else %>
      <%= link_to t('affiche.sort.nearness'),
        send("#{@presenter.pluralized_kind}_path", @presenter.query.merge('order_by' => 'nearness')),
        class: 'disabled' %>
    <% end %>
  </li>
</ul>

