<ul>
  <li>
    <%= link_to t('affiche.sort.popularity'),
      sports_path(@presenter.query.merge('order_by' => 'popularity')),
      { data: 'popularity' }.merge(@presenter.sort_by_popularity? ? { class: 'selected' } : {}) %>
  </li>
  <li>
    <% if @presenter.geo_filter.used? %>
      <%= link_to t('affiche.sort.nearness'),
        sports_path(@presenter.query.merge('order_by' => 'nearness')),
        { data: 'nearness' }.merge(@presenter.sort_by_nearness? ? { class: 'selected' } : {}) %>
    <% else %>
      <%= link_to t('affiche.sort.nearness'),
        sports_path(@presenter.query.merge('order_by' => 'nearness')),
        { data: 'nearness', class: 'disabled' } %>
    <% end %>
  </li>
</ul>

