<h3>Где</h3>
<p>В поле "место" необходимо указать название организации или места проведения мероприятия.</p>
<p>По возможности укажите организацию из выпадающего списка. В этом случае в правой части страницы на карте автоматически будет указано местоположение.</p>
<p>Если организации нет в выпадающем списке, то укажите название и адрес. Так же в этом случае укажите местоположение на карте вручную.</p>
<p>Если место проведения представляет из себя что-то абстрактное, например "Нижняя терасса Лагерного сада" или "площадь Ново-соборная", то в поле "место" напишите именно так и укажите местоположение на карте.</p>

<h3>Когда</h3>
<p>Необходимо указать дату и время проведения мероприятия, дата и время окончания указывать не обязательно.</p>

<h3>Сколько</h3>
<p>Варианты указания стоимости и формат отображения в публичном виде следующие:</p>
<ul>
  <li>цены не указаны - "стоимость не указана"</li>
  <li>обе цены указаны как 0 - "бесплатно"</li>
  <li>указана только минимальная цена - "от 100 руб."</li>
  <li>минимальная и максимальная цена одинаковы - "100 руб." (фиксированная цена)</li>
  <li>минимальная и максимальная цена различаются - "от 100 до 200 руб."</li>
  <li>указана только максимальная цена - "до 500 руб."</li>
</ul>
