<div class='content_wrapper'>
  <h1><%= t("my.edit_showing") %></h1>
  <div class='my_affiche_wrapper'>
    <%= simple_form_for [@affiche, @showing].flatten, :url => my_affiche_showing_path(@affiche, @showing), html: { class: :my_affiche_showings } do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
    <% end %>
  </div>
</div>
