<div class="teaser_wrapper">
  <h1><%= resource.title %></h1>
  <%= link_to 'Посмотреть в публичке', teaser_path(resource), target: '_blank' %>
  <%= render partial: 'items', :locals => { :resource => resource } %>
</div>
