require "bundler/capistrano"
require "rvm/capistrano"

set :application, "appname.ru"
set :rails_env, "production"
set :domain, "user@host"
set :port, "22"
set :deploy_to, "/srv/#{application}"
set :use_sudo, false
set :unicorn_instance_name, "appname"

set :scm, :git
set :repository, "https://github.com/openteam-com/znaigorod.git"
set :branch, "master"
set :deploy_via, :remote_cache

set :keep_releases, 7

set :bundle_gemfile,  "Gemfile"
set :bundle_dir,      File.join(fetch(:shared_path), 'bundle')
set :bundle_flags,    "--deployment --quiet --binstubs"
set :bundle_without,  [:development, :test]

role :web, domain
role :app, domain
role :db,  domain, :primary => true

namespace :deploy do

  desc "Install gems"
  task :run_bundle, :roles => :app do
    run "cd #{deploy_to}/current/ && bundle --binstubs --path .bundle --quiet"
  end

  desc "Copy config files"
  task :config_app, :roles => :app do
    run "ln -s #{deploy_to}/shared/config/settings.yml #{deploy_to}/current/config/settings.yml"
    run "ln -s #{deploy_to}/shared/config/database.yml #{deploy_to}/current/config/database.yml"
  end

  desc "Precompile assets"
  task :compile_assets, :roles => :app do
    run "cd #{deploy_to}/current && RAILS_ENV=production bin/rake assets:precompile"
  end

  desc "HASK copy right unicorn.rb file"
  task :copy_unicorn_config do
    run "mv #{deploy_to}/current/config/unicorn.rb #{deploy_to}/current/config/unicorn.rb.example"
    run "ln -s #{deploy_to}/shared/config/unicorn.rb #{deploy_to}/current/config/unicorn.rb"
  end

  desc "Reload Nginx & Unicorn"
  task :reload_servers do
    sudo "/etc/init.d/nginx restart"
    sudo "/etc/init.d/#{unicorn_instance_name} restart"
  end

  desc "Sunspot solr reindex"
  task :sunspot_reindex do
    run "cd #{deploy_to}/current && RAILS_ENV=production bin/rake sunspot:reindex"
  end

end

before "deploy", "deploy:web:disable"

after "deploy", "deploy:config_app"
after "deploy", "deploy:migrate"
after "deploy", "deploy:copy_unicorn_config"
after "deploy", "deploy:compile_assets"
after "deploy", "deploy:reload_servers"
after "deploy:update", "deploy:cleanup"

after "deploy:cleanup", "deploy:web:enable"
