app:
  secret:               secret
  affiche_today:
    monday:
      '00-24': ['other']
    sunday:
      '11-14': ['exhibition']

solr:
  url:                  http://localhost:8982/solr

2gis:
  api_key:              api_key

hoptoad:
  api_key:              api_key
  host:                 host

