app:
  secret:               secret

solr:
  url:                  http://localhost:8982/solr

2gis:
  api_key:              api_key

vk:
  app_id:               app_id
  app_secret:           app_secret

errors:
  key:                  api_key
  host:                 host

storage:
  url:                  http://storage.host

deploy:
  application:          appname.ru
  domain:               user@host
  port:                 port
  solr_domain:          user@host
  solr_port:            port
