<div class="type">
  <%= render partial: 'manage/organizations/suborganization', locals: { suborganization: billiard } %>

  <fieldset>
    <legend>Столы</legend>
    <ul>
      <% billiard.pool_tables.each do |pool_table| %>
        <li>
          <%= link_to pool_table.title, [:edit, :manage, @organization, :billiard, pool_table] %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Добавить стол', new_manage_organization_billiard_pool_table_path(billiard.organization) %>
  </fieldset>

  <%= render billiard.virtual_tour %>
</div>
