<li>
  <% if affiche.title.present? %>
    <%= affiche %>
  <% else %>
    Нет названия
  <% end %>

  <% if defined?(editable) %>
    <%= link_to 'Редактировать', my_affiche_path(affiche) if can? :edit, affiche %>
  <% end %>

  <% if defined?(deletable) %>
    <%= link_to 'Удалить', my_affiche_path(affiche), method: :delete, confirm: 'Вы уверены что хотите удалить?' if can? :destroy, affiche %>
  <% end %>
</li>
