<div class='description'>
  <div class='poster'>
    <% if @affiche.poster_image.exists? %>
      <%= image_tag resized_image_url(@affiche.poster_image_url,
                                      @affiche.poster_image_resized_dimensions[:width].round,
                                      @affiche.poster_image_resized_dimensions[:height].round, false),
                                      size: "#{(@affiche.poster_image_resized_dimensions[:width]).round}x#{(@affiche.poster_image_resized_dimensions[:height]).round}" %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '180x242', alt: :poster %>
    <% end %>
  </div>
</div>
