<h3>Страницы с рекламой</h3>

<ul class="collection">
  <% @promotions.each do |promotion| %>
    <li>
      <%= link_to promotion, manage_promotion_path(promotion) %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to 'Добавить страницу', new_manage_promotion_path, :class => 'button' %>
</div>
