<div class='filters_wrapper <%= auto_content_class %>'>
  <div class='filters adverts'>
    <div class='by_kind'>
      <ul>
      </ul>
    </div>
  </div>

  <div class='filters afisha'>
    <div class='by_categories'>
      <ul>
      </ul>
    </div>
  </div>
</div>
