<li>
  <%= link_to gallery_file.file_file_name, gallery_file.file_url %>
  <%= link_to "Удалить", my_afisha_gallery_file_path(@afisha, gallery_file), :method => :delete, :remote => true, :class => 'ajax_delete' %>
</li>
