<% content_for :content do %>
  <% @digest.each do |materials| %>
    <% unless materials.blank? %>
      <tr class="solid_border">
        <td>
          <table class="custom_column_width columns">
            <h2>
              <% if %w[Invitation PrivateMessage Vote].include?(materials.first.class.name) %>
                <%= t "notice_mailer.#{materials.first.class.name.underscore}_title" %>
              <% elsif materials.first.is_a?(Comment) %>
                <% if materials.first.parent.present? %>
                  <%= t "notice_mailer.answered_on_you_comment" %>
                <% elsif materials.first.commentable.is_a?(Afisha) || materials.first.commentable.is_a?(Discount) %>
                  <%= t "notice_mailer.materials_comment" %>
                <% end %>
              <% end %>
            </h2>
            <%= render(partial: "personal_digest_mailer/#{ materials.first.class.name.underscore }", collection: materials) %>
          </table>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
