<div class="offer_price_wrapper">
  <%= link_to 'Предложить свою цену',
    [:new, discount, :offer],
    :remote => true,
    :class => 'offer_price button',
    :data => { :title => 'Предложить свою цену' } %>

  <% if show_help %>
    <span class="help" title='Подробнее'></span>

    <div class="description">
      <div class="discount_show">
        <div class="center">
          <div class="text">
            <%= discount.html_description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render :partial => 'offers/list', :locals => { :offerable => discount } %>
