<li>
  <span class="<%= offer.state %>" title="<%= t "activerecord.state_machines.offer.state.states.#{offer.state}" %>"></span>
  <span class="amount"><%= number_to_currency offer.amount %></span> &mdash;
  <span class="details"><%= offer.details %></span>
</li>
