<% content_for :account_content do %>
  <div class="invitations header">
    <div class='clear'>
      <span class="panel"></span>
    </div>
    <h3>Приглашения</h3>
  </div>
  <div id="invites">
    <% if @invite_messages.any? %>
      <ul class="account_messages">
        <%= render partial: 'my/invite_messages/invite_messages' %>
      </ul>
    <% else %>
      Приглашений не найдено
    <% end %>
  </div>
  <%= paginate @invite_messages %>

<% end %>

<%= render file: "my/accounts/wrapper" %>
