<table class='table table-condensed table-striped'>
  <tbody>
    <% collection.each do |item| %>
      <tr>
        <td><i class='icon-th-list'></i>&nbsp;<%= link_to item.title, [:manage, item] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


