<ul>
  <li><%= link_to 'Добавить кино', new_manage_movie_path %></li>
  <li><%= link_to 'Добавить концерт', new_manage_concert_path %></li>
  <li><%= link_to 'Добавить выставку', new_manage_exhibition_path %></li>
  <li><%= link_to 'Добавить спектакль', new_manage_spectacle_path %></li>
</ul>
