<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>

<div class='map_projects_wrapper'>
  <div class='map_projects_content'>

    <div class='map_projects_header'>
      <h1 class='lobster_font'>Отдых в новогодние праздники</h1>
    </div>

    <div class='map_projects_main'>

      <%= render :partial => 'map_projects/map_layers', :locals => { :map_project => resource.map_project } %>

      <div class='right'>
        <div class='map_wrapper'>
          <%= image_tag asset_path('public/map_projects/right.png'), :alt => 'Отдых в новогодние праздники', :class => 'right_wreath' %>
          <div class="placemarks_list">
            <% resource.map_placemarks.each do |map_placemark| %>
              <%= render :partial => 'map_projects/map_placemark', :locals => { :map_layer => resource, :map_placemark => map_placemark } %>
            <% end %>
          </div>
          <div class='map' data-latitude='56.493246' data-longitude='84.982112'></div>
        </div>
      </div>

    </div>

    <%= render :partial => 'map_projects/related_reviews' %>

  </div>
</div>
