<% collection.each do |message| %>
  <%= render partial: 'my/messages/message', locals: { message: message } %>
<% end %>

<div class="pagination">
  <%= link_to '&uarr;'.html_safe, '#', :class => "toggler #{ 'disabled' if collection.first_page? }" %>
  <%= link_to '&darr;'.html_safe, my_account_notification_messages_path(@account, :page => collection.current_page + 1), :remote => true, :class => "next_page #{ 'disabled' if collection.last_page? }" %>
</div>
