<div class="item">
  <div class="avatar">
    <%= image_tag 'public/avatar_znaigorod.jpg', size: '35x35' %>
  </div>
  <div class="body">
    <span><%= message.kind_text %></span>
    <%= link_to message.messageable.offerable.title, '#' %>
    <div class="date">
      <%= time_ago_in_words(message.created_at) %> назад
    </div>
  </div>
</div>
