<% content_for :account_content do %>
  <div class="invitations header">
    <div class='clear'>
      <span class="panel"></span>
    </div>
    <h3>Уведомления</h3>
    <div class="read_all_notifications">
    	<a href="#">Отметить все как прочитанные</a>
    </div>
  </div>
  <div id="notifications">
    <% if messages.any? %>
      <ul class="account_messages">
        <%= render partial: 'my/messages/messages', locals: { collection: messages } %>
      </ul>
    <% else %>
      Уведомлений не найдено
    <% end %>
  </div>
  <%= paginate messages %>

<% end %>

<%= render file: "my/accounts/wrapper" %>
