<div class="comments header">
  <%= "#{@account.first_name}" "#{@account.male? ? ' написал ' : ' написала '}" "#{t(:account_comments, count: @account.comments.count)}" %>
</div>
<div class="comments list">
  <%= render partial: 'accounts/account_comments', locals: { comments: @account.comments } %>
</div>
<div class="comments toggle">
  <%= link_to '', '#', remote: true, class: 'toggler closed floatr' if @account.comments.count > 1 %>
</div>
