<%= simple_form_for @account, as: :account, url: my_account_path do |f| %>
  <div class="properties_place">
    <div class="line">
      <span>Пол</span>
      <%= f.input :gender, label: false, as: :select, include_blank: false %>
    </div>
    <div class="line">
      <span>Дата рождения</span>
      <%= f.input :birthday, label: false, as: :date_picker %>
    </div>
  </div>
  <div class="button_place">
    <%= f.submit 'Сохранить', class: :properties_submit %>
  </div>
<% end %>

