<div class="messages header">
  Сообщения
</div>

<div id="messages_filter">
  <ul>
    <li><%= link_to t('dialogs', count: @dialogs.count), '#dialogs' %></li>
    <li><%= link_to t('notifications', count: @notification_messages.unread.count), '#notifications' %></li>
  </ul>

  <div id="dialogs">
    <ul class="dialogs">
      <%= render partial: 'my/dialogs/messages', locals: { collection: @dialogs } %>
    </ul>
  </div>

  <div id="notifications" class="list">
    <ul class="account_messages">
      <%= render partial: 'my/messages/messages', locals: { collection: @notification_messages } %>
    </ul>
  </div>
</div>
