<div class="messages header">
  Сообщения
</div>

<div id="messages_filter">
  <ul>
    <li><%= link_to t('private'), '#private' %></li>
    <li><%= link_to t('notifications'), '#notifications' %></li>
  </ul>

  <div class="messages list">
    <div id="private">
      <ul class="account_messages">
        <%= render partial: 'my/messages/messages', locals: { collection: @messages } %>
      </ul>
    </div>

    <div id="notifications">
      <ul class="account_messages">
        <%= render partial: 'my/messages/messages', locals: { collection: @messages } %>
      </ul>
    </div>
  </div>
</div>
