<%= render partial: 'votes/account_votes', locals: { collection: @votes } %>

<div class="pagination">
  <%= link_to '', account_votes_path(@account, :page => @votes.current_page + 1), :remote => true, :class => 'next_page closed' unless @votes.last_page? %>
</div>
