<div class="votes header">
  Мне нравится
</div>
<div class="votes list">
  <%= render partial: 'accounts/account_votes', locals: { collection: @account.votes.afisha } %>
</div>
<div class="votes toggle">
  <%= link_to '', '#', remote: true, class: 'toggler closed floatr' if @account.votes.afisha.count > 3 %>
</div>
