<% content_for :account_content do %>
  <div class="properties header">
    Редактирование профиля
  </div>
  <div class="properties_form">
    <%= render 'form' %>
  </div>
<% end %>
<%= render file: "my/accounts/wrapper" %>
