<% content_for :account_content do %>
  <div class='feeds'>
    <div class="invitations header">
      <div class='clear'>
        <span class="panel"></span>
      </div>
      <h3>Активность</h3>
    </div>
    <%= render 'feeds_filters' %>
    <% if @feeds_presenter.collection.any? %>
      <ul class='feed'>
        <%= render @feeds_presenter.collection %>
      </ul>
      <% unless @feeds_presenter.collection.first_page? && @feeds_presenter.collection.last_page? %>
        <div class="feed_pagination">
          <%= link_to ''.html_safe, my_account_feeds_path(:account_id => current_user.account.id, :page => @feeds_presenter.collection.current_page + 1, :kind => @feeds_presenter.kind_filter.kind, :activity => @feeds_presenter.activity_filter.kind), :class => "next_page #{ 'disabled' if @feeds_presenter.collection.last_page? }", :remote => true %>
        </div>
      <% end %>
    <% else %>
      Ничего не найдено =(
    <% end %>
  </div>
<% end %>
<%= render file: "my/accounts/wrapper" %>
