<div class="item">
  <div class="title">
    <%= link_to truncate(post.title.text_gilensize, length: 50, separator: ' '), post %>
  </div>

  <% if post.annotation_image? %>
    <%= post.annotation_image(215, 164) %>
  <% else %>
    <div class="text">
      <%= post.html_content.excerpt %>
    </div>
  <% end %>

  <%= post.date %>
</div>
