<% content_for :page_title, t('meta.posts.title') %>
<% content_for :meta_description, t('meta.posts.description') %>
<% content_for :meta_keywords, t('meta.posts.keywords') %>

<div class='presentation_filters post'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li class='selected'><a href='#' class='poster'>Постеры</a></li>
      <li><a href='#' class='list'>Список</a></li>
    </ul>
  </div>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            send(sortings_link[:url], sortings_link[:parameters]), :class => sortings_link[:parameters][:order_by] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="posts_list">
  <ul class="posters">
    <%= render :partial => 'posts/post_posters', :locals => { collection: collection } %>
  </ul>
</div>

<%= paginate collection %>
