<div class="<%= discount_poster.class.name.underscore %>">
  <span class="price">
    <em><%= discount_poster.price.zero? ? 'бесплатно' : number_to_currency(discount_poster.price, :unit => 'р.', :precision => 0) %></em>
  </span>
  <span class="origin_price"><em><%= number_to_currency(discount_poster.origin_price, :unit => 'р.', :precision => 0) %></em></span>
  <span class="profit">&minus;<%= discount_poster.discount %>%</span>
</div>
