<div class="<%= discount.class.name.underscore %>">
  <span class="profit">-<%= discount.discount %>%</span>
  <span class="price">
    <%= discount.price.zero? ? 'Бесплатно' : number_to_currency(discount.price, :unit => 'р.', :precision => 0) %>
  </span>
  <span class="origin_price"><%= number_to_currency(discount.origin_price, :unit => 'р.', :precision => 0) %></span>
</div>
