<div class="<%= discount.class.name.underscore %>">
  <span class="discount">-<%= discount.discount %></span>
  <span class="discounted_price"><%= discount.discounted_price %></span>
  <span class="origin_price"><%= discount.origin_price %></span>
</div>
