<div class="copies">
  <div class="copies_counter">
    <h2><%= t("#{@discount.model.class.name.underscore}.copies_title") %></h2>
    <span class="copies_count"><%= @discount.copies.for_sale.count %></span>
  </div>
</div>
