<div class="<%= discount.class.name.underscore %>">
  <strong>Скидка</strong>
  <span class="discount"><%= discount.discount %>%</span>
  <strong>за</strong>
  <span class="price">
    <%= discount.price.zero? ? 'Бесплатно' : number_to_currency(discount.price, :unit => 'р.', :precision => 0) %>
  </span>
</div>
