<div class="<%= discount_poster.class.name.underscore %>">
  <strong>Скидка</strong>
  <span class="profit"><%= discount_poster.discount %>%</span>

  <% if discount_poster.price.zero? %>
    <span class="price free">бесплатно</span>
  <% else %>
    <strong>за</strong>
    <span class="price">
      <em><%= number_to_currency(discount_poster.price, :unit => 'р.', :precision => 0) %></em>
    <% end %>
  </span>
</div>
