<% if discount_poster.sale? %>
  <div class="discount sale">
    <span>Акция</span>
  </div>
<% else %>
  <div class="<%= discount_poster.class.name.underscore %>">
    <strong>Скидка по акции</strong>
    <span class="profit"><%= discount_poster.discount %>%</span>
  </div>
<% end %>
