<% cache("discount_#{params[:page]}_#{controller_name}_#{action_name}", expires_in: 10.minutes) do %>
  <% @discounts.each_with_index do |discount, index| %>
    <% if index == 8 && !params[:page] && defined?(organizations) %>
      <%= render :partial => 'organizations/recommended', :locals => { :organizations => organizations, :sub_class => 'discounts' } %>
    <% end %>
    <%= render :partial => 'discounts/discount_poster', :locals => { :discount => discount, :@width => '196', :@height => '164' } %>
  <% end %>
<% end %>

<% unless controller_name == 'organizations' || controller_name == 'afishas' %>
  <% unless @presenter.collection.last_page? %>
    <li class="item_wrapper pagination">
      <%= link_to_next_page @presenter.collection, "Еще скидки (#{@presenter.current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
    </li>
  <% end %>
<% end %>
