<% @discounts.each do |discount| %>
  <%= render :partial => 'discounts/discount_poster', :locals => { :discount => discount, :@width => '196', :@height => '164' } %>
<% end %>

<% unless controller_name == 'organizations' || controller_name == 'afishas' %>
  <% unless @presenter.collection.last_page? %>
    <li class="item pagination">
      <%= link_to_next_page @presenter.collection, "Еще скидки (#{@presenter.current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
    </li>
    <script type="text/javascript">
      google_ad_client = "ca-pub-4981169986614180";
      google_ad_slot = "6687067759";
      google_ad_width = 728;
      google_ad_height = 90;
    </script>
    <!-- Тест -->
    <script type="text/javascript" src="//"></script>
  <% end %>
<% end %>


