<div class="item">
  <div class="title">
    <%= link_to truncate(discount.title, :length => 35), discount_path(discount) %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(discount.poster_url, 220, 120), :size => '220x120', :title => discount.title, :alt => discount.title), discount_path(discount) %>
    <%= link_to discount_path(discount), :class => :details %>
  </div>

  <div class="info">
    <%= render :partial => "discounts/#{discount.class.name.underscore}_info", :locals => { :discount => discount } %>
  </div>
</div>
