<div class="filters_wrapper">
  <div class="filters account">
    <div class="by_kind">
      <ul>
      </ul>
    </div>
  </div>

  <div class="filters account">
    <div class="by_kind">
      <ul>
      </ul>
    </div>
  </div>
</div>
