<div class="filters_wrapper">
  <div class="filters account">
    <div class="by_type">
      <ul>
        <% @presenter.type_filter.links.each do |link| %>
          <li class="<%= link.klass %>">
            <%= link_to link.title, link.path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="filters account">
    <div class="by_kind">
      <ul>
        <% @presenter.kind_filter.links.each do |link| %>
          <li class="<%= link.klass %>">
            <%= link_to link.title, link.path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
