<div class='news_main_page'>
  <div class='place' id='place-1'>
    <!-- DUMMY -->
    <h1><a href='#'>Все новости Томска</a></h1>
    <table>
      <thead>
        <tr>
          <th class='left'>
            <div class='timestamp'>
              <span>За</span>
              <ul>
                <li class='selected'>
                  <a href="http://news.znaigorod.ru/newest">12 часов</a>
                </li>
                <li>
                  <a href="http://news.znaigorod.ru/today">день</a>
                </li>
                <li>
                  <a href="http://news.znaigorod.ru/threedays">3 дня</a>
                </li>
                <li>
                  <a href="http://news.znaigorod.ru/weekly">неделю</a>
                </li>
                <li>
                  <a href="http://news.znaigorod.ru/monthly">месяц</a>
                </li>
                <li>
                  <a href="http://news.znaigorod.ru/alltime">все время</a>
                </li>
              </ul>
            </div>
          </th>
          <th><span class='vkontakt' title='Упоминания ВКонтакте'></span></th>
          <th><span class='facebook' title='Упоминания в Facebook'></span></th>
          <th><span class='twitter' title='Упоминания в Twitter'></span></th>
          <th><span class='likes' title='Понравилось во Вконтакте и в Facebook-е'></span></th>
          <th><span class='comments' title='Комментарии во Вконтакте и в Facebook-е'></span></th>
          <th><span class='rating' title='Общий рейтинг'></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='left'>
            <span class='favicon'><img alt="Favicon" height="16" src="http://tomsk.ru/favicon.ico" width="16" /></span>
            <p><a href="/away?to=http://www.tomsk.ru/news/view/89194" target="_blank">Главная: Самое читаемое вчера</a></p>
          </td>
          <td class='rating'>1</td>
          <td class='rating'>0</td>
          <td class='rating'>1</td>
          <td class='rating'>1</td>
          <td class='rating'>0</td>
          <td class='rating'>2.5</td>
        </tr>
        <tr>
          <td class='left'>
            <span class='favicon'><img alt="Favicon" height="16" src="http://news.vtomske.ru/favicon.ico" width="16" /></span>
            <p><a href="/away?to=http://news.vtomske.ru/news/82929.html" target="_blank">Сегодня решится судьба «Томи» в&#160;<span class="nobr">Премьер-лиге</span></a></p>
          </td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>2</td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>2.0</td>
        </tr>
        <tr>
          <td class='left'>
            <span class='favicon'><img alt="Favicon" height="16" src="http://news.vtomske.ru/favicon.ico" width="16" /></span>
            <p><a href="/away?to=http://news.vtomske.ru/news/82931.html" target="_blank">Исторический момент: появление филармонии</a></p>
          </td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>2</td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>2.0</td>
        </tr>
        <tr>
          <td class='left'>
            <span class='favicon'><img alt="Favicon" height="16" src="http://news.vtomske.ru/favicon.ico" width="16" /></span>
            <p><a href="/away?to=http://news.vtomske.ru/news/82873.html" target="_blank">Семинар в&#160;Томске научит предпринимателей строить бизнес в&#160;Интернете</a></p>
          </td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>1</td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>1.0</td>
        </tr>
        <tr>
          <td class='left'>
            <span class='favicon'><img alt="Favicon" height="16" src="http://70rus.org/favicon.ico" width="16" /></span>
            <p><a href="/away?to=http://www.70rus.org/more.php?UID=35653" target="_blank">XXIII Международный кинофестиваль «Золотой Витязь» открывается сегодня в&#160;Томске</a></p>
          </td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>1</td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>1.0</td>
        </tr>
        <tr>
          <td class='left'>
            <span class='favicon'><img alt="Favicon" height="16" src="http://ria.ru/favicon.ico" width="16" /></span>
            <p><a href="/away?to=http://www.ria.ru/tomsk/20140522/1008787919.html" target="_blank">Томские ученые предложили строить сельские дома из&#160;клееного бруса</a></p>
          </td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>1</td>
          <td class='rating'>0</td>
          <td class='rating'>0</td>
          <td class='rating'>1.0</td>
        </tr>
      </tbody>
    </table>
    <!-- /DUMMY -->
  </div>
</div>
