<div class="webcams_main_page_list">
  <div class="filter_header">
    <h2><%= link_to t('meta.webcams.page_header'), webcams_path %></h2>
  </div>

  <ul class="posters">
    <% @webcams.each do |webcam| %>
      <li><%= render :partial => 'webcams/webcam_poster', :locals => { :webcam => webcam } %></li>
    <% end %>
  </ul>
</div>
