<ul class="kind_links">
  <li><%= link_to "Не опубликованные посты", draft_posts_path, :class => 'new_resource' %></li>
</ul>

<div class="new_link">
  <%= link_to "Добавить новый пост", new_manage_post_path('post[vfs_path]' => Post.generate_vfs_path), :class => 'new_resource' %>
</div>

<div class="clearfix"></div>

<ul class="collection">
  <% @posts.each do |post| %>
    <li>
      <span class="title">
        <%= link_to post.title, manage_post_path(post) %>
      </span>
      <span class="status">
        <%= post.status? ? 'Опубликован' : 'Не опубликован' %>
      </span>
    </li>
  <% end %>
</ul>
