<div class="new_link">
  <%= link_to "Добавить новый пост", new_manage_post_path('post[vfs_path]' => Post.generate_vfs_path) %>
</div>

<ul class="collection">
  <% @posts.each do |post| %>
    <li>
      <span class="title">
        <%= link_to post.title, manage_post_path(post) %>
      </span>
    </li>
  <% end %>
</ul>
