<div class="new_link">
  <%= link_to "Добавить новый пост", new_manage_post_path %>
</div>

<ul class="collection">
  <% @posts.each do |post| %>
    <li>
      <span class="title">
        <%= link_to post.title, manage_post_path(post) %>
      </span>
      <span class="annotation">
        <%= post.annotation %>
      </span>
      <span class="date">
        <%= post.created_at %>
      </span>
    </li>
  <% end %>
</ul>
