<div class="clearfix"></div>

<ul class="collection">
  <% @posts.each do |post| %>
    <li>
      <span class="title"><%= link_to post.title, manage_post_path(post) %></span>
      <span class="status"><%= post.published? ? 'Опубликован' : 'Не опубликован' %></span>
    </li>
  <% end %>
</ul>
