<h1>
  <%= @post.title %>
</h1>

<div class="annotation">
  <%= @post.annotation.html_safe %>
</div>

<div class="content">
  <%= @post.content.html_safe %>
</div>

<%= link_to "edit", edit_manage_post_path %>
