<li>
  <p class='image'>
    <%= image_tag gallery_image.file_url, :width => '160', :height => '160' %>
  </p>
  <p class='action'>
    <%= link_to "Удалить", [:manage, gallery_image.attachable, gallery_image], :method => :delete, :remote => true, :class => 'ajax_delete'  %>
    <%= link_to "Редактировать", [:edit, :manage, gallery_image.attachable, gallery_image] %>
  </p>
</li>
