<!--noindex-->
<div class='map_project_reviews'>
  <div class='likes'>
    <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
  </div>
  <a name='actual_reviews'></a>
  <div class='reviews_title'>
    Обзоры
  </div>
  <div class='suborganization_info related-reviews'>
    <ul class='posters'>
      <%= render :partial => 'reviews/posters', locals: { collection: @reviews, height: '120', width: '184' } if @reviews %>
    </ul>
  </div>
</div>
<!--/noindex-->
