<% afishas.each do |afisha| %>
  <li class="item fresh<%= ' highlighted' if afisha.highlighted? %> <%= cycle('first', 'second', 'third', 'fourth') %>">
    <%= render :partial => 'afishas/afisha_poster', :locals => { :afisha => afisha } %>
  </li>
<% end %>

<% unless presenter.collection.last_page? %>
  <li class="item pagination">
    <%= link_to_next_page presenter.paginated_collection, "Еще события (#{presenter.current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
  </li>
<% end %>
