<% @presenter.decorated_collection.each do |afisha| %>
  <li class="<%= cycle('first', 'second', 'third', 'fourth', 'fifth', 'sixth') %>">
    <%= render partial: 'afishas/afisha_poster', locals: { afisha: afisha } %>
  </li>
<% end %>
