<% (afishas || @presenter.decorated_collection).compact.each do |afisha| %>
  <% if afisha.is_a?(AfishaDecorator) %>
    <li class="item">
      <%= render :partial => 'afishas/afisha_poster', :locals => { :afisha => afisha } %>
    </li>
  <% else %>
    <%= render :partial => afisha.partial, :locals => { :afisha => afisha } %>
  <% end %>
<% end %>
