<% (afishas || @presenter.decorated_collection).compact.each do |afisha| %>
  <li>
    <%= render partial: (afisha.is_a?(AfishaDecorator) ? 'afishas/afisha_poster' : afisha.partial), locals: { afisha: afisha } %>
  </li>
<% end %>
