<% afishas.each do |afisha| %>
  <li class="item<%= ' highlighted' if afisha.highlighted? %>">
    <%= render :partial => 'afishas/afisha_poster', :locals => { :afisha => afisha } %>
  </li>
<% end %>
