<div class="promote_afisha_wrapper">
  <div class="info">
    Можно поднять и выделить афишу в списке за <strong>30 руб.</strong>
  </div>

  <%= render :partial => 'afishas/promote_button', :locals => { :afisha => afisha } %>
</div>
