<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_reviews_wrapper questions_form">
    <h1>Редактировать вопрос</h1>

    <%= render 'form' %>

  </div>
</div>
