<div class="certificates">
  <ul class="posters">
    <%= render :partial => 'discounts/discount_posters', :locals => { :@discounts => @certificate_presenter.decorated_collection, :@width => '208', :@height => '155' } %>
  </ul>
</div>
