<div class="poster">
  <%= link_to item do %>
    <% if item.images.any? %>
      <%= image_tag_for item.images.first.url, 137, 100 %>
    <% else %>
      <%= image_tag "stub.jpg", :width => '137', :height => '100', :alt => item.title, :title => item.title %>
    <% end %>
  <% end %>
</div>
