<% @presenter.not_clients.each do |organization| %>
  <li class="item_organization fresh not_client_poster <%= cycle('item_1', 'item_2', 'item_3', 'item_4', 'item_5', 'item_6', 'item_7',)%>">
    <div class='info'>
      <div class='title'><%= organization.truncated_title_link(28) %> </div>
      <div class="place">
        <%= organization.truncated_address_link.present? ? organization.truncated_address_link : "&nbsp;".html_safe %>
      </div>
    </div>
  </li>
<% end %>

<% unless @presenter.not_clients_results_last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @presenter.not_clients_results, "Еще организации (#{@presenter.not_clients_results_current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :param_name => "not_clients_page" , :params => params %>
  </li>
<% end %>
