<% @presenter.not_clients.each do |suborganization| %>
  <li class="item_organization fresh not_client_poster <%= cycle('item_1', 'item_2', 'item_3', 'item_4', 'item_5', 'item_6', 'item_7',)%>">
    <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization, width: 194, height: 190 } %>
  </li>
<% end %>

<% unless @presenter.not_clients_results_last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @presenter.not_clients_results, "Еще организации (#{@presenter.not_clients_results_current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :param_name => "not_clients_page" , :params => params %>
  </li>
<% end %>
