<% index = 1 %>
<% @presenter.without_clients_collection.each do |suborganization| %>
  <li class="item_organization fresh not_client_poster <%= index.modulo(7) == 0 ? 'need_margin' : '' %>">
    <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization, width: 194, height: 190 } %>
    <% index+=1 %>
  </li>
<% end %>
<% unless @presenter.without_clients_collection.last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @presenter.paginated_without_clients_collection, "Еще организации (#{@presenter.current_without_clients_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :param_name => "not_client_page" ,:params => params %>
  </li>
<% end %>
