<% if false %>
  <% @organizations_collection.suborganizations.each do |suborganization| %>
    <li>
      <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization } %>
    </li>
  <% end %>
<% end %>

<% @entertainments_presenter.collection.each do |organization| %>
  <li>
    <%= organization %>
  </li>
<% end %>
