<% @organizations_collection.suborganizations.each do |suborganization| %>
  <li>
    <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization } %>
  </li>
<% end %>
