<% cache("organization_#{params[:kind]}_#{params[:categories].try(:first).try(:underscore)}_#{params[:page]}", expires_in: 10.minutes) do %>
  <% @presenter.collection.each do |suborganization| %>
    <li class="item fresh">
      <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization, width: 194, height: 190 } %>
    </li>
  <% end %>
<% end %>

<% unless @presenter.collection.last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @presenter.paginated_collection, "Еще организации (#{@presenter.current_count + @presenter.current_without_clients_count + 40})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
    <script type="text/javascript">
      google_ad_client = "ca-pub-4981169986614180";
      google_ad_slot = "6687067759";
      google_ad_width = 728;
      google_ad_height = 90;
    </script>
    <!-- Тест -->
    <script type="text/javascript" src="//"></script>
  </li>
<% else %>
  <div style="clear:both"></div>
  <%= render partial: 'organizations/not_client_posters' %>
<% end %>
