<div class='organization_content'>
  <ul class='posters'>
    <% @presenter.promoted_clients.each do |item| %>
      <li class='item_organization fresh'>
        <%= render partial: 'suborganization', locals: { suborganization: item, width: 150, height: 150  } %>
      </li>
    <% end %>
  </ul>
</div>
