<div class='organization_content js-button-pagination'>
  <ul class='posters'>
    <% @presenter.promoted_clients.each do |organization| %>
      <li class='item_organization fresh'>
        <%= render partial: 'organization', locals: { organization: organization, width: 150, height: 150  } %>
      </li>
    <% end %>
  </ul>
</div>
