<div class='recommended_organizations_wrapper organization_content'>
  <h1>Рекомендуем посетить</h1>
  <ul class='recommended_organization posters'>
  <% organizations.collection.each do |organization| %>
    <li class='recommended_organization_item item_organization'>
      <%= render partial: 'organizations/suborganization', locals: { suborganization: organization, width: 150, height: 150 } %>
    </li>
  <% end %>
  </ul>
</div>
