<div class='info'>
  <h2><%= suborganization.truncated_title_link %> </h2>
  <% if suborganization.logotype_link %>
    <div class='image'>
      <%= suborganization.logotype_link %>
    </div>
  <% else %>
    <hr />
  <% end %>
  <%= content_tag :div, suborganization.address_link, :class => 'place' unless suborganization.address_link.blank? %>
  <%= suborganization.decorated_phones %>
</div>
