<div class="content_wrapper">
  <div class="organizations_catalog">
    <h1><span class="strong">Заведения</span> города</h1>
    <% @organizations_collection.kind_links.each do |link, categories| %>
      <% unless categories.blank? %>
        <fieldset class="<%= cycle("odd", "even") %>">
          <legend><%= link %></legend>
          <ul>
            <% categories.each do |category_link| %>
              <li><%= category_link %></li>
            <% end %>
          </ul>
        </fieldset>
      <% else %>
        <h2><%= link %></h2>
      <% end %>
    <% end %>
  </div>
</div>
