<% content_for :organization_content do  %>

  <div class="organization">
    <ul class="gallery_container">
      <% @organization.images.each_slice(4) do |slice| %>
        <% slice.each do |image| %>
          <li class="<%= cycle('first', 'second', 'third', 'fourth') %>">
            <%= link_to @organization.image_tag(image.url, 130, 97, image.description), image.url %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if Rails.env.production? %>
    <div id="vk_comments"></div>
    <%= render :partial => "commons/fb_comments" %>
  <% end %>

<% end %>
<%= render :file => "organizations/wrapper" %>
