<% content_for :organization_content do  %>

  <div class="organization">
    <div id="krpano">
      <noscript><center>ERROR: Javascript not activated</center></noscript>
      <%= link_to @organization.tour_link, @organization.tour_link, :class => "tour_link" %>
    </div>
    <div class="ad">
      <%= link_to image_tag("public/3dtour.png", :alt => "Изготовление и размещение виртуальных туров", :size => "740x69"),
                  "http://tomsk.3dtour.me/",
                  :class => Rails.env.production? ? "3dtourme" : "3dtourme development",
                  :target => "_blank", :rel => "nofollow" %>
    </div>
  </div>

  <% if Rails.env.production? %>
    <div id="vk_comments"></div>
    <%= render :partial => "commons/fb_comments" %>
  <% end %>

<% end %>
<%= render :file => "organizations/wrapper" %>
