<div class="info">
  <% if @organization.categories.any? %>
    <ul class="categories">
      <% @organization.categories.each do |category| %>
        <li><%= link_to category, organizations_path(organization_class: @organization.suborganization_kind, category: category.mb_chars.downcase) %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="head">
    <h1><%= @organization.title %></h1>
  </div>

  <div class="description">
    <% unless @organization.address_link.blank? %>
      <div class="place">
        <p class="address"><%= @organization.address_link %></p>
      </div>
    <% end %>
  </div>
</div>

<div id="krpano">
  <noscript><center>ERROR: Javascript not activated</center></noscript>
  <%= link_to @organization.tour_link, @organization.tour_link, :class => "tour_link" %>
</div>
