<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, @organization.title.text_gilensize + " - " + I18n.t("organization.list_title.#{@organization.fake_kind}") + " Томска" %>
<% content_for :meta_keywords, @organization.meta_keywords %>
<% content_for :meta_description, @organization.meta_description %>

<% content_for :extra_meta do %>
  <%= @organization.tags_for_vk %>
<% end %>

<div class="content_wrapper">

  <%= @organization.breadcrumbs %>

  <div class="organization_info">
    <%= yield :organization_content %>
  </div>
</div>
