<div class="current_rating">
  <span class='title'><span class='title_label'>Рейтинг: </span><%= rating = (parent_obj.total_rating*5*2).round/2.0 %>/5</span>
  <% n,m = rating.to_s.split('.') %>
  <div class="star_wrapper" title='Всего голосов: <%= parent_obj.user_ratings.count %>'>
    <% 5.times do |i| %>
      <div class="star_<%= i %> <%= (n.to_i >= i+1) ? 'selected active' : (m.to_i > 0 && n.to_i == i) ? 'half' : '' %>"></div>
    <% end %>
  </div>
</div>
