<div class="footer_button">

  <div class="columns">
    <center>
      <div class="certificate_price footer">
        <span class="origin_price"><em><%= number_to_currency(discount.origin_price, :unit => 'р.', :precision => 0) %></em></span>
        <br />
        <span class="new_price">
          <em><%= discount.price.nil? ||discount.price.zero? ? 'бесплатно' : number_to_currency(discount.price, :unit => 'р.', :precision => 0) %></em>
        </span>
      </div>
    </center>
  </div>

  <div class="left_border columns">
    <center>
      <div class="certificate_count footer">
        <%= t("afisha.discounts.certificate_count", count: 2) %>
      </div>
    </center>
  </div>

  <div class="left_border columns">
    <center>
      <div class="footer">
        <a href="#" class="buy"><%= t("afisha.discounts.buy") %></a>
      </div>
    </center>
  </div>

</div>
