<div class="footer_button">

  <div class="columns">
    <center>
      <div class="certificate_price footer">
        <span class="origin_price"><em><%= number_to_currency(discount.origin_price, :unit => 'р.', :precision => 0) %></em></span>
        <br />
        <span class="new_price">
          <em><%= discount.price.nil? ||discount.price.zero? ? 'бесплатно' : number_to_currency(discount.price, :unit => 'р.', :precision => 0) %></em>
        </span>
      </div>
    </center>
  </div>

  <div class="left_border columns">
    <center>
      <div class="certificate_count footer">
        <%= t("afisha.discounts.certificate_count", count: discount.copies.for_sale.count) %>
      </div>
    </center>
  </div>

  <div class="left_border columns">
    <center>
      <div class="footer">
        <div class="buy_ticket">
          <% unless discount.price.nil? || discount.price.zero? %>
            <%= link_to t("afisha.discounts.buy"), new_discount_copy_payment_path(discount), :class => 'payment_link buy', :remote => true %>
          <% end %>
        </div>
      </div>
    </center>
  </div>

</div>
