<div class="footer_button">

  <div class="two_columns">
    <center>
      <div class="discount footer">
        <%= t("afisha.discounts.discount") %>
      </div>
    </center>
  </div>

  <div class="left_border two_columns">
    <center>
      <div class="footer">
        <a href="#" class="my_price"><%= t("afisha.discounts.take_a_part") %></a>
      </div>
    </center>
  </div>

</div>
