<% @presenter.organization_for_saunas_without_halls.each do |organization| %>
  <li class='list_view_organization_item' data-longitude="<%= organization.longitude %>" data-latitude="<%= organization.latitude %>">
    <div class="list_view_organization_poster">
      <div class="info">
        <!-- информация о заведении -->
        <h1>
          <%= link_to organization.title.truncate(30), organization_path(organization), style: "background: url('#{asset_path(organization.schedules.first.holiday? ? 'public/organizations_list_view/close_icon.png' : 'public/organizations_list_view/open_icon.png')}') no-repeat right center" %>
        </h1>
        <!-- адрес -->
        <%= content_tag(:div, "#{organization.address_link}".html_safe, class: :place) if organization.address_link.present? %>
      </div>
    </div>
  </li>
<% end %>
