<div class="content_wrapper">
  <%= render :partial => 'filters' %>

  <div class="list_settings">
    <div class="presentation">
    </div>
    <div class="sort">
      <p>Сортировка:</p>
      <ul>
        <%= @presenter.sort_links %>
      </ul>
    </div>
  </div>

  <ul class='sauna_list'>
    <% @presenter.collection.each do |sauna| %>
      <li class='sauna_item'>
        <%= render :partial => 'list_item', :locals => { :sauna => OrganizationDecorator.decorate(sauna.sauna.organization), :sauna_hall => sauna } %>
      </li>
    <% end %>
  </ul>
</div>
