<div class="content_wrapper">
  <%= render :partial => 'filters' %>

  <ul class='sauna_list'>
    <% @presenter.collection.each do |sauna| %>
      <li class='sauna_item'>
        <%= render :partial => 'list_item', :locals => { :sauna => OrganizationDecorator.decorate(sauna.sauna.organization), :sauna_hall => sauna } %>
      </li>
    <% end %>
  </ul>
</div>
