<% content_for :page_title, t('meta.saunas.title') %>
<% content_for :meta_description, t('meta.saunas.description') %>
<% content_for :meta_keywords, t('meta.saunas.keywords') %>

<div class="content_wrapper">
  <%= render :partial => 'filters' %>

  <div class="list_settings">
    <div class="presentation">
    </div>
    <div class="sort saunas">
      <p>Сортировка:</p>
      <ul>
        <%= @presenter.sort_links %>
      </ul>
    </div>
  </div>

  <% if @presenter.saunas.any? %>
    <ul class='sauna_list'>
      <%= render :partial => 'sauna_list' %>
    </ul>
  <% else %>
    <p class="empty_items_list">По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.paginatable_collection %>
