<div class="suborganization_info hotel">
  <table>
    <tr>
      <td class='border'>
        <%= hotel.htmlise_title_on_show %>
      </td>
      <td>
        <%= hotel.iconize_info %>
        <div class="details">
          <%= hotel.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if hotel.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render hotel.gallery_images, :rel => "hotel_gallery_#{hotel.id}" %>
      </ul>
    </div>
  <% end %>
</div>

