<div class="suborganization_info hotel">

  <div class='title'><%= hotel.title.text_gilensize %></div>

  <%= hotel.htmlise_offers_and_features_on_show %>

  <%= content_tag :div, hotel.description.as_html, :class => :description if hotel.description.present? %>

  <% if hotel.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render hotel.gallery_images, :rel => "hotel_gallery_#{hotel.id}" %>
      </ul>
    </div>
  <% end %>

</div>
