<div class="suborganization_info hotel">
  <table>
    <tr>
      <td class='border'>
        <%= hotel.htmlise_title_on_show %>
      </td>
      <td>
        <%= hotel.iconize_info %>
        <div class="details">
          <%= hotel.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if hotel.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% hotel.gallery_images.each do |image| %>
          <li><%= link_to(image_tag_for(image.file_url, 124, 94, true, 'n'), image.file_url, rel: :hotel_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

