<div class='organizations_list'>
  <% unless @presenter.empty? %>
    <ul class='hotel_posters'>
      <%= render :partial => 'hotel_posters' %>
    </ul>
  <% else %>
    <p class="empty_items_list">По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>
