<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>
<% content_for :extra_meta do %>
  <%= render :partial => 'commons/page_meta_og' %>
<% end if page_meta %>

<div class="filter_and_search">
  <%= render partial: "suborganizations/filters_and_search" %>
</div>

<%= render "#{view_type}_view" %>

<% if page_meta %>
  <div class='introduction'>
    <%= page_meta.html_introduction %>
  </div>
<% end %>
