<div class="place-header">
  <span class="place-title with-counter">
    %title%
  </span>
  <span class="place-counter">
    <%= link_to '%item_url%' do %>
      все <%= presenter.total_count %>
    <% end %>
  </span>
</div>

<div class="place-content accounts">
  <ul>
    <% presenter.decorated_collection.each do |item| %>
      <li>
        <%= item.image_with_link(50, 50) %>
      </li>
    <% end %>
  </ul>
</div>
