<div class="place-header">
  <div class="title">_title_</div>
</div>

<div class="place-content">
  <% presenter.collection.each do |item| %>
    <div class="title">
      <%= item.title %>
    </div>
  <% end %>
</div>
