<div class="place-header">
  <span class="place-title">
    %title%
  </span>
</div>

<div class="place-content review question js-right-block">
  <div class="image">
  <%= image_tag decorated_question.account.avatar.url, :size => '35x35' %>
  </div>

  <div class='title'><%= link_to decorated_question.title.text_gilensize, question_path(decorated_question) %></div>
</div>
