<div class="place-header">
  <span class="place-title">
    %title%
  </span>
</div>

<div class="place-content review">
  <div class="image">
    <%= link_to image_tag(decorated_review.annotation_image(240, 136), :size => "#{240}x#{136}"), review_path(decorated_review) %>
  </div>

  <div class='title'><%= link_to decorated_review.title.text_gilensize, review_path(decorated_review) %></div>
</div>
