<div class='top_headline banner js-banner'>
  <%= link_to '/novyj_god_2015_v_tomske' do %>
    <%= image_tag 'public/ng_banner.jpg', :size => '800x80', :alt => 'Новый Год в Томске' %>
  <% end %>
</div>
