<div class='top_headline banner js-banner'>
  <% random = rand(2) %>
  <% if random == 0 %>
    <%= link_to '/discounts/skidka-50-na-silovye-trenirovki-v-klube-hot-line-fitness' do %>
      <%= image_tag 'public/banner_fitnes_hot_line.jpg', :size => '1200x100', :alt => 'Hot Line Fitness' %>
    <% end %>
  <% else %>
    <%= link_to '/discounts/skidki-ot-71-do-85-na-vse-velnes-trenazhyory' do %>
      <%= image_tag 'public/velnes.jpg', :size => '1200x100', :alt => 'Wellness Club Effect' %>
    <% end %>
  <% end %>
</div>
