<div class='top_headline banner js-banner'>
  <% if Time.zone.now < Time.zone.now + 7.days %>
    <%= link_to '/away?to=https://vk.com/newyearfair2014', target: '_blank' do %>
      <%= image_tag 'public/banners/banner_znaigorod.jpg', :size => '1200x100', :alt => 'Новогодняя Ярмарка в Изумрудном городе' %>
    <% end %>
  <% end %>
</div>
