<div class='top_headline banner js-banner'>
  <%= link_to '/away?to=http://ярмаркавтомске.рф', target: '_blank' do %>
    <%= image_tag 'public/banner_znaigorod.jpg', :size => '1200x100', :alt => 'Ярмарка В Томске' %>
  <% end %>
</div>
