<% cache('new_feature', :expires_in => 10.minutes) do %>
  <div class='top_headline banner js-banner'>
    <%= link_to '/discounts/skidka-50-na-silovye-trenirovki-v-klube-hot-line-fitness' do %>
      <%= image_tag 'public/banner_fitnes_hot_line.jpg', :size => '1200x100', :alt => 'Hot Line Fitness' %>
    <% end %>
  </div>
<% end %>
