<%= link_to '/afisha/v-ezhegodnaya-svadebnaya-vystavka-yarmarka-tomskaya-svadba-2014', :title => 'V ежегодная свадебная выставка-ярмарка «Томская свадьба. 2014' do %>
  <div class="top_headline yarmarka"></div>
<% end %>
