<% unless params[:id] == 'imidzh-proekt-potentsial' %>
  <div class='potential <%= params['controller'].split('/').try(&:first) if params['controller'] %>'>
    <%= link_to (image_tag 'public/potential_banner.jpg', size: '880x80'), '/contests/imidzh-proekt-potentsial', class: 'js-stat-potential' %>
  </div>
<% end %>
