<div class='love_kiss_hug <%= params['controller'].split('/').try(&:first) %>'>
  <%= link_to image_tag('public/banner_2_1/love_kiss_hug.jpg'), 'http://znaigorod.ru/contests/samyy-dolgiy-potseluy' %>
</div>
