<ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
  <% unless params[:id] == 'imidzh-proekt-potentsial' %>
    <li class='js-banner imidzh-proekt-potentsial'>
      <%= link_to (image_tag 'public/potential_banner.jpg', size: '880x80'), '/contests/imidzh-proekt-potentsial', class: 'js-stat-potential' %>
    </li>
  <% end %>

  <% unless params[:id] == 'malenkaya-krasavitsa-2014' %>
    <li class='js-banner malenkaya-krasavitsa-2014'>
      <%= link_to (image_tag 'public/malenkaya-krasavitsa-2014.jpg', size: '880x80'), '/contests/malenkaya-krasavitsa-2014', class: 'js-stat-krasavitsa-2014' %>
    </li>
  <% end %>
</ul>
