<% if Time.zone.now < Time.zone.parse('2014-08-11 04:00:00') %>
  <div class='training <%= params['controller'].split('/').try(&:first) %>'>
    <embed src='<%= asset_path('public/training.swf') %>' quality='high' name='training' align='middle' allowscriptaccess='sameDomain' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer' width='300px' height='80px'>
  </div>
<% end %>
