<% if Time.zone.now > DateTime.parse('2014-06-01T04:00:00+07:00') %>
  <div class='panda'>
    <%= link_to image_tag('public/panda.jpg', :size => '880x80', :alt => 'Фотоконкурс «Суши-селфи»'), 'http://panda.znaigorod.ru' %>
  </div>
<% end %>
