<div class="index">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="/" class='solid_light_blue'>Главная</a><span class='arrow'>&rarr;</span>
      </li>
    </ul>
  </div>

  <h1><%= t collection.first.class.superclass.model_name.human %></h1>

  <div class="filters" id="<%= Affiche == collection.first.class.superclass ? collection.first.class.superclass.model_name.pluralize.underscore : collection.first.class.model_name.pluralize.underscore %>">
    <fieldset>
      <legend>Фильтр</legend>
      <%= render :partial => "#{collection.first.class.superclass.model_name.pluralize.underscore}/filters" %>
    </fieldset>
  </div>

  <div class="list">
    <%= render :partial => 'commons/list', :locals => { :collection => collection, :remote => true } %>
  </div>

</div>
