<div class="index">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="/" class='solid_light_blue'>Главная</a><span class='arrow'>&rarr;</span>
      </li>
    </ul>
  </div>

  <h1><%= t controller_name.singularize %></h1>

  <div class="filters" id="<%= controller_name %>">
    <fieldset>
      <legend>Фильтр</legend>
      <%= render :partial => "#{controller_name =~ /affiches/ ? controller_name : 'organizations'}/filters" %>
    </fieldset>
  </div>

  <div class="list">
    <%= render :partial => 'commons/list', :locals => { :collection => collection, :remote => true } %>
  </div>
</div>
