<h3><a href='#' class='dashed_deep_blue'>Вкусно</a></h3>
<ul class='subcategory_item'>
  <li class=''>
    <div class='item_wrapper'>
      <a href="#" class='mini_poster'><img src="http://flickholdr.com/79/79/movie/<%= Random.new.rand(1..1000) %>" class='stamp'/></a>
      <div class='description'>
        <a href='#' class='solid_dark_gray'>История о том, как трусливый Джесси Джеймс убил Роджера Форда</a>
      </div>
    </div>
  </li>
  <li class=''>
    <div class='item_wrapper'>
      <a href="#" class='mini_poster'><img src="http://flickholdr.com/79/79/movie/<%= Random.new.rand(1..1000) %>" class='stamp'/></a>
      <div class='description'>
        <a href='#' class='solid_dark_gray'>История о том, как трусливый Джесси Джеймс убил Роджера Форда</a>
      </div>
    </div>
  </li>
  <li class='opened last'>
    <div class='item_wrapper'>
      <a href="#" class='mini_poster'><img src="http://flickholdr.com/79/79/movie/<%= Random.new.rand(1..1000) %>" class='stamp'/></a>
      <div class='description'>
        <a href='#' class='solid_dark_gray'>История о том, как трусливый Джесси Джеймс убил Роджера Форда</a>
      </div>
    </div>
  </li>
</ul>
