<h3><a href='#'>Вкусно</a></h3>
<ul class='item'>
  <li>
    <div class="item_wrapper">
      <a href="#" class='mini_poster'><img src="http://placekitten.com/96/96" class='stamp' /></a>
      <div class="description">
        <a href='#'>История о том, как трусливый Джесси Джеймс убил Роджера Форда</a>
      </div>
    </div>
  </li>
  <li>
    <div class="item_wrapper">
      <a href="#" class='mini_poster'><img src="http://placekitten.com/96/96" class='stamp' /></a>
      <div class="description">
        <a href='#'>История о том, как трусливый Джесси Джеймс убил Роджера Форда</a>
      </div>
    </div>
  </li>
  <li>
    <div class="item_wrapper opened">
      <a href="#" class='mini_poster'><img src="http://placekitten.com/96/96" class='stamp' /></a>
      <div class="description">
        <a href='#'>История о том, как трусливый Джесси Джеймс убил Роджера Форда</a>
      </div>
    </div>
  </li>
</ul>
