<%= render :partial => 'affiches/affiche_today' %>

<div class="main_page_block_wrapper was_in_city">
  <div class="main_page_block">
    <h1><strong>Было</strong> в городе</h1>
  </div>
</div>

<div class="main_page_block_wrapper more_in_city">
  <div class="main_page_block">
    <ul>
      <li><a href="#">Отчёты за неделю (5)</a></li>
      <li><a href="#">Отчёты за месяц (12)</a></li>
      <li><a href="#">Все отчёты (32)</a></li>
    </ul>
  </div>
</div>

<div class="main_page_block_wrapper organizations_in_city">
  <div class="main_page_block">
    <h1><strong>Заведения</strong> города</h1>
  </div>
</div>

<div class="main_page_block_wrapper more_in_city">
  <div class="main_page_block">
    <ul>
      <li><a href="#">Все заведения (131)</a></li>
    </ul>
  </div>
</div>
