<div class="main_page_block">
  <div class="right_wrapper">
    <div class="wide_block">
      <h3><a href='/affiches' class='solid_dark_gray'>Афиша</a></h3>
      <div class="category">
        <ul>
          <li><a href="#" class='solid_light_blue'>Кино</a></li>
          <li><a href="#" class='solid_light_blue'>Спектакли</a></li>
          <li><a href="#" class='solid_light_blue'>Выставки</a></li>
          <li><a href="#" class='solid_light_blue'>Концерты</a></li>
          <li><a href="#" class='solid_light_blue'>Вечеринки</a></li>
          <li><a href="#" class='solid_light_blue'>Спорт</a></li>
        </ul>
      </div>
      <div class="affiche">
        <div class="poster_wrapper">
          <div class="poster">
          </div>
        </div>
        <div class="previews_wrapper">
          <ul class='previews'>
            <li>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/1940/254-121!/2011-11-30_LTE-02_600.jpg" alt="Мстители" title='Мстители' /></a>
            </li>
            <li>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/1374/254-121!/photo_48617.jpg" alt="1+1" title='1+1' /></a>
            </li>
            <li>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/1948/254-121!/IMG_4831.jpg" alt="Мрачные тени" title='Мрачные тени' /></a>
            </li>
            <li class='last'>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/2335/254-121!/sib_326_023-1_jpg_625x625_q70.jpg" alt="Deep purple" title='Deep purple' /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="thin_block">
    <h3><a href='#' class='solid_dark_gray'>Сегодня в городе</a></h3>
    <ul>
      <li>
        <div class="top">
          <div class="time">13:40</div>
          <div class="title">
            <a href="#" class='solid_light_blue'>Кто подставил кролика Роджера</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Кино</a></div>
          <div class="location">Киномакс</div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="time">14:20</div>
          <div class="title">
            <a href="#" class='solid_light_blue'>Кому на Руси жить хорошо</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Спектакли</a></div>
          <div class="location">Томский театр драмы</div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="time">14:25</div>
          <div class="title">
            <a href="#" class='solid_light_blue'>Чемпионат по боулингу среди детей от 3-х лет</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Спорт</a></div>
          <div class="location">Rocco bar</div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="time">15:00</div>
          <div class="title">
            <a href="#" class='solid_light_blue'>Hardcore Halloween</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вечеринки</a></div>
          <div class="location">Fакел</div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="time">15:05</div>
          <div class="title">
            <a href="#" class='solid_light_blue'>Трансляция футбольного матча Конь-Чебуреки</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Спорт</a></div>
          <div class="location">Стадион Труд</div>
        </div>
      </li>
    </ul>
    <a href="#" class='solid_light_blue link'>Все события сегодня</a>
  </div>

</div>

<div class="main_page_block">
  <div class="right_wrapper">
    <div class="wide_block">
      <h3><a href='#' class='solid_dark_gray'>Заведения города</a></h3>
      <div class="category">
        <ul>
          <li><a href="#" class='solid_light_blue'>Еда</a></li>
          <li><a href="#" class='solid_light_blue'>Развлечения</a></li>
          <li><a href="#" class='solid_light_blue'>Занятия спортом</a></li>
        </ul>
      </div>

      <div class="hot_offer">
        <ul>
          <li>
            <a href="#" class='icon business_lunch'></a>
          </li>
          <li>
            <a href="#" class='icon wifi'></a>
          </li>
          <li>
            <a href="#" class='icon cantina'></a>
          </li>
        </ul>
      </div>
      <div class="hot_offer">
        <ul>
          <li>
            <a href="#" class='icon pizzeria'></a>
          </li>
          <li>
            <a href="#" class='icon breakfast'></a>
          </li>
          <li>
            <a href="#" class='icon coffee_house'></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="thin_block">
    <h3><a href='#' class='solid_dark_gray'>Новое на сайте</a></h3>
    <ul>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Кафе "Три баяниста"</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вкусно</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Ресторан "Пармезан"</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вкусно</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Выставка кошек</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Выставки</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Hardcore Halloween</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вечеринки</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Трансляция футбольного матча Конь-Чебуреки</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Спорт</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
