<div class="title">
  <%= link_to review.title, review_path(review) %>
</div>

<div class="details">
  <span class="show_tipsy comments" title="Комментарии">5 <%#= review.comments.count %></span>
  <span class="show_tipsy likes" title="Понравилось">3 <%#= review.likes_count %></span>
  <span class="show_tipsy visits" title="Просмотры">100 <%#= review.page_visits.count %></span>
</div>

<div class="date">
  <%= review.created_at %>
</div>

<div class="annotation">
  <% if review.gallery_images %>
    <ul class="images">
    <% review.gallery_images.limit(6).each_with_index do |image, index| %>
      <li>
        <% if index == 0 %>
          <%= image_tag resized_image_url(image.file_url, 230, 166), :size => "230x166", :alt => review.title, :title => review.title %>
        <% else %>
          <%= image_tag resized_image_url(image.file_url, 115, 83), :size => "115x83", :alt => review.title, :title => review.title %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
