<% if review.has_annotation_gallery? %>
  <ul class="images">
    <% if controller_path == 'my/reviews' && action_name == 'index' %>
      <%= review.annotation_gallery(185, 104) %>
    <% elsif controller_path == 'reviews' && action_name == 'show' %>
      <%= review.annotation_gallery(142, 80) %>
    <% else %>
      <%= review.annotation_gallery %>
    <% end %>
    <span class="counter fa fa-camera"> <%= review.all_images.size %></span>
  </ul>
<% end %>
