<% cache("review_#{review.useful_type}_#{review.id}_#{controller_name}_#{width}_#{height}", expires_in: 10.minutes) do %>
  <%= link_to image_tag(review.annotation_image(width, height), :size => "#{width}x#{height}"), review_path(review),
    :class => 'js-video-preview',
    :data => { :video => { :src => review.content_parser.videos.first.src, :width => '700' } } %>

  <div class="text">
    <%= review.content_for_index %>
  </div>
<% end %>
