<%= link_to image_tag(review.annotation_image(width, height), :size => "#{width}x#{height}"), review_path(review),
  :class => 'js-video-preview',
  :data => { :video => { :src => review.content_parser.videos.first.src, :width => '700' } } %>

<div class="text">
  <%= review.content_for_index %>
</div>
