<div class="title">
  <%= review.title %>
</div>

<div class="details">
  <span class="show_tipsy comments" title="Комментарии">5 <%#= review.comments.count %></span>
  <span class="show_tipsy likes" title="Понравилось">3 <%#= review.likes_count %></span>
  <span class="show_tipsy visits" title="Просмотры">100 <%#= review.page_visits.count %></span>
</div>

<div class="date">
  <%= review.created_at %>
</div>

<div class="description">
  <%= review.content_for_show %>

  <ul class="gallery js-gallery">
    <%= render :partial => 'reviews/gallery', :locals => { :review => @review } if @review.is_a?(ReviewPhoto) %>
  </ul>
</div>
