<div class="left">
  <%= render 'review' %>

  <div class="author">
    <%= render :partial => 'commons/author', :locals => { :account => @review.account } %>
  </div>

  <%= render :partial => 'commons/yandex_direct' if Rails.env.production? %>

  <div class="share_and_likes">
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => review_url(@review) } %>
  </div>
</div>

<div class="right">
  <h2>Похожие обзоры:</h2>
  <ul class="similar">
  </ul>
</div>
