<p>
<%= link_to feed_vote_comment.voteable.commentable.title, feed_vote_comment.voteable.commentable %>
</p>
<p>
Нравится комментарий
</p>
<p>
<%= link_to feed_vote_comment.voteable.user.name, feed_vote_comment.voteable.user.account %>: <%= feed_vote_comment.voteable.body %>
</p>
