<% @users.each_slice(6) do |users| %>
  <ul class="liked">
    <% users.each do |user| %>
      <li>
        <% if user.profile %>
          <div class='user_item'>
            <%= link_to image_tag(user.avatar, :size => "50x50", :title => user.name), user.profile, target: '_blank' if user.avatar.present? %>
            <%= link_to truncate(user.name, :length => 15), user.profile, :class => 'name', :title => user.name %>
          </div>
        <% else %>
          <div class='user_item'>
            <%= image_tag user.avatar, :size => "50x50", :title => user.name if user.avatar.present? %>
            <span class='name'><%= user.name %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

