<div class="suborganization_info car_service_center">

  <div class='title'><%= car_service_center.title.text_gilensize %></div>

  <%= car_service_center.htmlise_offers_and_features_on_show %>

  <%= content_tag :div, car_service_center.description.as_html, :class => :description if car_service_center.description.present? %>

  <% if car_service_center.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render car_service_center.gallery_images, :rel => "car_service_center_gallery_#{car_service_center.id}" %>
      </ul>
    </div>
  <% end %>

</div>
