<div class="suborganization_info car_service_center">
  <table>
    <tr>
      <td class='border'>
        <%= car_service_center.htmlise_title_on_show %>
      </td>
      <td>
        <%= car_service_center.iconize_info %>
        <div class="details">
          <%= car_service_center.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if car_service_center.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render car_service_center.gallery_images, :rel => "car_service_center_gallery_#{car_service_center.id}" %>
      </ul>
    </div>
  <% end %>
</div>
