<% content_for :page_title, 'Отзывы и предложения. ЗнайГород' %>

<% content_for :verify_reformal do %>
  <meta name='verify-reformal' content='de04fd7b8e7499f228171212' />
<% end %>

<div class='feedback'>
  <h1>Отзывы и предложения</h1>
  <iframe frameborder="0" src="http://reformal.ru/widget/63616"></iframe>
</div>
