<% content_for :page_title, 'Отзывы и предложения. ЗнайГород' %>

<div class='feedback'>
  <h1>Отзывы и предложения</h1>
  <iframe frameborder="0" src="http://reformal.ru/widget/63616"></iframe>
</div>
