<div>
  <span class="label"><%= object.class.human_attribute_name(field) %>:</span>
  <% if object.send(field).present? %>
    <% if %w[title default maximal floors lounges size water_filter].include?(field) %>
      <% if object.send(field).is_a?(Integer) && object.send(field).zero? %>
        <span class="blank">Не указано</span>
      <% else %>
        <span class="value"><%= object.send(field) %></span>
      <% end %>
    <% else %>
      <span class="value">
        <% if object.send(field).eql?(true) %>
          да
        <% else %>
          <%= object.send(field).zero? ? "Бесплатно" : "#{object.send(field)} руб." %>
        <% end %>
      </span>
    <% end %>
  <% else %>
    <span class="blank">Не указано</span>
  <% end %>
</div>
