<li>
  <%= link_to post_image.attachment_url, :rel => rel do %>
    <%= image_tag(resized_image_url(post_image.attachment_url, 130, 99), :size => '130x99', :alt => post_image.post.title) %>
  <% end %>
</li>
