<li>
  <%= render :partial => 'accounts/avatar',
    :locals => { :account => account, :width => 35, :height => 35, :title => account } %>

  <div class="details">
    <%= link_to(account, account, :class => :name) %>
  </div>
</li>
