<% if current_user && discount.has_member_for?(current_user.account) %>
  <li class="selected">
    <%= link_to 'Участвовать', [discount, discount.member_for(current_user.account)], :method => :delete, :remote => true, :class => 'participate' %>
  </li>
<% else %>
  <li>
    <%= link_to 'Участвовать',
      discount_members_path(discount),
      :class => 'participate share_to_vk',
      :method => :post,
      :remote => true,
      :onClick => 'share_on_click(this);',
      'data-owner_id' => current_user.try(:vk_uid),
      'data-message' => "Участвую в \"#{discount.title}\"",
      'data-attachments' => data_attachments(discount) %>
  </li>
<% end %>

<% if discount.price %>
  <li>
    <% if discount.price.zero? %>
      <%= link_to 'Получить код', new_discount_copy_payment_path(discount), :class => 'payment_link', :remote => true %>
    <% else %>
      <%= link_to 'Купить', new_discount_copy_payment_path(discount), :class => 'payment_link', :remote => true %>
    <% end %>
  </li>
<% end %>
