<div class="members">
  <div class="members_counter">
    <h2>Покупатели</h2>
    <span class="members_count"><%= t('discount.members', :count => @discount.members.count) %></span>
  </div>

  <div class="list">
    <ul class="avatars">
      <% @members.each do |member| %>
        <%= render partial: 'members/member', :locals => { :account => member.account } %>
      <% end %>
    </ul>

    <% unless @members.first_page? && @members.last_page? %>
      <div class="pagination">
        <%= link_to '&uarr;'.html_safe, '#', :class => "toggler #{ 'disabled' if @members.first_page? }" %>
        <%= link_to '&darr;'.html_safe, discount_members_path(@discount, :page => @members.current_page + 1), :class => "next_page #{ 'disabled' if @members.last_page? }" %>
      </div>
    <% end %>
  </div>
</div>
