<div class="social_actions">
  <ul class="user_actions">
    <%= render :partial => 'members/member_link', :locals => { :discount => discount } %>
  </ul>

  <% unless discount.constant? %>
    <% if discount.goes_now? %>
      <div class="counter">
        <h2>До завершения осталось</h2>
        <div class="countdown" data-countdown_time="<%= discount.countdown_time %>"></div>
      </div>
    <% elsif discount.will_goes? %>
      <div class="counter">
        <h2>До начала осталось</h2>
        <div class="countdown" data-countdown_time="<%= discount.countdown_time %>"></div>
      </div>
    <% end %>
  <% end %>

  <%= render :partial => 'members/members' %>
</div>
