<div class="item">
  <div class="title">
    <%= link_to account, account %>
  </div>

  <div class="image">
    <% if account.avatar.present? %>
      <%= image_tag account.avatar, width: '178' %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '178x178' %>
    <% end %>
  </div>

  <div class="badges"></div>
</div>
