<div class="poster">
  <% if payment.paymentable.afisha.poster_url? %>
    <%= image_tag(resized_image_url(payment.paymentable.afisha.poster_url, 40, 54), size: '40x54') %>
  <% else %>
    <%= image_tag 'public/stub_poster.png', size: '40x54' %>
  <% end %>
</div>
<div class="user_comment">
  <div class="kind">
    <%= t("user_activity.kind.#{payment.paymentable.class.name.downcase}") %>
  </div>
  <div class="title">
    <%= link_to payment.paymentable.afisha.title, afisha_show_path(payment.paymentable.afisha) %>
  </div>
</div>
