<div class="item">
  <div class="title">
    <%= link_to truncate(account.title, length: 24), account %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(account.avatar.url, 178, 178), size: '178x178', title: account, alt: account), account_path(account) %>
  </div>

  <div class="badges"></div>
</div>
