<div class="poster">
  <% if vote.voteable.poster_url? %>
    <%= image_tag(resized_image_url(vote.voteable.poster_url, 80, 105, true), size: '80x105') %>
  <% else %>
    <%= image_tag 'public/stub_poster.png', size: '80x105' %>
  <% end %>
</div>
<div class="user_comment">
  <div class="kind">
    <%= t("user_activity.kind.#{vote.voteable_type.downcase}") %>
  </div>
  <div class="title">
    <%= link_to vote.voteable.title, afisha_show_path(vote.voteable) %>
  </div>
</div>
