<ul>
<% followers.each do |account| %>
  <li>
    <% if account.avatar.present? %>
      <%= image_tag account.avatar, size: '23x23' %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '23x23' %>
    <% end %>
    <%= link_to account, account %>
  </li>
<% end %>
</ul>
