<div class="account_info">
  <% if !account.birthday.nil? %>
    <div class="row">
      <div class="label_cell">
        День рождения:
      </div>
      <div class="content_cell">
        <%= I18n.l(account.birthday, :format => '%d %B %Y')  %>
      </div>
    </div>
  <% end %>
  <% if !account.gender.nil? %>
    <div class="row">
      <div class="label_cell">
        Пол:
      </div>
      <div class="content_cell">
        <%= t(account.gender) %>
      </div>
    </div>
  <% end %>
</div>
