<div class="account_info">
  <div class="row">
    <div class="label_cell">
      День рождения:
    </div>
    <div class="content_cell">
      <%= I18n.l(account.birthday, :format => '%d %B %Y') if !account.birthday.nil? %>
    </div>
  </div>
  <div class="row">
    <div class="label_cell">
      Пол:
    </div>
    <div class="content_cell">
      <%= t(account.gender) if !account.gender.nil?%>
    </div>
  </div>
</div>
