<%= render partial: 'comments/account_comments', locals: { collection: @comments } %>

<div class="pagination">
  <%= link_to '', account_comments_path(@account, :page => @comments.current_page + 1), :remote => true, :class => 'next_page closed' unless @comments.last_page? %>
</div>
