<div class='filters_wrapper'>
  <div class='filters account'>
    <div class='by_kind'>
      <ul>
        <li class="all"><%= link_to 'Все пользователи', accounts_path %></li>
        <li class="admins"><%= link_to 'Администраторы', accounts_path %></li>
        <li class="afisha_editors"><%= link_to 'Авторы афиш', accounts_path %></li>
      </ul>
    </div>
  </div>
</div>
