<div class="accounts_list">
  <ul class="posters">
    <%= render :partial => 'accounts/account_posters', :locals => { collection: @presenter.collection } %>
  </ul>
</div>

<%= paginate @presenter.collection %>
