<div class='presentation_filters account'>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            accounts_path(sortings_link[:parameters]),
            :class => sortings_link[:parameters][:order_by] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="accounts_list">
  <ul class="posters">
    <%= render :partial => 'accounts/account_posters', :locals => { collection: @presenter.collection } %>
  </ul>
</div>

<%= paginate @presenter.collection %>
