<% content_for :account_content do %>
  <div class='feeds'>
    <div class='line'>
      <h3>
        Новости
      </h3>
    </div>
    <%= render 'feeds_filters' %>
    <% if @feeds_presenter.collection.any? %>
      <ul class='feed'>
        <%= render @feeds_presenter.collection %>
      </ul>
      <% unless @feeds_presenter.collection.first_page? && @feeds_presenter.collection.last_page? %>
        <div class="feed_pagination">
          <%= link_to ''.html_safe, account_feeds_path(@account, :page => @feeds_presenter.collection.current_page + 1, :kind => @feeds_presenter.kind_filter.kind), :class => "next_page #{ 'disabled' if @feeds_presenter.collection.last_page? }", :remote => true %>
        </div>
      <% end %>
    <% else %>
      Ничего не найдено =(
    <% end %>
  </div>
<% end %>

<%= render file: "accounts/wrapper" %>
